<form class="modal" [formGroup]="addCardForm">
  <h1>{{ data.card?.id ? "Editar" : "Novo" }} card</h1>

  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" placeholder="Ex. Meu card" />

    @if (!addCardForm.controls.name.hasError('required')) {
    <mat-error>Insira um nome válido</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Conteúdo</mat-label>
    <textarea matInput formControlName="content" placeholder="Ex. Meu card" rows="3"></textarea>
  </mat-form-field>

  <div class="button-group">
    <button (click)="createOrEditCard()" mat-flat-button color="primary">
      {{ data.card?.id ? "Editar" : "Novo" }} card
    </button>
    @if(data.card?.id){
    <button (click)="deleteCard()" mat-flat-button color="warn">
      Deletar card
    </button>
    }
    <button class="close-modal" (click)="closeDialog()" mat-flat-button color="secondary">
      Fechar modal
    </button>
  </div>
</form>
