<div class="container-master">
  <app-choose-header></app-choose-header>
  <div class="container">
    <h1>Skins</h1>
    <div class="search-header">
      <div class="container-search">
        <form>
          <input type="text" placeholder="Busque pela arma ou coleção" (input)="search($event)">
        </form>
      </div>
      <div class="page-controller">
        <mat-paginator [length]="this.apiService.skins.length" [pageSize]="10" [hidePageSize]="true" [ngStyle]=""
          (page)="OnPageChange($event)">
        </mat-paginator>
      </div>
    </div>

    <div class="agents-list">
      <div class="card" *ngFor="let skin of pageSlice">
        <div class="content">
          <h2>{{ skin.displayName }}</h2>
          <img src="{{ skin.displayIcon }}" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>

</div>