<div class="container-master">
  <app-choose-header></app-choose-header>

  <div class="container">
    <h1>Skins</h1>
    <div class="search-header">
      <div class="inside-search">
        <form class="input-form">
          <input type="text" placeholder="Busque pela arma ou coleção" (input)="search($event)">
        </form>
        <mat-paginator class="paginator" [length]="this.apiService.skins.length" [pageSize]="10" [hidePageSize]="true"
          [ngStyle]="" (page)="OnPageChange($event)">
        </mat-paginator>
      </div>
    </div>

    <div class="skin-list-container">
      <!-- <ul class="skin-list">
        <li class="skin" *ngFor="let skin of pageSlice">
          <h2>{{ skin.displayName }}</h2>
          <img src="{{ skin.displayIcon }}" alt="" srcset="" />
        </li>
      </ul> -->
      <table class="skin-list">
        <tr *ngFor="let skin of pageSlice">
          <td>
            <h2>{{ skin.displayName }}</h2>
          </td>
          <td><img src="{{ skin.displayIcon }}" alt="" srcset="" /></td>
        </tr>
      </table>
    </div>
  </div>

</div>