.container-master {
    text-align: center;
    align-items: center;
    justify-content: center;

    .container {
        text-align: center;
        align-items: center;
        justify-content: center;

        h1 {
            margin-top: 1rem;
            color: white;
        }

        .search-header {
            margin: 50px 10px;


            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;

            .inside-search {
                border: 5px solid white;
                border-radius: 2rem;
                display: flex;
                margin: 0 auto;
                padding: 0 1.2rem;
                background-color: white;
            }
        }

        .input-form input {
            font-size: 16px;
            border: none;
            padding: 16px;
        }

        .input-form input:focus {
            outline: none;
        }
    }

    .skin-list {
        margin: 0 auto;

        td h2 {
            text-align: left;
        }

        td img {
            min-height: 70px;
            max-height: 70px;
        }

        .skin {
            gap: 50px;
            width: 50%;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                color: white;
            }

            img {
                height: 80px;
            }
        }
    }
}