/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Vars */
:root {
  --bluelight: #3a3e64;
  --blue: #2b2e4a;
  --darkblue: #313454;
  --white: #fff;
  --gray0: #f1f1f3;
  --gray1: #e4e4e8;
  --gray2: #ccccd3;
  --gray3: #6c7279;
  --gray4: #9d9fb2;
  --gray5: #808080;
  --wine: #53354a;
  --red: #e84545;
}

/* Globals Class */

.container {
  width: 73.125rem;
  margin-inline: auto auto;
}

.button {
  padding: 1rem 3.5rem;
  font-size: 0.8125rem;
  font-weight: 600;
  border-radius: 0.125rem;
  text-transform: uppercase;
  transition: .3s box-shadow;
}

.button:hover {
  box-shadow: inset 0 0 1.25rem rgba(0,0,0,0.5);
}

.hiddenElement {
  display: none;
}

/* Animation */
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
