.menu-active {
  overflow-y: hidden;
}

.menu-active .navbar-nav {
  right: 0;
}

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  transition: all .3s;
  z-index: 100;
}

.scrolled {
  background-color: rgb(40, 43, 73);
}

.no-border {
  border: none !important;
  padding: 1em 0 !important;
}

.navbar [class*='-menu'] {
  color: rgb(225, 225, 225);
}

.navbar .content {
  width: 90%;
  padding: 1.5em 0;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgba(150, 150, 150, .5);
  transition: all .3s;
}

.navbar-brand img {
  width: 80%;
}

.navbar-nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(40, 43, 73, .95);
  transition: right .3s;
}

.open-menu {
  font-size: 1.2em;
  margin: 0 5%;
}

.close-menu {
  text-align: right;
  font-size: 1.3em;
  position: absolute;
  top: 1.5em;
  right: 10%;
}

.menu {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  
.menu-item {
  text-align: center;
  display: block;
}
  
.menu-item a {
  font-size: 2em;
  font-weight: bold;
}