/* Global styles */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Cardo:ital@1&display=swap');

body {
    background-color: #eeeeee;
    font-family: 'Raleway', 'Arial Narrow', Arial, sans-serif;
    font-size: 11pt;
}

.section-spacer {
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn {
    border: none;
    border-radius: 0;
    font-size: 9pt;
    line-height: 20pt;
}

.bg-red {
    background-color: rgb(232, 69, 69);
}

.text-red {
    color: rgb(232, 69, 69);
}

.text-grey {
    color: #888888;
}

.text-bold {
    font-weight: bold;
}

.text-9 {
    font-size: 9pt;
}

.font-13 {
    font-size: 13pt;
}

.social-media {
    margin: 2px;
    padding: 8px;
    width: 38px;
    height: 38px;
    border: solid 1px #bbbbbb;
    color: #bbbbbb
}

.social-media:hover {
    border: solid 1px #666666;
    color: #666666;
}

.emoji {
    font-family: 'emoji';
}

/* Navbar */

nav.navbar {
    background-color: transparent;
    border-bottom: solid 1px rgba(145, 145, 145, 0.6);
}

span.logo-special {
    font-weight: 900;
    color: rgb(66, 66, 209);
}

/* Header */

.overlay {
    background-color: rgba(58, 62, 99, 0.94);
    position: relative;
    height: 100%;
}

header#page-header {
    background-image: url('../assets/img/desk.jpg');
    height: 100%;
    width: 100%;

    background-position: center center;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    background-size: cover; 
    -o-background-size: cover;
    background-color: tomato;
}

header#page-header .row {
    padding-top: 8%;
    padding-bottom: 10%
}

.header-title {
    font-family: 'Open Sans', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 42pt;
}

/* Features */

#features {
    margin-bottom: 8%;
}

.feature img {
    margin: 2rem;
}

/* Products */

.product {
    width: 99.9%;
    overflow: hidden;
    border: solid 1px #eeeeee;
    object-fit: cover;
    -o-object-fit: cover;
}

.product-overlay {
    background-color: rgba(232, 69, 69, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding-top: 25%;
}

.product-overlay:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.product img {
    margin: -75px 0 0 -100px;
}

/* Clients */

.carousel-background {
    background-color: rgb(82, 53, 73);
    padding: 7% 13% 5% 5%;
}

@media (min-width: 992px) {
    .carousel-indicators {
        left: 14.2rem;
    }    
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border: 2px solid transparent;
    border-radius: 12px;
}

.client-quote {
    font-family: 'Cardo', 'Arial Narrow', Arial, sans-serif;
    font-size: 28pt;
}

/* Footer */

footer {
    background-color: rgb(58, 62, 99);
}

footer .contact-bar {
    padding-top: 5%;
    padding-bottom: 5%;
}

footer .copy-bar {
    background-color: rgb(48, 51, 84);
}