*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 72px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 15px;
  }
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-hero {
  background-image: url(../img/bg-hero.jpg);
  height: 750px;
}
@media screen and (max-width: 960px) {
  .bg-hero {
    height: 550px;
  }
}

.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 256px 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 960px) {
  .main {
    padding-top: 160px;
  }
}
@media screen and (max-width: 540px) {
  .main {
    padding-top: 140px;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-item {
  max-width: 350px;
  padding: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.features-item img {
  max-width: 80px;
}

.gallery {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  width: 480px;
  height: 350px;
  margin-bottom: 1px;
  opacity: 1;
}
@media screen and (max-width: 960px) {
  .gallery-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
@media screen and (max-width: 540px) {
  .gallery-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.gallery-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-1 {
  background-image: url(/img/img1.jpg);
}

.img-2 {
  background-image: url(/img/img2.jpg);
}

.img-3 {
  background-image: url(/img/img3.jpg);
}

.img-4 {
  background-image: url(/img/img4.jpg);
}

.img-5 {
  background-image: url(/img/img5.jpg);
}

.img-6 {
  background-image: url(/img/img6.jpg);
}

.img-7 {
  background-image: url(/img/img7.jpg);
}

.img-8 {
  background-image: url(/img/img8.jpg);
}

.gallery-item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 960px) {
  .team {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team-item {
  max-width: 290px;
  padding: 15px;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 960px) {
  .team-item {
    margin-bottom: 32px;
  }
}

.team-photo {
  width: 260px;
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo-1 {
  background-image: url(/img/ruth-woods.jpg);
}

.photo-2 {
  background-image: url(/img/timothy-reed.jpg);
}

.photo-3 {
  background-image: url(/img/victoria-valdez.jpg);
}

.photo-4 {
  background-image: url(/img/beverly-little.jpg);
}

.team-item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-item-social-icons {
  opacity: 1;
  border: 1px solid #c6cacc;
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team-item-social-icons:hover {
  border: 1px solid #e84545;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #53354a;
}

.testimonials-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
@media screen and (max-width: 540px) {
  .testimonials-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.testimonial-photo {
  background-image: url(/img/img-testimonial.jpg);
  background-size: cover;
  background-position: center;
}

.bquote {
  max-width: 500px;
  margin-top: 96px;
  margin-left: 72px;
  padding: 15px 15px 15px 0;
}
@media screen and (max-width: 960px) {
  .bquote {
    margin-top: 64px;
    margin-left: 36px;
  }
}
@media screen and (max-width: 540px) {
  .bquote {
    margin-top: 48px;
  }
}

.dot {
  margin-left: 270px;
  margin-bottom: 96px;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 960px) {
  .dot {
    margin: 32px 0 64px 140px;
  }
}

.dot-item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.2;
}

.active-dot {
  opacity: 1;
}

.cta {
  padding: 82px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  background-color: #3a3e64;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 64px 15px 48px;
}
@media screen and (max-width: 960px) {
  .container-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 48px 15px 24px;
  }
}

.footer-item {
  padding: 10px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-item:last-child {
  max-width: 340px;
}

.footer-item-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icons {
  opacity: 1;
  border: 2px solid #fff;
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-icons:hover {
  border: 2px solid #e84545;
}

.icons:hover {
  fill: #e84545;
}

.copy-bg {
  width: 100%;
  background-color: #313454;
}

.copy-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 29px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.copy-container img {
  display: inline-block;
}

.copy-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  text-transform: uppercase;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  line-height: 71px;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h2 {
  color: #2d3033;
  font-weight: 300;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  line-height: 21px;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 120%;
  }
}
@media screen and (max-width: 540px) {
  h2 {
    max-width: 300px;
  }
}

h3 {
  color: #2d3033;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 140%;
  }
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
  color: #2d3033;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 140%;
  }
}

p {
  color: #6c7279;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 21px;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    line-height: 150%;
  }
}

.main p {
  color: #fff;
  margin-bottom: 72px;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: 33px;
}
@media screen and (max-width: 960px) {
  .main p {
    max-width: 700px;
    margin-bottom: 48px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 140%;
  }
}
@media screen and (max-width: 540px) {
  .main p {
    margin-bottom: 32px;
  }
}

.gallery a span {
  color: #fff;
}
.gallery a span:first-child {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 5px;
}
.gallery a span:last-child {
  font-weight: 400;
  text-transform: none;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 120%;
}

.gallery-item-name {
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.gallery-item-name span:hover {
  opacity: 1;
}
.gallery-item-name:hover {
  opacity: 0.9;
  background-color: #e84545;
}

.team-data span {
  color: #e84545;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 120%;
}

.text-center {
  text-align: center;
}

.quotes p {
  color: #fff;
  font-family: "Cardo", serif;
  font-size: 36px;
  line-height: 42px;
}
@media screen and (max-width: 960px) {
  .quotes p {
    font-family: "Cardo", serif;
    font-size: 24px;
    line-height: 120%;
  }
}

.quotes cite {
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 120%;
}

.cta span {
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 120%;
}

.footer-item h4 {
  color: #fff;
}
.footer-item p {
  color: #fff;
  opacity: 0.5;
}

.copy-item span {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 22.5px;
}
.copy-item span:first-child {
  color: #808080;
}
.copy-item span:last-child {
  color: #fff;
}

a {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 120%;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  opacity: 0.75;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
a:hover {
  color: #e84545;
  opacity: 1;
}

.btn {
  background-color: #e84545;
  padding: 17px 50px;
  border-radius: 2px;
  font-weight: 600;
  opacity: 1;
}
.btn:hover {
  background-color: #e82d2d;
  color: #fff;
}

.btn-cta {
  padding: 17px 83px;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 8px !important;
}

.m-2 {
  margin: 16px !important;
}

.m-3 {
  margin: 24px !important;
}

.m-4 {
  margin: 32px !important;
}

.m-5 {
  margin: 48px !important;
}

.m-6 {
  margin: 64px !important;
}

.m-7 {
  margin: 72px !important;
}

.m-8 {
  margin: 96px !important;
}

.m-9 {
  margin: 128px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 8px !important;
}

.mt-2 {
  margin-top: 16px !important;
}

.mt-3 {
  margin-top: 24px !important;
}

.mt-4 {
  margin-top: 32px !important;
}

.mt-5 {
  margin-top: 48px !important;
}

.mt-6 {
  margin-top: 64px !important;
}

.mt-7 {
  margin-top: 72px !important;
}

.mt-8 {
  margin-top: 96px !important;
}

.mt-9 {
  margin-top: 128px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 8px !important;
}

.ml-2 {
  margin-left: 16px !important;
}

.ml-3 {
  margin-left: 24px !important;
}

.ml-4 {
  margin-left: 32px !important;
}

.ml-5 {
  margin-left: 48px !important;
}

.ml-6 {
  margin-left: 64px !important;
}

.ml-7 {
  margin-left: 72px !important;
}

.ml-8 {
  margin-left: 96px !important;
}

.ml-9 {
  margin-left: 128px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 8px !important;
}

.mr-2 {
  margin-right: 16px !important;
}

.mr-3 {
  margin-right: 24px !important;
}

.mr-4 {
  margin-right: 32px !important;
}

.mr-5 {
  margin-right: 48px !important;
}

.mr-6 {
  margin-right: 64px !important;
}

.mr-7 {
  margin-right: 72px !important;
}

.mr-8 {
  margin-right: 96px !important;
}

.mr-9 {
  margin-right: 128px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 24px !important;
}

.mb-4 {
  margin-bottom: 32px !important;
}

.mb-5 {
  margin-bottom: 48px !important;
}

.mb-6 {
  margin-bottom: 64px !important;
}

.mb-7 {
  margin-bottom: 72px !important;
}

.mb-8 {
  margin-bottom: 96px !important;
}

.mb-9 {
  margin-bottom: 128px !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.mx-2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mx-3 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.mx-4 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.mx-5 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.mx-6 {
  margin-left: 64px !important;
  margin-right: 64px !important;
}

.mx-7 {
  margin-left: 72px !important;
  margin-right: 72px !important;
}

.mx-8 {
  margin-left: 96px !important;
  margin-right: 96px !important;
}

.mx-9 {
  margin-left: 128px !important;
  margin-right: 128px !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.my-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.my-3 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.my-4 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.my-5 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.my-6 {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}

.my-7 {
  margin-top: 72px !important;
  margin-bottom: 72px !important;
}

.my-8 {
  margin-top: 96px !important;
  margin-bottom: 96px !important;
}

.my-9 {
  margin-top: 128px !important;
  margin-bottom: 128px !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 8px !important;
}

.p-2 {
  padding: 16px !important;
}

.p-3 {
  padding: 24px !important;
}

.p-4 {
  padding: 32px !important;
}

.p-5 {
  padding: 48px !important;
}

.p-6 {
  padding: 64px !important;
}

.p-7 {
  padding: 72px !important;
}

.p-8 {
  padding: 96px !important;
}

.p-9 {
  padding: 128px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 8px !important;
}

.pt-2 {
  padding-top: 16px !important;
}

.pt-3 {
  padding-top: 24px !important;
}

.pt-4 {
  padding-top: 32px !important;
}

.pt-5 {
  padding-top: 48px !important;
}

.pt-6 {
  padding-top: 64px !important;
}

.pt-7 {
  padding-top: 72px !important;
}

.pt-8 {
  padding-top: 96px !important;
}

.pt-9 {
  padding-top: 128px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 8px !important;
}

.pl-2 {
  padding-left: 16px !important;
}

.pl-3 {
  padding-left: 24px !important;
}

.pl-4 {
  padding-left: 32px !important;
}

.pl-5 {
  padding-left: 48px !important;
}

.pl-6 {
  padding-left: 64px !important;
}

.pl-7 {
  padding-left: 72px !important;
}

.pl-8 {
  padding-left: 96px !important;
}

.pl-9 {
  padding-left: 128px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 8px !important;
}

.pr-2 {
  padding-right: 16px !important;
}

.pr-3 {
  padding-right: 24px !important;
}

.pr-4 {
  padding-right: 32px !important;
}

.pr-5 {
  padding-right: 48px !important;
}

.pr-6 {
  padding-right: 64px !important;
}

.pr-7 {
  padding-right: 72px !important;
}

.pr-8 {
  padding-right: 96px !important;
}

.pr-9 {
  padding-right: 128px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 8px !important;
}

.pb-2 {
  padding-bottom: 16px !important;
}

.pb-3 {
  padding-bottom: 24px !important;
}

.pb-4 {
  padding-bottom: 32px !important;
}

.pb-5 {
  padding-bottom: 48px !important;
}

.pb-6 {
  padding-bottom: 64px !important;
}

.pb-7 {
  padding-bottom: 72px !important;
}

.pb-8 {
  padding-bottom: 96px !important;
}

.pb-9 {
  padding-bottom: 128px !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.px-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.px-3 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.px-4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.px-5 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.px-6 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.px-7 {
  padding-left: 72px !important;
  padding-right: 72px !important;
}

.px-8 {
  padding-left: 96px !important;
  padding-right: 96px !important;
}

.px-9 {
  padding-left: 128px !important;
  padding-right: 128px !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py-2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-3 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.py-4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.py-5 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.py-6 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.py-7 {
  padding-top: 72px !important;
  padding-bottom: 72px !important;
}

.py-8 {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}

.py-9 {
  padding-top: 128px !important;
  padding-bottom: 128px !important;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

header {
  width: 100%;
  height: 100px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: fixed;
  z-index: 999;
}

.active-header {
  background-color: #313454;
  -webkit-box-shadow: 20px 5px 15px 0px rgba(44, 44, 44, 0.15);
          box-shadow: 20px 5px 15px 0px rgba(44, 44, 44, 0.15);
}

.navbar-desktop {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 15px;
  border-bottom: 1px solid #4f5168;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}

.active-navbar-desktop {
  border-bottom: none;
}

.navbar-desktop-item-1 img {
  width: 189px;
  height: 25px;
}

.nav-link-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.nav-link-desktop .menu-item {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-link-desktop .menu-item a {
  text-align: center;
  padding: 12px 16px;
}

.navbar-mobile {
  max-width: 1200px;
  margin: 0 auto;
  padding: 33px 15px;
  display: none;
}
@media screen and (max-width: 960px) {
  .navbar-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bx {
  width: 36px;
  height: 36px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
  z-index: 999;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}
.bx::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 17%;
  width: 70%;
  height: 2px;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  background-color: #fff;
}
.bx::before {
  content: "";
  position: absolute;
  top: 64%;
  left: 17%;
  width: 70%;
  height: 2px;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  background-color: #fff;
}

.active-bx {
  width: 36px;
  height: 36px;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
  z-index: 999;
}
.active-bx::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 17%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  width: 70%;
  height: 2px;
  background-color: #fff;
}
.active-bx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17%;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  width: 70%;
  height: 2px;
  background-color: #fff;
}

.menu-mobile {
  width: 100vw;
  height: 100vh;
  background-color: #313454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -125px, 0);
          transform: translate3d(0, -125px, 0);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}

.nav-list-mobile {
  max-width: 1200px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-link-mobile {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  line-height: 21px;
  padding: 16px 24px;
}