* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-image: linear-gradient(to bottom right, #cdc8c8, #9c9c9c);
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}
