* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
