<div class="card">    
    <div>{{card.content}}</div>
    <div>
        <button (click)="openEditForm()">Editar</button>
        <button (click)="openMoveForm()">Mover</button>
        <button (click)="openDeleteModal()">Excluir</button>
    </div>
    <app-card-edit-form *ngIf="isEditFormOpen" [isOpen]="isEditFormOpen" [card]="card" [columns]="columns"
        (onClose)="isEditFormOpen = false"
        (onSubmit)="editCard($event)"
    ></app-card-edit-form>
    <div class="modal-overlay" *ngIf="isMoveFormOpen">
        <div *ngIf="isMoveFormOpen" class="modal-content">
            <select [(ngModel)]="selectedColumnId">
            <option *ngFor="let column of columns" [value]="column.id">{{column.title}}</option>
            </select>
            <button (click)="moveCard(selectedColumnId)">Mover</button>
            <button (click)="isMoveFormOpen = false">Cancelar</button>
        </div>
    </div>
    <div *ngIf="isDeleteModalOpen" class="modal-overlay">
        <div class="modal-content">
            <h2>Confirmação de exclusão</h2>
            <p>Quer mesmo excluir essa nota?</p>
            <div>
                <button (click)="cancelDelete()">Cancelar</button>
                <button (click)="confirmDelete()">Excluir</button>
            </div>
        </div>
    </div>
</div>