nav {
  align-items: center;
  background-color: rgb(239, 237, 240);
  border: 0.5px solid lightgray;
  bottom: 0px;
  box-shadow: 0 0 0 0.6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
  position: fixed;
  width: 100%;
  z-index: 51;

  .icon {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 36px;

    mat-icon {
      color: black;
    }
  }
}
