.container-column-component {
  display: flex;
  width: 330px;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-grey-600);
  border-radius: 14px;
  padding: 1.6rem;
  gap: 1.4rem;
}

.container-column-title {
  display: inline-flex;
  align-items: center;
  gap: 14px;
}

.container-column-title h2 {
  font-family: Mulish, sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-size: 2.2rem;
}

.container-column-title app-button {
  transform: scale(0.8);
}

.create-task-button {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--color-grey-300);
  color: var(--color-font-white);
  font-size: 18px;
  font-weight: 200;
  font-family: Mulish, sans-serif;
  font-style: italic;
  border-radius: 10px;
  gap: 12px;
}

.container-tasks {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

@media only screen and (max-width: 480px) {
  .container-column-component {
    display: flex;
    width: 280px;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-grey-600);
    border-radius: 14px;
    padding: 1.6rem;
    gap: 1.4rem;
  }
}
