@import "../../styles/functions";
.paginationContainer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  button {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: pickHexByTheme("text-primary");
    background: transparent;
    border: none;
    display: flex;
    align-items: center;

    font-size: 1.2rem;

    svg {
      margin: 0 0.5rem;
    }

    &.active {
      background: pickHexByTheme("hover-and-button");
      color: #fff;
      font-weight: bold;
    }
  }
}
