<header class="flex items-center md:justify-center pb-10 md:pb-4 md:mx-10 mx-5">
  <!-- INFO -->
  <div class="flex items-center gap-2 flex-wrap">
    <a href="https://github.com/FieldControl/valinor" target="_blank" class="font-medium text-base inline dark:text-white hover:underline">Valinor</a>
    <a href="https://angular.io/" target="_blank" class="text-red-700 bg-red-100 hover:bg-red-200/80 dark:text-red-500 dark:bg-red-600/20 dark:hover:bg-red-600/30 px-2 py-1.5 rounded-lg font-semibold text-xs">
      Angular
    </a>
    <a href="https://tailwindcss.com/" target="_blank"  class="text-cyan-700 bg-cyan-100 hover:bg-cyan-200/80 dark:text-cyan-500 dark:bg-cyan-600/20 dark:hover:bg-cyan-600/30 px-2 py-1.5 rounded-lg font-semibold text-xs">
      Tailwind
    </a>
    <a href="https://docs.github.com/en/rest" target="_blank"  class="text-gray-700 bg-gray-100 hover:bg-gray-200/80 dark:text-gray-200 dark:bg-gray-500/20 dark:hover:bg-gray-500/30 px-2 py-1.5 rounded-lg font-semibold text-xs">
      GitHub API
    </a>
  </div>

  <!-- THEME -->
  <button class="absolute right-5 md:right-2 p-2 rounded-full bg-gray-100 hover:bg-gray-200 dark:bg-gray-100/10 dark:hover:bg-gray-100/20" (click)="globalService.toogleTheme()">
    <svg *ngIf="globalService.theme === 'dark'" class="w-6 h-6 text-gray-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
    </svg>
    <svg *ngIf="globalService.theme === 'light'" class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
    </svg>
  </button>
</header>
