<div class="conteiner">
<div class="video">
  <video #myVideoHome autoplay loop>
    <source src="../../../../assets/movies/home.mp4"/>
    Your browser does not support the video tag.
  </video>
</div>
<div class="space"></div>
<div class="conteudo">
  <div class="__space">
    <div class="__block">
      <h1>O Mundo dos Campeões</h1>
      <br />
      League of Legends (LoL) é um renomado jogo de batalha multijogador online
      (MOBA) desenvolvido pela Riot Games. Lançado em 2009, ele redefiniu o
      cenário dos jogos competitivos, atraindo milhões de jogadores em todo o
      mundo. No LoL, os jogadores assumem o papel de Campeões, personagens com
      habilidades únicas, e trabalham em equipe para destruir a base inimiga em
      partidas táticas e emocionantes.
    </div>
    <div class="__block">
      <h1>Competição Global</h1>
      O sucesso duradouro do League of Legends pode ser atribuído à sua rica
      variedade de Campeões, cada um com seu próprio estilo de jogo e papel
      estratégico. O jogo é constantemente atualizado para manter a experiência
      fresca e balanceada, com novos Campeões, skins e eventos temáticos. A cena
      competitiva do LoL é globalmente reconhecida, com torneios de prestígio
      como o Campeonato Mundial, onde as melhores equipes do mundo competem pelo
      título.
    </div>
    <div class="__block">
      <h1>União de Jogadores</h1>
      Além da competitividade, o League of Legends fomenta a colaboração e
      amizades, seja jogando com amigos ou conhecendo jogadores em sua jornada.
      Comunidades ativas, criação de conteúdo, e eventos especiais mantêm os
      jogadores engajados. LoL transcende as fronteiras dos videogames, deixando
      um impacto significativo na cultura popular e estabelecendo-se como um
      marco na indústria dos jogos eletrônicos.
    </div>
  </div>
</div>
<div class="space"></div>
<div class="oak">
  <div class="__block">
    <div class="__image">
      <img src="../../../../assets/imgs/cheeper.png" alt="" />
    </div>
    <div class="__conteudos">
      <div class="__conteudofirst">
        <h1 class="bold">Teamfight Tactics</h1>
        <p class="regular17">
          Teamfight Tactics (TFT) é um jogo de estratégia autônomo da Riot
          Games, inspirado no universo <br />
          de League of Legends. Nele, os jogadores montam times de Campeões para
          combates automáticos <br />
          em um tabuleiro hexagonal, combinando táticas, gestão econômica e
          personalização de itens.
        </p>
      </div>
      <div class="__conteudo-second-and-third">
        <div class="__conteudosecond">
          <h1 class="regular30">Estratégia com Campeões</h1>
          <p class="regular17">
            TFT oferece uma experiência estratégica onde os <br />
            jogadores selecionam Campeões com classes e <br />
            origens únicas, criando combinações para desbloquear <br />
            bônus. Itens coletados também customizam as <br />
            habilidades dos Campeões..
          </p>
        </div>
        <div class="__conteudothird">
          <h1 class="regular30">Ouro e Evolução em TFT</h1>
          <p class="regular17">
            A economia de ouro é vital em TFT, permitindo <br />
            aquisição de Campeões, evolução do time e <br />
            subida de nível. TFT mantém a comunidade <br />
            envolvida com atualizações e modos sazonais, <br />
            oferecendo uma experiência em constante evolução.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
