<!-- navbar do bootstrap com algumas alterações -->
<div class="back">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active"><b>Kanban</b></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Criar</a>
  <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Nova Coluna</a></li>
        <li><a class="dropdown-item" href="#">Novo Card</a></li>
</ul>