<header
  style="
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(39, 39, 39);
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  "
>
  <div
    style="
      margin: 0 auto;
      padding: 0 20px;
      padding-left: 30px;
      display: flex;
      align-items: center;
    "
  >
    <h1 style="color: #2ecc71; font-size: 24px; font-weight: bold; margin: 0">
      Kanban
    </h1>
  </div>
</header>

<!-- Espaço para evitar sobreposição -->
<div style="height: 60px"></div>

<!-- Barra secundária abaixo do header -->
<div class="board-secondary-header">
  <div class="board-header-content">
    <h3>Field Control Board</h3>
    <button (click)="addColumn()">
      Criar Coluna
      <i class="fa fa-plus" aria-label="adicionar Card"></i>
    </button>
  </div>
</div>
