.container {
  min-height: 100vh;
  background-color: white;
  text-align: center;
}

.main-content {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

  img {
    max-width: 100%;
    max-height: 60vh;
  }

  button {
    padding: 10px;
    border-radius: 50%;
  }
}