.profileBox {
  width: 60vh;

  height: max-content;
  max-width: 90%;
  background-color: #282a36de;
  border-radius: 1rem;
  color: var(--white);
}

.imageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin: 1.5rem;
    text-align: center;
    font-size: 1.15rem;
  }

  img {
    width: 12.5rem;
    max-width: 50%;
    margin: 0 0 3.5rem 0;
    clip-path: circle();
  }
}

.searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    padding: 0.5rem;
    width: 300px;
    max-width: 90%;
    margin-bottom: 1.75rem;
    border-radius: 0.35rem;
    border: 0;
    text-align: center;
  }

  div {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  button {
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    border: 0;

    box-shadow: 0.1px 0.1px 0.1px 0.15px;
    background-color: #bfbdc1;
    color: var(--black);
    font-size: 1rem;
    font-weight: 00;

    &:hover {
      color: var(--white);
      box-shadow: none;
      background-color: #63636395;
      transition: 0.3s;
      transform: translateY(-0.2rem) translateX(-0.1rem);
      font-size: 400;
    }
  }
}

.answerBox {
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;
    background: rgba(94, 100, 114, 0.2);
    padding: 0.75rem;
    margin: 2rem;
    border-radius: 0.5rem;

    font-size: 1rem;
  }
}

.repoBox {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    margin: 0.5rem 0 1.5rem 0;
  }

  button {
    display: flex;
    align-items: center;

    background: transparent;
    border: 0;
    color: white;
    padding: 1rem;
    background: rgba(213, 217, 228, 0.1);
    border-radius: 0.5rem;
    font-weight: 500;

    &:hover {
      transition: 0.15s;
      background: rgba(213, 217, 228, 0.2);
      font-size: 400;

      i {
        transition: 0.3s;
        transform: translateY(-0.09rem);
      }
    }

    i {
      display: inline-block;
      font-size: 1.25rem;
      margin-right: 0.75rem;
    }
  }

  span {
    font-size: 1rem;
  }
}
