.table{
    margin-left: 150px;
    margin-top: 50px;
}
.column{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    float: left;
    margin: 5px;
    border-radius: 15px;
    border: 1px solid gray;
    min-height: 300px;
    align-items: center;
}
.menu{
    display:flex;
}
h2{
   padding: 25px;
    width: 100%;
    margin: -25px;
    align-items: center;
}
.cli{
    background-color: #0055FF;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
}
.neg {
    background-color: #0055FF;
    border-radius: 12px;
    color: #fff;
    margin-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
}
.conc {
    background-color: #0055FF;
    border-radius: 12px;
    color: #fff;
    margin-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
}
.canc {
    background-color: #0055FF;
    border-radius: 12px;
    color: #fff;
    margin-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

.card{
    color: #111;
    width: 100%;
    height: 35px;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 15px
}

button{
    background: none;
    border: none;
}
h3{
    padding-left: 15px;
    align-items: center; 
    height: 45px;
    max-width: 270px;
    border: 1px solid #8a878711;
    display: flex; 
   }
.cont { 
    background-color: #32CD32;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    
}
.ped{
    background-color:#D2691E;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
}
.con{
    background-color:#4169E1;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
}
.ent{
    background-color: #FFD700;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 768px) {
.table {
        margin-left: 0;
        margin-top: 20px; 
    }
.column {
        float: none; 
        width: 100%; 
        margin: 0; 
    }

h2 {
        margin: 0;
    }
}
a {
    display: none;
}