<nav class="flex justify-between items-center mx-auto h-20 max-h-20 max-w-[85%]">
  <!-- Title -->
  <div class="flex space-x-4 justify-center items-center">
    <div>
      <img class="h-6 overflow-hidden rounded-md" src="assets/field-control-logotipo.png" alt="Field Control Logotipo"
        srcset="Field Control Logotipo" />
    </div>
    <div>
      <h4 class="text-base font-semibold">
        Valinor Challenge - Field Control (by Matheus Adami)
      </h4>
    </div>
  </div>
  <!-- Options / Links -->
  <div class="flex space-x-12 justify-center items-center">
    <div class="flex justify-center">
      <app-toggle-theme />
    </div>
    <div class="flex justify-center">
      <a href="https://github.com/matheusadami/valinor" target="_blank"
        class="flex justify-center rounded-xl bg-slate-800 px-3 py-1.5 text-sm font-semibold leading-6 text-slate-200 shadow-sm space-x-2 transform ease-in-out transition duration-300 hover:transition-all hover:-translate-y-0.5 hover:translate-x-0.5 hover:bg-slate-950 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-950 dark:bg-green-600 dark:hover:bg-green-700">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
          <path
            d="M12.232 4.232a2.5 2.5 0 013.536 3.536l-1.225 1.224a.75.75 0 001.061 1.06l1.224-1.224a4 4 0 00-5.656-5.656l-3 3a4 4 0 00.225 5.865.75.75 0 00.977-1.138 2.5 2.5 0 01-.142-3.667l3-3z" />
          <path
            d="M11.603 7.963a.75.75 0 00-.977 1.138 2.5 2.5 0 01.142 3.667l-3 3a2.5 2.5 0 01-3.536-3.536l1.225-1.224a.75.75 0 00-1.061-1.06l-1.224 1.224a4 4 0 105.656 5.656l3-3a4 4 0 00-.225-5.865z" />
        </svg>

        <span>View on GitHub</span>
      </a>
    </div>
  </div>
</nav>