<app-header>
  <div class="perfil">{{first()}}</div>
</app-header>
<div class="menu">
  <button class="btn btn-primary" (click)=" openDialog()">
    <img src="/assets/icons/plus.svg" alt="" /> Adicionar tarefa
  </button>
</div>
<main>
  <div class="step">
    <h3>To-do</h3>
    <ul>
        @for (item of toDoTasks; track item) {
            <li>
                <app-task
                    [task]="item"
                    (taskUpdated)="loadTasks()"
                />
            </li>
        }
    </ul>
  </div>
  <div class="step">
    <h3>In Progress</h3>
    <ul>
      @for (item of inProgressTasks; track item) {
          <li>
              <app-task
                  [task]="item"
                  (taskUpdated)="loadTasks()"
              />
          </li>
      }
  </ul>
  </div>
  <div class="step">
    <h3>Done</h3>
    <ul>
      @for (item of doneTasks; track item) {
          <li>
              <app-task
                  [task]="item"
                  (taskUpdated)="loadTasks()"
              />
          </li>
      }
  </ul>
  </div>
</main>