<form action="">
    <div class="inputs">
        <label for="">Your First Name</label>
        <input type="text" placeholder="joao" name="firstname" [(ngModel)]="userRegister.firstname">
    </div>
    <div class="inputs">
        <label for="">Your Last Name</label>
        <input type="text" placeholder="silva" name="lastname" [(ngModel)]="userRegister.lastname">
    </div>
    <div class="inputs">
        <label for="">Email</label>
        <input type="email" placeholder="joao.silva@exemplo.com" name="email" [(ngModel)]="userRegister.email">
    </div>
    <div class="inputs">
        <label for="">Password</label>
        <input type="password" placeholder="maximum 8 character password" name="password" [(ngModel)]="userRegister.password">
    </div>
    <button (click)="register()">Sign up</button><br>
</form>

