* {
    color: black;
}

header {
    height: 75px;
    width: 100vw;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background: #0c1824;
}

.logo {
    position: fixed;
    height: 65px;
    left: 5px;
    top: 5px;
}

.logo-title {
    position: fixed;
    height: 45px;
    left: 105px;
    top: 15px;
}

.hero-waves {
    display: block;
    margin-top: 60px;
    width: 100%;
    height: 80px;
    z-index: 5;
    position: relative;
  }
  svg {
    overflow: hidden;
    vertical-align: middle;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }

  @media screen and (max-width: 450px) {
  
    .logo-title {
        position: fixed;
        height: 35px;
        left: 105px;
        top: 25px;
    }
  }