<div class="container-fluid bg-dark ">

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid ms-2">
            <a class="navbar-brand text-light" href="#"><img width="32px" src="../../assets/img/logotipo-do-githubB.png"
                    alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form class="d-flex col-3">
                    <input class="form-control bg-dark text-light me-3 py-0" type="search"
                        placeholder="Search or jump to..." aria-label="Search">
                </form>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item ">
                        <a class="nav-link active text-light" aria-current="page" href="#">Pull requests</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Issues</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Codespaces</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Marketplace</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Explore</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a href=""><button class="btn"><img width="16px" src="../../assets/img/bell.png"
                                    alt=""></button></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img width="12px" src="../../assets/img/mais.png" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">++++++</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            a<img width="20px" src="#" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</div>