<div class="container-fluid bg-dark">

    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid text-bg-danger">
            <a class="navbar-brand" href="#">IMGGGG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item t">
                        <a class="nav-link active text-light" aria-current="page" href="#">Pull requests</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Issues</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Codespaces</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Marketplace</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Explore</a>
                    </li>
                </ul>
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">

                        <button class="btn ">a <img src="" alt=""></button>

                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            +
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">++++++</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            PERFIL
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>



            </div>
        </div>
    </nav>

</div>