<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer-content">
  <h3>Livros do Google Books</h3>
  <p>Use a pesquisa para encontrar um livro de seu interesse!</p>
  <ul class="socials">
      <li><a href="https://www.linkedin.com/in/deivid-lima/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
      <li><a href="https://github.com/Deivimm" target="_blank"><i class="fa fa-github"></i></a></li>
  </ul>
</div>