<header>
  <img src="assets/img/fotoPerfil.png" alt="Carlos Leite - Foto de Perfil" width="130px" height="130px" loading="eager">
  <h1>Carlos Eduardo Cerqueira Leite</h1>
</header>

<button type="button" (click)="toggleTheme()">
  <img src="assets/icons/{{ icon }}.svg" alt="Clique aqui para alterar o tema da página">
</button>

<aside>
  <div class="container">
    <p>JavaScript | TypeScript | Angular.js | React.js | React Native | Node.js </p>
    <p>São José do Rio Preto, São Paulo, Brasil</p>
    <p>Atuo como freelancer a 8 meses, trabalhando principalmente com tecnologias JavaScript</p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">Download CV</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/carlos-eduardo-cerqueira-leite-323b4a227/" target="_blank" class="btn btn-secondary">LinkedIn</a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg" alt="Whatsapp" width="24px" height="24px">
        <figcaption>
          <a href="https://wa.me/5517992007518" target="_blank">
          <strong>Envie uma mensagem para:</strong>
          <p>Whatsapp: (17) 99200-7518</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img src="assets/icons/mail.svg" alt="E-mail" width="22px" height="24px">
        <figcaption>
          <a href="mailto:devcarlosleite@gmail.com" target="_blank">
          <strong>Envie um e-mail para:</strong>
          <p>devcarlosleite&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
