<h2>Tarefas</h2>
<hr />

<button type="button" class="btn btn-primary mb-2" [routerLink]="['/new']">
    Nova tarefa
</button>

<section>
    <div *ngIf="tasks.length == 0" class="alert alert-warning" role="alert">
        Nenhuma terefa foi cadastrada ainda.
    </div>

    <ul class="list-group" *ngIf="tasks.length > 0" >
        <li class="list-group-item" *ngFor="let task of tasks">
            <app-task-list-item [task]="task" class="task-item" (onDeleteTask)="onTaskDeleted($event)"></app-task-list-item>
        </li>
    </ul>
</section>