.container-card{
    background-color: #1d1427;
    width: 70%;
    margin: 10px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
}
.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    
}
app-repositoriocardheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
}
app-RepositorioCardFooter{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
}