:host {
  height: 100%;
}

main {
  padding-inline: 10rem;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  #add-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .btn-add {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;
      padding-block: 0.5rem;
      padding-inline: 0.8rem;
      border-radius: 0.5rem;
      border: none;
      background-color: #333;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
    .btn-add:hover {
      background-color: #555;
    }
  }
  #boards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    div {
      display: flex;
      gap: 0.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    padding-inline: 1rem;
  }
}
