.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
	height: 60px;
	background-color: #282c34;
	color: #61dafb;
	font-size: 20px;
}
.search-bar {
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: center;
	width: 150px;
	height: 100%;
	border-radius: 5px;
	margin: 30px 30px;
}

.search-button {
	width: 150px;
}
.footer {
	display: flex;
	flex-direction: column;	
	justify-content: center;
	background-color: white;
	padding-top: 20px ;
	padding-bottom: 20px;
}
.repositoryresults {
	flex-direction: column;
	color: white;
}