<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="card" (click)="onClick()">
    <div class="card-subtitle">
        <h3 class="card-title">{{ cardModel.title}}</h3>
        <p class="card-description">{{cardModel.description}}</p> 
    </div>
    <div class="card-buttons">
        <button class="card-check"><i class="fas fa-check"></i></button>
    </div>
</div>

