@import '@/styles/variables.scss';

.error-container {
  position: relative;
  left: 50%;
  max-width: 500px;
  transform: translateX(-50%);
  text-align: center;
  padding: 50px 0;

  h1 {
    font-size: 100px;
    color: $background-color;
    background: linear-gradient(135deg, $gray-second-color, $background-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    margin: 20px 0 12px 0;
    font-size: 30px;
    color: $primary-color;
  }

  p {
    font-size: 15px;
    color: $gray-color;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .error-container {
    padding: 80px 0;
  
    h1 {
      font-size: 180px;
    }
  
    h2 {
      margin: 30px 0 20px 0;
      font-size: 32px;
    }
  
    p {
      font-size: 18px;
    }
  }
}
