.search {
  position: relative;
  height: 30px;
  box-sizing: border-box;
  padding: 1px;
  border: 1px solid silver;
  box-shadow: 0 1px 2px rgb(182, 181, 181);
  border-radius: 5px;
  outline: none;
  width: 100%;

  &:focus {
    border-color: rgb(10, 72, 165);
    box-shadow: 0 2px 5px rgb(8, 42, 155);
  }
}
.search__label {
  box-sizing: border-box;
  position: absolute;
  top: 8px;
  left: 5px;
  color: rgb(50, 50, 51);
  z-index: 1;
  opacity: 0.8;
  font-size: 12px;
}
@media (max-width: 820px) {
  .search {
    width: 100%;
  }
}

.search__select {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  background-color: rgb(24, 78, 179);
  letter-spacing: 1px;
  border: 1px solid silver;
}

.search__container {
  position: relative;
  display: flex;
  width: 30%;

  & span {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: bold;
    color: blue;
  }
}

@media (max-width: 820px) {
  .search__container {
    width: 60%;
  }
}
