<swiper-container init="false" #swiperContainer>
  @for (crypto of cryptos; track $index) {
    <swiper-slide>
      <div class="container-card">
        <div class="info-card">
          <div class="description-card">
            <h3>{{ crypto.name }}</h3>
            <p>{{ crypto.symbol }}</p>
          </div>
          <img
            id="img"
            class="image-card"
            src="{{ crypto.iconUrl }}"
            loading="lazy"
          />
        </div>
        <div class="price-card">
          <h4>Preço hoje</h4>
          <p>{{ crypto.price | currency }}</p>
        </div>
      </div>
    </swiper-slide>
  }
</swiper-container>

<script>
  // swiper element
  const swiperEl = document.querySelector("swiper-container");
  console.log(swiperEl);
</script>
