/* CARD STYLE */

.container-card {
  width: 180px;
  margin: 6px;
  padding: 28px;
  background-color: var(--bg-card-color);
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0 var(--border-shadow);
}

.info-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.description-card {
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.image-card {
  float: right;
  width: 32px;
  height: 32px;
  object-fit: cover;
  filter: drop-shadow(2px 2px 2px var(--border-shadow));
}

.description-card {
  padding-right: 20px;
  float: left;
}

.description-card h3 {
  font-weight: 800;
  color: #ffffff;
  font-size: 16px;
}

.description-card p {
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
}

.price-card {
  padding-left: 20px;
  text-align: end;
}

.price-card h4 {
  top: 21px;
  font-weight: 700;
  font-size: 16px;
}

.price-card p {
  font-weight: 500;
  font-size: 14px;
}