<details class="collapse">
    <summary class="title"><strong>{{titleMovie}}</strong></summary>
    <div class="description">
        <ul>
            <li><strong>Run time in minutes:</strong> {{runtimeInMinutes}}</li>
            <li><strong>Budget in Millions:</strong> U${{budgetInMillions}} milhões</li>
            <li><strong>Box office revenue in Millions:</strong> U${{boxOfficeRevenueInMillions}} milhões</li>
            <li><strong>Academy award nominations:</strong> {{academyAwardNominations}}</li>
            <li><strong>Academy award wins:</strong> {{academyAwardWins}}</li>
            <li><strong>Rotten Tomatoes score:</strong> {{rottenTomatoesScore}} </li>
        </ul>
    </div>
</details>