.container {
    display: flex;
}

/* Quadro Kanban */
.kanban-board {
    display: flex;
    padding: 20px;
    overflow-x: auto;
}
  
/* Coluna no quadro Kanban */
.kanban-column {
    flex: 1;
    margin-right: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 10px;
}
  
/* Cartões dentro de cada coluna */
.kanban-cards {
    margin-top: 10px;
}
  
/* Cartão dentro de uma coluna */
.kanban-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}
  
/* Botão "Adicionar Coluna" */
.add-column {
    margin-top: 20px;
}
  
/* Campo de entrada dentro do botão "Adicionar Coluna" */
.add-column input[type="text"] {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
/* Botão de confirmação dentro do botão "Adicionar Coluna" */
.add-column button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
/* Hover para o botão de confirmação */
.add-column button:hover {
    background-color: #0056b3;
}

.cdk-drag-preview {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                            0 8px 10px 1px rgba(0, 0, 0, 0.14),
                            0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}