<div class="container">
  <!-- Quadro do Kanbab -->
  <div class="kanban-board">
    <app-column
      *ngFor="let column of columns; let i = index"
      [title]="column.title"
      [cards]="column.cards"
      (columnRemoved)="removeColumn(i)"
    ></app-column>

    <div class="add-column">
      <button (click)="showAddColumnInput()">Adicionar Coluna</button>

      <div *ngIf="showAddColumn">
        <input type="text" placeholder="Digite o título da coluna" [(ngModel)]="newColumnTitle">
        <button (click)="addColumn()">Confirmar</button>
      </div>
    </div>
  </div>
</div>