.container{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
}

img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 10px;
}
label{
    color: white;
    font-size: small;
    font-weight: 300;
    max-width: 200px;
}