img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-right: 10px;
}
p{
    color: white;
    font-size: x-small;
    width: 200px;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    
}
.container-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    min-width: 50%;
    max-width: 50%;
}

