.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.25rem 0;
  border-radius: 0.62rem;
  text-emphasis: none;
  text-decoration: none;
  
  &.btn-primary {
    color: var(--white);
    background-color: var(--primary-color);
  }

  &.btn-secondary {
    color: var(--white);
    background-color: var(--secondary-color);
  }
}