@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $roboto;
  -webkit-tap-highlight-color: transparent;
}

body, html, #app {
  height: 100%;
}

button {
  cursor: pointer;
}

.btn-primary {
  color: $gray-color;
  background-color: $background-color;
  border-radius: 10px;
  font-size: 16px;
  padding: 15px 25px;
  position: relative;
  font-weight: 500;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  left: 50%;
  transform: translateX(-50%);
}

.txt-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media (min-width: 1024px) {
  body {
    overflow-y: scroll;
  }
}
