// fonts
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;

// colors
$primary-color: #130F0F;
$black-color: #383838;
$secondary-color: #2196F3;
$gray-color: #737373;
$gray-second-color: #ebe5e5;
$white-color: #ffffff;
$background-color: #f2f2f2;
$loader-bg: #f6f7f9;
$loader-color: #e9ebee;
