mat-card
  margin: 1rem

  mat-card-title a
    color: #5D6D7E
    transition: 0.3s

  mat-card-subtitle a
    color: #AEB6BF
    transition: 0.3s

  mat-card-title a:hover
    color: #212F3C

  mat-card-subtitle a:hover
    color: #85929E

  img
    background-size: cover

  a
    text-decoration: none

  mat-icon
    vertical-align: middle
    font-size: 22px

  .star-icon
    color: #F4D03F

  .visibility-icon
    color: gray

  .error-icon
    color: #EC7063

