<div class="item-container a" cdkDrag (click)="habilitaInput()">
    <div (click)="habilitaInput()">
        <h1>
            <label>
                <textarea 
                [(ngModel)]="parametrosCard.titulo"
                    (blur)="onBlur()" 
                    (keydown)="onKeyDown($event)"
                    [disabled]="desabilita"
                    placeholder="Título:"
                    maxlength=50></textarea>
                </label>
            </h1>
        </div>
    <hr>
    <p>
        <label>
            <textarea 
            [(ngModel)]="parametrosCard.descricao"
                    (blur)="onBlur()" 
                    (keydown)="onKeyDown($event)"
                    [disabled]="desabilita"
                    placeholder="Descrição:"
                    maxlength=100></textarea>
        </label>
    </p>
</div>

