<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form   [formGroup]="loginForm"
                (ngSubmit)="login()">
			<h1>Login</h1>
			<div class="form-group">
            <input  type="email" 
                    formControlName="email" 
                    class="form-control" [ngClass]="{'is-invalid': loginForm.controls.email.invalid && loginForm.controls.email.touched}"
                    placeholder="E-mail">

            @if (loginForm.controls.email.hasError('email') && loginForm.controls.email.touched) {
                <div class="invalid-feedback">Insira um email válido</div>
            } @if (loginForm.controls.email.hasError('required') && loginForm.controls.email.touched) {
                <div class="invalid-feedback">O email é obrigatório!</div>
            }
        </div>
        <div class="form-group">
            <input  type="password" 
                    formControlName="password" 
                    class="form-control" [ngClass]="{'is-invalid': loginForm.controls.password.invalid && loginForm.controls.password.touched}"
                    placeholder="Senha">

            @if (loginForm.controls.password.hasError('required') && loginForm.controls.password.touched) {
                <div class="invalid-feedback">A senha é obrigatória</div>
            }
        </div>
			<button type="submit">Login</button>
            @if (loginFailed) {
                <div class="login-error">Credenciais incorretas</div>
            }
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Olá!</h1>
				<p>Ainda não é cadastrado? Crie uma conta agora!</p>
				<a [routerLink]="['/register']"><button class="ghost" id="signUp" >Criar conta</button></a>
			</div>
		</div>
	</div>
</div>