
.board {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  padding: 10px;
  height: calc(100vh - 150px);
  white-space: nowrap;
  background-color: red;
  width: 100%;
  height: 100vh;
  background: url("../../public/pexels-photo-417074.jpeg") no-repeat center
    center;
  background-size: cover;
  position: relative;
}
