main {
    background: url(/assets/Imagens/background-completo.png);
    background-size: cover;
    min-height: 60vh;
  }
.colunas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.coluna {
  width: 200px;
  height: 100px;
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}
div{
  background-color: #8e97aa;
  width: 100%;
  height: 100vh;    
}