main {
    height: 100% !important; 
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important; 
    flex-direction: column !important;
    overflow: hidden !important;
}