body,
html,* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
  display: flex; 
  overflow-x: auto;
  gap: 300px; 
  padding: 10px;
  height: calc(100vh - 120px); 
    white-space: nowrap; 
  background-color: red;
}
