header{
    display:flex;
    justify-content: center;
    background-color: rgb(43, 100, 255);
    width:100%;
}

h1{
    font-size: 46px;
    margin-top:20px;
    margin-bottom:20px;
    color:white;
    text-shadow: 2px 2px 5px black;
}

footer{
    display:flex;
    justify-content: center;
    font-size:18px;
    background-color: rgb(43, 100, 255);
    text-shadow: 1px 1px 2px black;
}
