<form action="">
    <div class="inputs">
        <label for="">Your First Name</label>
        <input type="text" placeholder="joao">
    </div>
    <div class="inputs">
        <label for="">Your Last Name</label>
        <input type="text" placeholder="silva">
    </div>
    <div class="inputs">
        <label for="">Email</label>
        <input type="email" placeholder="joao.silva@exemplo.com">
    </div>
    <div class="inputs">
        <label for="">Password</label>
        <input type="password" placeholder="maximum 8 character password">
    </div>
    <button>Sign up</button><br>
</form>

