node_modules
dist
.angular
.vscode
# Ignorar dependências pesadas
node_modules/
dist/
.angular/

# Ignorar arquivos de sistema e IDE
.DS_Store
.vscode/
.idea/

# Ignorar banco de dados local (opcional, mas recomendado)
*.sqlite
*.db