.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.margemdivider {
  margin-top: 5%;
}

.navbar-toggler {
  display: none;
}

.burgerButton {
  background-color: transparent;
  width: 45px;
  border-color: white;
  border: none;
  display: none;
  border-radius: 5px;
  background-image: url(assets/images/icons/burger.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar1 {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  width: 100%;
  text-align: center;
}

.header01 {
  top: 0;
  position: absolute;
  align-items: center;
  max-width: 100%;
  border-bottom: solid gray;
  border-width: 1px 0;
}

.headLink {
  font-size: large;
  text-decoration: none;
  color: white;

  margin-left: 70px;
}

.headLink:hover {
  text-decoration: none;
  color: white;
}

.banner {
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px;
  background: url(assets/images/banner.png);
  background-repeat: center no-repeat;
  background-size: cover;
}

.botao01 {
  background-color: #ea4243;
  border-radius: 5px;
  font-size: large;
  color: white;
  padding: 15px 40px 15px 40px;
  transition: 0.1s linear;
  border-style: hidden;
}
.botao01:hover {
  background-color: #ea4242c5;
}

.botao02 {
  background-color: #ea4243;
  border-radius: 5px;
  font-size: large;
  color: white;
  padding: 15px 100px 15px 100px;
  transition: 0.1s linear;
  border-style: hidden;
}

.botao02:hover {
  background-color: #ea4242c5;
}

.gridimagemcompleta {
  background-size: cover;
}

.title1 {
  color: white;
  font-size: 3rem;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 20% 20% 20%;
  margin-left: 0;
  margin-right: 0;
}

.card {
  border-radius: 0;
}

.gridImg {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  width: 100%;
  height: 250px;

  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: transparent;
}

.trasnparent {
  width: 100%;
}
.trasnparent:hover {
  background-color: rgba(234, 66, 66, 1);
}

.gridImg:hover {
  color: white;
  opacity: 0.4;

  transition: 0.4s;
}

.card-subtitle {
  color: brown;
  font-size: 16px;
}
.card-img-top {
  border-radius: 0;
}
.card-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.peopleText {
  font-size: 14px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid red;
  padding: 35px 0;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.headerlinha {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 35px 0;
  align-items: center;
}

.card-text {
  font-size: 14px;
}

.socialMedia {
  padding-right: 5px;
}

.div-grid-icons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.grid-icons {
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  max-width: 300px;

  height: 300px;
}

.grid-icons-images {
  max-width: 150px;
  padding: 30px;
}

.quadro1 {
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
}

.container02 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container02imagem {
  width: 50%;
}

.carousel {
  width: 50%;
}

.container03 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gridfooter {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
}

.box1 {
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  font-size: 24;
  align-items: center;
  width: 200px;
  justify-content: center;
}

.box2 {
  padding: 20px;
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
  font-size: 24;
  width: 200px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 960px) {
  .card-group {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .div-grid-icons {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .container02 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-burger {
    display: none;
  }

  .container02imagem {
    width: 100%;
  }

  .carousel {
    width: 100%;
  }

  .gridfooter {
    flex-direction: column;
  }
  .box1 {
    width: auto;
  }

  .box2 {
    width: auto;
  }
}

@media (max-width: 1200px) {
  .nav-burger {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }

  .burgerButton {
    display: block;
  }
}
