<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="input-default">
    <input type="text" placeholder="Title.." formControlName="title" />
    <p *ngIf="errors.title?.['required'] && registerForm.get('title')?.touched">
      Title is required.
    </p>
  </div>
  <div class="input-default">
    <textarea
      placeholder="Description.."
      formControlName="description"
    ></textarea>
    <div>
      <p
        *ngIf="errors.description?.['required'] && registerForm.get('description')?.touched"
      >
        Description is required.
      </p>
    </div>
  </div>

  <button type="submit" class="button-default">Update</button>
</form>
