<app-poke-search-bar (emmitSearch)="getSearch($event)"></app-poke-search-bar>

<ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
  <section class="pokemon-card" *ngIf="pokemon.status">
    <a [routerLink]="['details', pokemon.status.id]" class="pokemon-card__info">
      <section>
        <h3>Nº {{ pokemon.status.id }}</h3>
        <h2>{{ pokemon.name }}</h2>
        <ul
          class="pokemon-card__type"
          *ngFor="let value of pokemon.status.types"
        >
          <li [class]="'pokemon-card__type--' + value.type.name">
            {{ value.type.name }}
          </li>
        </ul>
      </section>
      <section>
        <img
          class="pokemon-card__image"
          [src]="pokemon.status.sprites.front_default"
          [alt]="pokemon.name"
        />
      </section>
    </a>
  </section>
</ng-template>
