.hidden {
    opacity: 1;
}

.choose-header {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.picker {
    padding-top: 2rem;
    text-align: center;

    ul {
        gap: 2rem;
        margin: 0 20%;
        padding-top: 5rem;
        align-items: center;
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    .card {
        border-radius: .3rem;
        width: 275px;
        height: 375px;
        background-color: #a7a7a7;
        display: flex;
        flex-direction: column;
        justify-content: space-around;


        h2 {
            padding-top: 3rem;
        }

        button {
            margin: 0 auto;
            padding: 25px;
            border-radius: 45%;
        }


    }

    .card:hover {
        transform: translate3d(-50%);
    }
}