<div>
  <div [ngSwitch]="active">
    <app-agent-list *ngSwitchCase="'Agents'"></app-agent-list>
    <app-bundle-list *ngSwitchCase="'Bundles'"></app-bundle-list>
    <app-skin-list *ngSwitchCase="'Weapons'"></app-skin-list>
    <div *ngSwitchDefault="'Default'" class="picker">
      <h1>O que deseja ver?</h1>
      <ul>
        <li class="card">
          <h2>Agents</h2>
          <button (click)="active = 'Agents'">Ver</button>
        </li>
        <li class="card">
          <h2>Bundles</h2>
          <button (click)="active = 'Bundles'">Ver</button>
        </li>
        <li class="card">
          <h2>Weapons </h2>
          <button (click)="active = 'Weapons'">Ver</button>
        </li>
      </ul>
    </div>
  </div>
</div>