section {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


label {
  font-size: 1rem;
  color: #333;
}


input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: #333;
}


.status {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}


label {
  font-size: 1rem;
  color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}


input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}

.error{
  color: #e20202;
  font-style: italic;
}

.button{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.submit_button {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 80%;
  margin-top: 10px;
}

.cancel_button {
  background-color: #e20202;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 80%;
  margin-top: 10px;
}

.submit_button:hover {
  background-color: #55e290;
}

.cancel_button:hover {
  background-color: #d83838;
}




