 .app-body {
  background-color: #EC1D24;
  background-image: url('/assets/bodyBG.png');
  box-shadow: 0px 1px 8px rgba(200, 0, 0, 0.55);

  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

  font-family: 'Marvel';
  min-height: 600px;

 }

