<app-header></app-header>

<main class="pt-[69px] w-full flex items-center justify-center h-screen">
  <section class="h-full w-full flex md:flex-row flex-col items-center justify-center gap-5 bg-persona bg-cover bg-no-repeat ">
    <div class="w-full h-full flex flex-col items-start justify-center gap-5 p-10">
      <h1 class="font-bold text-4xl md:text-6xl text-white md:text-slate-700">
        Faça todas as suas tarefas sem enrrolação
      </h1>
      <h2 class="font-bold text-2xl md:text-4xl bg-blue-900 px-2 text-white bg-opacity-50 md:bg-white md:px-0 md:text-blue-600 ">
        em poucos cliques
      </h2>
      <p class="text-white md:text-slate-700 text-sm">
        Chega de se frustrar por falta de organização, faça logo o seu parte da turma mais diciplinada do pais.
      </p>
      <app-btn
        text="Registe-se agora"
        type="button"
        (click)="registerComponent.toggleShowThis()"
      />
      
    </div> 
    <div class="w-full hidden md:block h-full bg-blue-500">
      <img class="w-full h-full" src="home-persona.png" alt="">
    </div>
  </section>
</main>
<app-register #registerComponent/>

