.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #ffff;
    padding-left: 10px;
    padding-top: 10px;
}
.titulo:hover {
    color: #0056b3; 
}

.nav {
    background-color: black;
}

.board {
    padding: 15 px;
}