@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Raleway:wght@100;300;400;500;600;700;800&display=swap');


/* font-family: 'Raleway', sans-serif; */
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none
}


/* FONTES E VARIAVEIS DE COR ------------------------------------------------------------------------------------- */
body{
    font-size: 100%;
    list-style-type: none;
}
header{
    background: url('../assets/background.jpg');
   
    background-size: cover;
    position: relative;
}

.initial_conteudo button,
.cta_conteudo button {
   width: 230px;
}

.navbar_style {
    background: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}

.navbar_lista li a{
    color: white !important
}


.box_initial{
    height: 83vh;
    align-items: center; 
    display: flex; 
    flex: 1;
    background: rgba(0, 0, 0, 0.5);
}
.initial_conteudo {
    text-align: center;
    color: white;
}

.box_funcionalidades{
    padding: 80px 0 100px 0;
}
.funcionalidades_descricao{
    text-align: center;
}
.funcionalidades_descricao h5{
    font-family: 'Raleway';
    font-weight: bold;
}
.funcionalidades_descricao p{
    font-family: 'Raleway';
}

.funcionalidades_descricao img{
    height: 85px;
}

.box_projetos{
    display: flex;
    flex: 1;
    
}


.projetos_container{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #d64242;
}
.projetos_container .figura{
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 250px;
    
   
}
.projetos_container .figura img{
    width: 100%;
    height: auto;
    object-fit: cover;
   
    transition: .2s;
}
.projetos_container .figura img:hover{
    cursor: pointer;
    opacity: 0.3;   
}




.box_time {
    padding-top: 50PX;
}

.box_time .time_descricao img{
    height: 200px;
}
.box_time .time_descricao .time_description{
    max-width:200px;
}
.box_time .time_descricao h5, 
.box_time .time_descricao p{
    font-family: 'Raleway';
}


.icons_time li{
    padding: 4px 10px 4px 10px;
    border: 2px solid #c6cacc;
    border-radius: 3px;
    margin-right: 10px;
}
.icons_time ul{
    display: flex;
    flex: 1;
}
.icons_time li i{
    color: #c6cacc;
}

.depoimentos_image{
    max-height: 300px;
}
.depoimentos_image figure{
    height: 300px;
}
.depoimentos_image figure img{
    width: 100%; 
    height: 300px; 
    object-fit: cover;
}


.depoimentos_description{
    height: 300px;
    background-color: #53354a;
}

ol.carousel-indicators {
    position: absolute;
    bottom: 5px;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
    
 }
 
 ol.carousel-indicators li,
 ol.carousel-indicators li.active {
    width: 0.7rem;
    height: 0.7rem;
    margin: 0;
    border-radius: 50%;
    border: 0;
    background: transparent;
 }
 
 ol.carousel-indicators li {
    background: rgba(255,255,255,0.39);
    
 }
 
 ol.carousel-indicators li.active {
    background: rgb(255, 255, 255);
 }

 .depoimentos_description .carousel-item p{
     color: white;
    font-family: 'Cardo', serif;
    font-style: italic;
    font-size: 25px;
     overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    padding-top: 20%;
 }
 .depoimentos_description .carousel-item span{
     font-size: 13px;
     font-family: 'Raleway';
 }
 .depoimentos_description .carousel-item{
     text-align: center;
     max-width: 250px;
     color: white;
 }
 .depoimentos_description {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
 }

.cta_conteudo {
    text-align: center;
    padding: 40px 0 80px 0;
}
.title_cta{
    font-family: 'Raleway';
    font-weight: lighter;
}
.description_cta {
    font-family: 'Raleway';
    font-weight: bold;
}
.btn_cta{
    font-family: 'Raleway';
    font-weight: 600;
}


.box_dados{
    background-color: #3a3e64;
    padding: 60px 0 60px 0;
}
.box_dados .dados{
    text-align: center;
    color: white;
}
.box_dados .dados h5{
    text-transform: uppercase;
}
.box_dados .dados ul{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.box_dados .dados ul li{
    color: white;
    padding: 4px 10px 4px 10px;
    border: 2px solid white;
    border-radius: 3px;
    margin-right: 10px;
}
.box_dados .dados ul li i{
    color: white;
}
.dados h5{
    font-family: 'Raleway';
    font-weight: bold;
}
.dados p{
    font-family: 'Raleway';
    
}
footer{
    background-color: #313454;
}

.description_footer {
    text-align: center;
    color: white;
    padding: 20px 0 20px 0;
}

.description_footer p{
    font-family: 'Raleway';
}