


header{
    background: url('../assets/background.jpg');
   
    background-size: cover;
    position: relative;
}

.navbar_style {
    background: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}
.navbar_lista li a{
    color: white !important
}


.box_initial{
    height: 83vh;
    align-items: center; 
    display: flex; 
    flex: 1;
    background: rgba(0, 0, 0, 0.5);
}
.initial_conteudo {
    text-align: center;
    color: white;
}

.box_funcionalidades{
    padding: 80px 0 100px 0;
}
.funcionalidades_descricao{
    text-align: center;
}

.funcionalidades_descricao img{
    height: 85px;
}

.box_projetos{
    display: flex;
    flex: 1;
    
}

.projetos_container{
    display: flex;
    flex: 1;
    flex-direction: column;
   
}
.projetos_container .figura{
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 337px;
    height: 120px;
   
}

.projetos_container .figura img{
    width: 100%;
    height: auto;
}




.box_time {
    padding-top: 50PX;
}

.box_time .time_descricao img{
    height: 200px;
}