<link rel="stylesheet" href="./footer.component.css">
<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./footer.component.css">
     <title></title>
</head>

<footer>
     <p class="f-title">Tecnologias que foram usadas nesse projeto!</p>
     <div class="f-groupImages">
          <img src="/assets/images/angular.svg" alt="">
          <img src="/assets/images/typescript.svg" alt="">
          <img src="/assets/images/figma.svg" alt="">
          <img src="/assets/images/html.svg" alt="">
          <img src="/assets/images/css.svg" alt="">
          <img src="/assets/images/npm.svg" alt="">
     </div>
     <p class="f-describe">sugestões, reports, bugs, por favor entre em contato comigo<br>
          nas redes socias ao abaixo!</p>
     <div class="f-groupImagesContact">
          <img src="/assets/images/linkdn.svg" alt="">
          <img src="/assets/images/wpp1.svg" alt="">
          <img src="/assets/images/gmail.svg" alt="">
     </div>
</footer>