<h1>Kanban</h1>

<div class="container">
    <div class="board toDo">
      <h2 style=" border-color: #c94634;">Fazer</h2>
      @for (task of todoTasks; track task.id) {
        <div class="task-card">
            <div>
                <h3>{{ task.name }}</h3>
                <p>{{ task.description }}</p>
                <span>{{ task.priority }}</span>
            </div>
            <div>
                <mat-icon aria-hidden="false" fontIcon="delete" class="custom-delete-icon"></mat-icon>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                  </mat-menu>
            </div>
        </div>
      } @empty {
        <p>Nenhuma tarefa para começar.</p>
      }
    </div>
  
    <div class="board">
      <h2 style=" border-color: #de953e;">Em progresso</h2>
      @for (task of doingTasks; track task.id) {
        <div class="task-card">
          <h3>{{ task.name }}</h3>
          <p>{{ task.description }}</p>
          <span>{{ task.priority }}</span>
        </div>
      } @empty {
        <p>Nenhuma tarefa em progresso.</p>
      }
    </div>
  
    <div class="board">
      <h2 style=" border-color: #2a8c41;">Finalizado</h2>
      @for (task of finishedTasks; track task.id) {
        <div class="task-card">
          <h3>{{ task.name }}</h3>
          <p>{{ task.description }}</p>
          <span>{{ task.priority }}</span>
        </div>
      } @empty {
        <p>Nenhuma tarefa finalizada</p>
      }
    </div>
  </div>
  