<table class="table table-primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Preço</th>
      <th>24h</th>
      <th>Market Cap</th>
    </tr>
  </thead>
  <tbody>
    @for (crypto of cryptos; track $index) {
      <tr>
        <td>
          <div class="test">
            <h3>{{ crypto.name }}</h3>
            <p>{{ crypto.symbol }}</p>
            <img
              ngSrc="{{ crypto.iconUrl }}"
              alt="logo"
              [width]="16"
              [height]="16"
            />
          </div>
        </td>
        <td>{{ crypto.price | currency }}</td>
        <td>{{ crypto.change }}</td>
        <td>{{ crypto.marketCap | currency }}</td>
      </tr>
    } @empty {
      <p>CARREGANDO...</p>
    }
  </tbody>
</table>
