<div class="about-container">
  <div class="about-img">
    <img src="../assets/socialmedia.png">
  </div>
  <div class="about-text">
    <h1>Sobre</h1>
    <p>
      Bem-vindo(a) à minha aplicação de busca de livros! Essa aplicação foi desenvolvida como parte de um desafio para
      uma vaga de Dev Front-End. Aqui você pode encontrar e explorar uma vasta coleção de livros de diferentes gêneros e
      autores. Minha aplicação utiliza a API do Google Books para fornecer resultados de busca atualizados e
      detalhados.<br><br>
      Através da busca por palavras-chave, você pode descobrir livros interessantes, ver capas de livros e obter
      informações detalhadas sobre os autores e editoras. Além disso, implementei uma funcionalidade de paginação para
      que você possa navegar facilmente entre os resultados de busca.<br><br>
      Fique à vontade para entrar em contato caso tenha alguma dúvida ou sugestão. Agradeço o seu apoio!
    </p>
  </div>
</div>