.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  gap: 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 12px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  border-bottom: 2px solid #4c9bf5;
}
