<div class="container-fluid bg-dark col-lg-12 d-flex">

    <div class="me-5 col-4 ms-5 ">
        <div class="mt-4 ">
            <ul class="list-group ">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>

        <div class="mt-4 ">
            <ul class="list-group">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>

    </div>





    <div class="col-6 mt-4">
        <div class="card col-4 ">
            PESQUISA
        </div>

        <div class="bg-dark mt-5 d-flex">
            <h3 class="text-bg-danger me-5">RESULTADOS??</h3>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Sort: Best match
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

        </div>


        <div class="mt-5">
            <div class="card mb-3">
                <p>nomeRepositorio</p>
                <p>Titulo</p>
                <p>tecnologias</p>
                <p>outos</p>
            </div>

            <div class="card mb-3">
                <p>nomeRepositorio</p>
                <p>Titulo</p>
                <p>tecnologias</p>
                <p>outos</p>
            </div>
            <div class="card mb-3">
                <p>nomeRepositorio</p>
                <p>Titulo</p>
                <p>tecnologias</p>
                <p>outos</p>
            </div>
        </div>
    </div>


</div>