@use "../../../assets/styles/variables" as var;
@use "../../../assets/styles/mixins" as mix;
@use "sass:map";

:host {
  @include mix.flex-position();
  flex-wrap: wrap;
  width: 100vw;

  .pokemon-card {
    background-color: var.$white-color;
    border-radius: 10px;
    padding: var.$gap-medium;
    height: 190px;
    margin: var.$gap-medium;
    width: 100%;
    max-width: 360px;

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var.$primary-color;
      text-decoration: none;
      height: 100%;

      h3 {
        color: var.$gray-color;
      }
    }

    &__type {
      font-size: 0.9rem;
      text-align: center;
      width: 55px;

      li {
        border-radius: 10px;
        padding: 5px 0;
        margin-bottom: 5px;
      }

      @each $key, $color in var.$bg-colors-types {
        &--#{$key} {
          background: $color;
        }
      }

      &--bug,
      &--dark,
      &--dragon,
      &--fighting,
      &--fire,
      &--ghost,
      &--poison,
      &--psychic,
      &--rock,
      &--water {
        color: var.$white-color;
      }

      &--electric,
      &--fairy,
      &--flying,
      &--grass,
      &--ground,
      &--ice,
      &--normal,
      &--steel {
        color: var.$primary-color;
      }

      &--dragon {
        background: linear-gradient(
          180deg,
          map.get(var.$bg-colors-types, "dragon") 50%,
          #f16e57 50%
        );
      }

      &--flying {
        background: linear-gradient(
          180deg,
          map.get(var.$bg-colors-types, "flying") 50%,
          #bdb9b8 50%
        );
      }

      &--ground {
        background: linear-gradient(
          180deg,
          map.get(var.$bg-colors-types, "ground") 50%,
          #ab9842 50%
        );
      }
    }

    &__image {
      max-width: 110px;
      margin-left: var.$gap-small;
    }

    &:hover {
      border: 3px solid var.$secondary-color;
    }
  }
}
