@use "../../../assets/styles/variables" as var;
@use "../../../assets/styles/mixins" as mix;

:host {
  @include mix.flex-position();
  flex-wrap: wrap;

  .pokemon-card {
    background-color: var.$white-color;
    border-radius: 10px;
    padding: var.$gap-medium;
    height: 190px;
    margin: var.$gap-medium;
    width: 100%;
    max-width: 360px;

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var.$primary-color;
      text-decoration: none;
      height: 100%;
      text-transform: capitalize;

      h3 {
        color: var.$gray-color;
      }
    }

    &__image {
      max-width: 110px;
      margin-left: var.$gap-small;
    }

    &:hover {
      border: 3px solid var.$secondary-color;
    }
  }
}
