@import "../../styles/functions";

.animesContainer {
  width: 100%;
  padding: 2rem;

  .animesFilterContainer {
    width: 100%;
    margin-bottom: 2rem;

    .filterComponent {
      width: 150px;
      cursor: pointer;
      display: flex;
      align-items: center;
      svg {
        margin-right: 0.5rem;
        font-size: 2rem;
      }
      strong {
        font-size: 2rem;
      }
    }
    .animesFilter {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .filterButton {
        margin-top: 0.5rem;
        flex: 1;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: left;

        input {
          margin-top: 1rem;
          width: 100%;
          max-width: 200px;
          height: 2, 5rem;
          border: none;
          color: pickHexByTheme("text-primary");
          background-color: #f1f7ff;
          border-radius: 0.5rem;
          padding: 0.5rem 2rem;
          font-size: 1rem;
        }
      }
    }
  }

  .animesList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 2rem;
    .animeItem {
      cursor: pointer;
      img {
        border-radius: 0.5rem;
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }
  }
}
