<div class="column-box">
    @for (column of columns; track column) {
            <div class="column">
            <div class="column-body">
                <h5 class="column-title">{{ column.name }}</h5>
                @for (card of column.cards; track card) {
                    <a href="">
                        <div class="card-content">
                            <div class="circle-box">
                                    @for (responsible of card.responsibles; track responsible) {
                                    <div class="circle">{{ responsible.name.charAt(0) }}</div>
                                }
                                </div>
                            <div class="card-name">{{ card.name }}</div>
                        </div>
                    </a>
                }
                <a href="" class="add-card">Adicionar cartão</a>
            </div>
        </div>
    }
    <a href="" class="add-column">Adicionar coluna</a>
</div>
