<div class="column-box" cdkDropListGroup>
    @for (column of columns; track column) {
            <div class="column" >
                <div class="column-header">
                    <h5 class="column-title">{{ column.name }}</h5>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          . . .
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a (click)="openColumnDialog($event, column)" class="dropdown-item">Editar coluna</a>
                            <a class="dropdown-item" (click)="deleteColumn($event, column)">Deletar coluna</a>
                        </div>
                    </div>
                    
                </div>
            <div class="column-body" cdkDropList [id]="column._id" [cdkDropListData]="column.cards"  (cdkDropListDropped)="drop($event)">
                @for (card of column.cards; track card; ) {
                    <div class="dropdown show" cdkDrag [cdkDragData]="card"> 
                    <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" (click)="openCardDialog($event, column._id, card)">Ver/Editar cartão</a>
                            <a class="dropdown-item" (click)="deleteCard($event, card)">Deletar cartão</a>
                          </div>
                        <div class="card-content" >
                            <div class="circle-box">
                                    @for (responsible of card.responsibles; track responsible) {
                                    <div class="circle">{{ responsible.name.charAt(0) }}</div>
                                }
                                </div>
                            <div class="card-name">{{ card.name }}</div>
                            <div class="card-name">{{ card.position }}</div>
                        </div>
                        
                    </a>
                </div>
                }
                <a (click)="openCardDialog($event, column._id)" class="add-card">Adicionar cartão</a>
            </div>
        </div>
    }
    <a (click)="openColumnDialog($event)" class="add-column">Adicionar coluna</a>
</div>
