<div class="nav-container">
    <app-nav-bar (searchText)="receiveSearchText($event)"></app-nav-bar>
    <mat-progress-bar *ngIf="!shouldHideLoad" mode="indeterminate"></mat-progress-bar>
</div>
<div class="warning-message" *ngIf="showWarning">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Error! Your search yielded no results. It's almost as if they've vanished into a galaxy, far, far away...
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<section class="cards-itens-container">
    <div *ngFor="let p of peoples">
        <app-card class="card-item" [title]="p.name" [subtitle]="p.birth_year" [height]="p.height" [mass]="p.mass" [hairColor]="p.hair_color" [eyeColor]="p.eye_color" [gender]="p.gender"></app-card>
    </div>
</section>

<div *ngIf="shouldHideLoad" class="button-container d-grid gap-2 col-6 mx-auto mb-5">
    <button *ngIf="!textSearched" type="button" class="load-more-button btn btn-warning btn-lg" (click)="loadMore()">More...</button>
    <button *ngIf="textSearched" type="button" class="load-more-button btn btn-warning btn-lg" (click)="doSearch('')">Back</button>
</div>

<app-footer class="footer" *ngIf="shouldHideLoad"></app-footer>