.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.cards-itens-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

.warning-message {
    margin-top: 3.75rem;
}

.foooter {
    position: fiexed;
    bottom: 0;
    left: 0;
    right: 0;
}