div.header
    display: flex
    align-items: center
    justify-items: between

header
    padding: 0.5rem
    min-width: 100vw
    height: 3.5rem
    background-color: #161b22
    align-items: center
    display: flex
    gap: 4rem
    justify-content: center

p.title
    color: #c9d1d9
    font-size: 16px
