<form [formGroup]="registerForm" (ngSubmit)="register()">
    <h1>Criar conta</h1>
    <div>
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="Digite seu email" />
        @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
        <span class="error">Email inválido</span>
        }
    </div>
    <div>
        <label>Senha</label>
        <input type="password" formControlName="password" placeholder="Digite sua senha" />
        @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
        <span class="error">Senha inválida</span>
        }
    </div>
    <button (click)="register()" type="button">Registrar</button>
</form>