
<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-6">
            <h1>RESTAURANTE DEV</h1>
            <p>Refeições Dignas De Um Dev!</p>
        </div>

        <div class="col-lg-4">
            <a routerLink="/">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">Sobre</a>
            <a routerLink="contact">Contato</a>
        </div>

        <div class="col-lg-2">
            <a href="#"target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="#"target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#"target="_blank"><i class="bi bi-envelope"></i></a>
        </div>
    </div>
</div>
