<section class="menu">
  <!-- criando as colunas -->
  <div class="table"> 

    <div class="column"cdkDropList
    #cliList="cdkDropList"
    [cdkDropListData]="cli"
    [cdkDropListConnectedTo]="[negociacaoList,concluidaList,canceladaList]"
      (cdkDropListDropped)="drop($event)" >

      <!-- coluna contrato novo -->
      <h2 class="cli">Cliente Cadastrado
        
           <!-- botão para incluir novo card -->
        <button class="add" (click)="addCampo()"> + </button>
      </h2>

          <!-- Criando Cards -->
      <div class="card" *ngFor="let venda of cli,  let i = index" cdkDrag cdkDrop>
        
        <h3 class="cont">{{ venda }} </h3> 

      </div>
    </div>

          <!-- coluna em negociação -->
    <div class="column"
    cdkDropList
    #negociacaoList="cdkDropList"
    [cdkDropListData]="negociacao"
    (cdkDropListDropped)="drop($event)"[cdkDropListConnectedTo]="[cliList,concluidaList,canceladaList]"> 

      <h2 class="neg">Pedido em Negociação</h2>

      <div class="card" *ngFor="let venda of negociacao" cdkDrop cdkDrag>

        <h3 class="ped">{{ venda }}</h3>

      </div>
    </div>

          <!-- coluna venda concluida -->
    <div class="column"
    cdkDropList
    #concluidaList="cdkDropList"
    [cdkDropListData]="concluida"
    [cdkDropListConnectedTo]="[negociacaoList,cliList,canceladaList]"
      (cdkDropListDropped)="drop($event)">

      <h2 class="conc">Pedido Concluido</h2>

      <div class="card" *ngFor="let venda of concluida,  let i = index" cdkDrop cdkDrag>

        <h3 class="con">{{ venda }}</h3> 

      </div>
    </div>

           <!-- coluna venda cancelada -->
    <div class="column"
    cdkDropList
    #canceladaList="cdkDropList"
    [cdkDropListData]="cancelada"
    [cdkDropListConnectedTo]="[negociacaoList,concluidaList,cliList]"
      (cdkDropListDropped)="drop($event)">

      <h2 class="canc">Em Entrega</h2>

      <div class="card" *ngFor="let venda of cancelada" cdkDrop cdkDrag>

        <h3 class="ent">{{ venda }}</h3>

      </div>
    </div>
  </div>
</section>
