.column{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 25px;
    background-color: aliceblue;
    float: left;
    margin: 50px;
    border-radius: 15px;
    min-height: 300px;
}
.menu{
    display:flex;
}
