.table{
    margin-left: 150px;
    margin-top: 50px;
}
.column{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 25px;
    background-color: aliceblue;
    float: left;
    margin: 5px;
    border-radius: 15px;
    min-height: 300px;
    align-items: center;
    border: solid;
}
.menu{
    display:flex;
}
h2{
    padding: 25px;
    width: 100%;
    margin: -25px;
    box-shadow: 0px 8px 16px 0px rgb(75, 75, 75);
}
.cli{
    background: rgb( #6e6c6c,0.8) ;
    border-radius: 12px;
    color: #fff;
}
.neg {
    background: rgb( #6e6c6c,0.8) ;
    border-radius: 12px;
    color: #fff;
}
.conc {
    background: rgb( #6e6c6c,0.8) ;
    border-radius: 12px;
    color: #fff;
}
.canc {
    background: rgb( #6e6c6c,0.8) ;
    border-radius: 12px;
    color: #fff;
}

.add {
    border-radius: 50px;
    width: 25px;
    height: 25px;
    margin-left: 70px;
}
.remove {
    border-radius: 50px;
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    font-weight: bolder;
    align-items: center;
    
}

.card{
     color: #111;
    width: 100%;
    align-items: center;
    margin-top: 25px;
    border-radius: 15px;
}


.cont {
    background-color: paleturquoise;
    border-radius: 10px;
}
.ped{
    background-color:#96897f;
    border-radius: 10px;
}
.con{
    background-color:#96ceb4;
    border-radius: 10px;
}
.ent{
    background-color: #b8a9c9;
    border-radius: 10px;
}