.column{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 25px;
    background-color: aliceblue;
    float: left;
    margin: 50px;
    border-radius: 15px;
    min-height: 300px;
    align-items: center;
}
.menu{
    display:flex;
}
h2{
    padding: 25px;
    width: 100%;
    margin: -25px;
    box-shadow: 0px 8px 16px 0px rgb(75, 75, 75);
}
.cli{
    background-color: yellow ;
    border-radius: 15px;
}
.neg {
    border-radius: 15px;
    background-color: aqua ;
}
.conc {
    border-radius: 15px;
    background-color: green ;
}
.canc {
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.822);
}

.add {
    border-radius: 50px;
    width: 25px;
    height: 25px;
    margin-left: 70px;
}
.remove {
    border-radius: 50px;
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    margin:-50px -50px -50px 50%;
}

.card{
    border: solid;
    background: rgba(0, 0, 0, 0.822);
    color: #fff;
    width: 100%;
    align-items: center;
    margin-top: 25px;
    border-radius: 15px;
}
.card:hover {
    box-shadow: 5px 5px 0px #686566;
    top: -1px;
    left: -1px;
    border-radius: 15px;
}


