.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #f2f2f2;
    ul{
        display: flex;
        list-style: none;
        gap: 3rem
    }
    li:hover{
        cursor: pointer;
    }
}