.header {
  display: flex;
  justify-content: end;
  padding: 38px;
  position: relative;
}

.header-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.disable {
  display: none;
}

.container-nav-header {
  z-index: 20;
  position: fixed;
  right: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  backdrop-filter: blur(4px);
}

.icon-header-btn {
  width: 32px;
}

.container-nav {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 100vh;
  position: absolute;
  right: 0;
  background-color: white;
  gap: 12px;
  align-items: center;
  padding-top: 4rem;
  top: 0;
  padding: 0 16px;
  text-align: center;
  padding: 32px 0;
  transition: translate 5s;
  animation: slideheader;
  animation-duration: 1s;
}

a {
  font-size: 32px;
  color: var(--font-color-gray);
  text-decoration: underline;
  margin: 16px 0;
}

@keyframes slideheader {
  from {
    transform: translateX(38rem);
  }
  to {
    transform: translateX(0);
  }
}
