.header {
  display: flex;
  justify-content: end;
  padding: 38px;
  position: relative;
}

.header-btn {
  background-color: transparent;
  border: none;
}

.disable {
  display: none;
}

.container-nav-header {
  z-index: 20;
  position: fixed;
  right: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  backdrop-filter: blur(4px);
}

.icon-header-btn {
  width: 32px;
}

.close-btn {
  align-self: flex-end;
  padding-right: 36px;
}

.icon-close-btn {
  width: 24px;
}

.container-nav {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100dvh;
  position: absolute;
  right: 0;
  background-color: rgb(26, 26, 26);
  gap: 12px;
  align-items: center;
  padding-top: 4rem;
  top: 0;
  padding: 0 16px;
  text-align: center;
  padding: 32px 0;
  transition: translate 5s;
  animation: slideheader;
  animation-duration: 1s;
}

a {
  font-size: 32px;
  color: #8d54be;
  text-decoration: underline;
  margin: 16px 0;
}

/* DESKTOP */

.container-link-desktop {
  display: flex;
  gap: 60px;
  padding-right: 20rem;
}

.container-link-desktop > a {
  font-size: 2.6rem;
  color: var(--font-color-white);
  text-decoration: none;
}

@keyframes slideheader {
  from {
    transform: translateX(38rem);
  }
  to {
    transform: translateX(0);
  }
}
