<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="UTF-8">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./header.component.css">
     <title></title>
</head>

<header>
     <p class="h-beforeTitle"><span class="s-darkGreen">Valinor /</span> Desenvolvido por <span
               class="s-darkGreen">Lucas Criado.</span></p>
     <h1>Sobre qual <span class="s-lightGreen">investimento</span> podemos te ajudar hoje?</h1>
     <p class="h-afterTitle">Aplicação com listagem, busca e paginação por API,<br> para informações financeiras atuais!
     </p>
</header>

</html>