@import url("https://quickutils.github.io/language-colors/language-colors.css");

nav{
  background-color: #24292F;
  padding: 0%;
}

input{
  background-color: #24292F;
  border-color: #575757;
  width: 272px;
  height: 30px;
}

input::placeholder{
  color: #c2c2c2;
}

a{
  text-decoration: none;
}

p{
  margin-bottom: 4px;
}

span{
  font-size: 12px;
  color: #57606a;
  margin-right: 12px;
}

li{
  padding: 24px 0;
  border-left: 0px;
  border-right: 0px;
}

#gitLogo{
  filter: invert(100%) sepia(4%) saturate(177%) hue-rotate(50deg) brightness(119%) contrast(100%);
}

#repoFound{
  font-size: 20px;
  font-weight: 600;
}

#repo-link:hover{
  text-decoration: underline;
  color: #0d6efd;
}

.container-fluid{
  padding: 16px 24px;
}

.navbar-brand{
  padding: 0%;
  cursor: pointer;
}

.search-result{
  padding: 3% 25%;
}

.topic-link{
  padding: 0 8px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2em;
  line-height: 22px;
  color: #0969da;
  background-color: #ddf4ff;
  margin-right: 4px;
}

.topic-link:hover{
  color: #ffffff;
  background-color: #0969da;
}

.span-link{
  color: #57606a;
  font-size: 12px;
  margin-right: 12px;
}

.span-link:hover{
  color: #0969da;
  fill: #0969da;
}

.repo-language-color{
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(rgb(27 31 36 / 10%));
  border-radius: 50%;
  margin: 0;
}

.pagination{
  margin-bottom: 0;
}

.current{
  color: white;
  background-color: #0969da;
  border-color: transparent;
}

.current:hover{
  color: white;
  background-color: #0969da;
}