<!--Access link to Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<header>
    <div class="header">
        <!--nos ultimos instantes optei por retirar o logo que preenchia o lado esquerdo superior do header-->
        <div class="picture">
            <!-- <img src="https://play-lh.googleusercontent.com/7sH1qKJkGg60fV_x3DhowQ9sxBfJS7PafvkU4OMnemOZszvwBr-nj9MuCkemxXvA6vtb" alt="Logo field control" style="height: 8vh; border-radius: 50%;"> -->
        </div>
        <div class="middleHeader">
            <div class="userConect"><h4>Hello Miguel! Welcome</h4></div>
            <div class="page">{{title}}</div>
            <div class="user">
                <i class="bi bi-person-circle" style="color: white; font-size: 35px;"></i>
                <small>miguel</small>
            </div>
        </div>
    </div>
</header>
