:host {
  .login-title {
   font-size: 30px;
  }

  .small-centered-form{
    background-color: #cfcfcf;
    border: 1px solid black;
  }

  .login-button{
    background-color: #0055fe;
    bottom: 10px;
    top: 10px;
  }

  .register-button{
    background-color: #a0a0a0;
    bottom: 10px;
    top: 15px;
  }
}
