<form class="small-centered-form" [formGroup]="loginForm">
  <h1>Login</h1>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
    />

    @if (loginForm.controls.email.hasError('email') &&
    !loginForm.controls.email.hasError('required')) {
    <mat-error>Por favor, digite um email válido</mat-error>
    } @if (loginForm.controls.email.hasError('required')) {
    <mat-error>Insira <strong>um email válido</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input type="password" matInput formControlName="password" />

    @if (!loginForm.controls.password.hasError('required')) {
    <mat-error>Por favor, utilize uma senha válida</mat-error>
    } @if (!loginForm.controls.password.hasError('minlength')) {
    <mat-error>Mínimo de 8 caracteres</mat-error>
    }
  </mat-form-field>

  <button (click)="login()" mat-flat-button color="primary">Log in</button>
  <a [routerLink]="['/register']">
    <button tabindex="-1" mat-flat-button color="secondary">
      Não é um membro? Registre-se.
    </button>
  </a>
</form>
