.board {
    display: flex;
    gap: 20px;
    padding: 20px;
    background: #F2E0DC;
    overflow-x: auto;

    min-height: 100vh;
    align-items: flex-start;
    white-space: nowrap;

}

.add-column-btn {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    position: sticky;
    top: 10px;
    left: 10px;
}

.add-column-btn:hover {
    background: #45a049;
}

.coluna {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    max-width: 300px;
    overflow: hidden;
    white-space: normal;
    text-align: center;
}

.board .coluna:not(:last-child) {
    margin-right: 20px;
}

.coluna-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.coluna h3 {
    font-size: 1.2em;
    color: #333;
}

.delete-column-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #ff4c4c;
    transition: 0.3s;
}

.delete-column-btn:hover {
    color: #d32f2f;
}

.drop-zone {
    min-height: 200px;
    padding: 10px;
    border: 2px dashed #b0bec5;
    border-radius: 10px;
    transition: 0.3s;
}

.drop-zone:hover {
    background: #e3f2fd;
    border: 2px dashed #FF5784;
}

.card {
    background: #ffffff;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    border-left: 6px solid #FF5784;
}

.card:hover {
    transform: scale(1.05);
}

.delete-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #d32f2f;
    transition: 0.3s;
}

.delete-btn:hover {
    color: #b71c1c;
}

@media screen and (max-width: 768px) {
    .board {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .coluna {
        min-width: 280px;
        max-width: 280px;
    }
}