<div class="flex flex-row my-1" *ngFor="let badge of card.badges; index as i">
  <app-badge [badge]="badge"></app-badge>
</div>
<div class="flex flex-row mb-3">
  <div class="basis-full line-clamp-1 overflow-ellipsi">
    <h3 class="text-lg">{{card.title}}</h3>
  </div>
</div>
<p class="line-clamp-3 text-pretty text-slate-500/75">{{card.description}}</p>
<div *ngIf="card.date_end != null" class="mt-3 text-slate-500/75">
  <small><span class="far fa-clock mr-1D"></span> {{card.date_end | shortDate}}</small>
</div>
