//pega globalmente
:root{
  --white: #fff;
  --gray: #EFEFEF;
  --primary-color: #262835;
  --secondary-color: #ff5473;
  --tertiary-color: #D43598;
  --quaternary-color: #A835D4;
  --quinquenary-color: #358ad4;

}
