/* You can add global styles to this file, and also import other style files */
@import "assets/bootstrap.min.css";
@import "../node_modules/ngx-toastr/toastr.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toast-top-center {
    top: 20px;
  }