<!--Access link to google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

<!-- dialog header with close button -->
<header><i class="bi bi-x-lg" (click)="closeDialog()"></i></header>


<!-- form to create or edit the kanban board -->
<form #boardForm="ngForm" (ngSubmit)="createOrEditBoard()"> 


    <!-- conditional title: if board id value is found, display `Edit Board`; if id not found, display `Add New Board` -->
    <div class="title">
        <h3 style="font-family: 100px;">{{data.board?.id ? 'Edit' : 'Add New'}} Board</h3>
    </div>


    <!-- field to receive the name of the board to be created or the new name that will update the old name -->
    <div class="inputs">
        <label for="boardName">name of your board
        </label>
        <input class="input" type="text" id="boardName" placeholder="Ex. My Board" name="boardName" [(ngModel)]="addBoard" #boardNameInput="ngModel" required>
        <small *ngIf="boardNameInput.invalid && boardNameInput.touched" style="color: red;">*Required field</small>
    </div>


    <!-- conditional button: if board id value is found, display `Edit Board`; if id not found, display `Add New Board` -->
    <div class="btns">
        <!-- Button with type submit -->
        <button type="submit" [disabled]="boardForm.invalid">{{data.board?.id ? 'Edit' : 'Add New'}} Board</button><br>
        <!-- paragraph to close dialog without saving changes -->
        <p (click)="closeDialog()" style="color: red; cursor: pointer;" >Close Dialog</p>
    </div>
    
</form>
<footer></footer>