.copyrights-section
    background-color: #313454
    padding-top: 26px
    padding-bottom: 26px

.copyrights-section .default-container
    text-align: center
    color: #fff

.copyrights-section span
    font-size: 14px
    line-height: 20px

.copyrights-section .description
    opacity: 0.5
