.functionalities-section ul
    +fx-display
    +fx-wrap(wrap)
    padding-bottom: 120px
    padding-top: 40px

    +bp-mobile
        padding-bottom: 60px
        padding-top: 20px

.functionalities-section ul li
    width: 33.333333333%
    margin-top: 80px
    padding: 0 8px

    +bp-mobile
        width: 50%
        margin-top: 20px

.functionalities-section ul li .icon
    +fx-display
    +fx-justify-content(center)
    +fx-align-items(center)
    height: 80px

.functionalities-section ul li h5
    display: block
    width: 100%
    text-align: center
    font-size: 14px
    text-transform: uppercase
    margin: 20px 0

.functionalities-section ul li p
    display: block
    margin: 0 auto
    width: 320px
    font-size: 14px
    line-height: 22px
    text-align: center
    color: #6c7279

    +bp-mobile
        font-size: 12px
        line-height: 18px