.team-section
    padding-top: 60px
    padding-bottom: 100px

.team-section .members
    +fx-display
    +fx-wrap(wrap)
    +fx-justify-content(space-between)

.team-section .member
    max-width: 24%
    width: 270px
    margin-top: 40px

    +bp-large
        width: 49%
        max-width: 49%

.team-section .member-photo
    display: block
    width: 100%

.team-section .member-name
    display: block
    width: 100%
    margin-top: 30px
    font-size: 22px
    font-weight: normal
    color: #2d3033

.team-section .member-title
    display: block
    width: 100%
    margin-top: 10px
    text-transform: uppercase
    font-weight: normal
    color: $red
    font-size: 13px

.team-section .member-description
    display: block
    width: 100%
    margin-top: 20px
    font-size: 14px
    line-height: 22px
    color: #6c7279

.team-section .share
    +fx-display
    margin-top: 20px

.team-section .share a
    +fx-display-inline
    +fx-justify-content(center)
    +fx-align-items(center)
    width: 40px
    height: 40px
    border: 1px solid #e8ecee
    transition: 0.3s

.team-section .share a:hover
    border-color: darken(#e8ecee, 10%)

.team-section .share a:not(:last-child)
    margin-right: 4px

.team-section .share a img
    height: 20px
    width: auto