html, body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

.bg-header{
    background-image: url(../img/bg-header.jpg);
    height: 750px;
}

.page-header{
    margin-top: 13rem;
    font-size: 0.95rem;
    color: #fff;
}