<form   [formGroup]="addColumnForm">
			<h1>{{ data.column?._id ? "Editar" : "Adicionar" }} coluna</h1>
			<div class="form-group">
            <input  type="text" 
                    formControlName="name" 
                    class="form-control" [ngClass]="{'is-invalid': addColumnForm.controls.name.invalid && addColumnForm.controls.name.touched}"
                    placeholder="Nome">

            @if (addColumnForm.controls.name.hasError('name') && addColumnForm.controls.name.touched) {
                <div class="invalid-feedback">Insira um nome válido</div>
            } @if (addColumnForm.controls.name.hasError('required') && addColumnForm.controls.name.touched) {
                <div class="invalid-feedback">O nome é obrigatório!</div>
            }
        </div>
        <div class="buttons">
			<button type="button" (click)="createOrEditColumn()">Criar</button>
            @if (addColumnFailed) {
                <div class="login-error">Nome inválido</div>
            }
            <button (click)="closeDialog()" class="ghost">Fechar</button>
        </div>
		</form>
