<div class="form">   
    <p class="form-title">Card</p>    
    <form (ngSubmit)="onSave()">
        <div class="form-input">
            <label for="cardTitle" class="card-title">Title:</label>
            <input type="text" id="cardTitle" class="input" [(ngModel)]="editedTitle" name="title" required>
            <label for="cardDescription" class="card-title">Description</label>
            <textarea type="text" id="cardDescription" class="textarea" [(ngModel)]="editedDescription" name="description" rows="3"></textarea>
        </div>
        
        <div class="buttons">
            <button class="button-delete" type="button" (click)="onDelete()">DELETE</button>
            <button class="button" type="submit">OK</button>
        </div>
        
    </form>
</div>