<section class="chatbot">
  @if(isActiveChatbot){
  <div class="chatbot__container">
    <header class="chatbot__header">
      <div class="chatbot__header-title">
        <icon-automate height="20" width="20" />
        <h3>Automation Assistant</h3>
      </div>
      <button class="chatbot__close-btn" (click)="closeChatbot()" aria-label="Fechar">
        <icon-close />
      </button>
    </header>

    <div class="chatbot__body">
      <div class="chatbot__messages" #messagesContainer>
        @for(message of messages(); track message) {
        @if(message.role === 'user' ) {
        <div class="chatbot__message-wrapper chatbot__message-wrapper--user">
          <div [innerHTML]="message.content" class="chatbot__message chatbot__message--user">

          </div>
          <div class="chatbot__message-time">{{message.timestamp | timeFormat}}</div>
        </div>
        }
        @else if(message.role === 'bot') {
        <div class="chatbot__message-wrapper chatbot__message-wrapper--bot">
          <div [innerHTML]="message.content" class="chatbot__message chatbot__message--bot">

          </div>
          <div class="chatbot__message-time">{{message.timestamp | timeFormat}}</div>
        </div>
        }
        }
        @if(isBotWriting()){
        <div class="chatbot__message-wrapper chatbot__message-wrapper--bot">
          <div (focus)="true" class="chatbot__message  chatbot__message--typing ">
            @for(letter of typingMessage; track typingMessage){
            <span>{{letter}}</span>
            }
          </div>
        </div>
        }

      </div>
    </div>
    <footer class="chatbot__footer">
      <ui-input variant="chatbot" [control]="chatUserInput" class="chatbot__input" placeholder="Enter your message..."
        (keyup.enter)="sendMessage()">
      </ui-input>
      <ui-button (onClick)="sendMessage()" size="icon" class="chatbot__send-btn">
        <icon-send />
      </ui-button>
    </footer>
  </div>
  }@else {
  <button (click)="openChatbot()" class="chatbot__toggler">
    <icon-automate color="white" height="25" width="25" />
  </button>
  }
</section>
