@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background: #2a2c2e;
}

nav {
    position: relative;
    margin: 00px auto 0;
    width: 590px;
    height: 50px;
    background: #2a2c2e;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

nav a {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

nav .animation {
    position: absolute;
    height: 100%;
    /* height: 5px; */
    top: 0;
    /* bottom: 0; */
    z-index: 0;
    background: #ff0101;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

nav a:nth-child(1) {
    width: 100px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
}

nav a:nth-child(2) {
    width: 110px;
}

nav a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
}

nav a:nth-child(3) {
    width: 100px;
}

nav a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
}

nav a:nth-child(4) {
    width: 160px;
}

nav a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
}

nav a:nth-child(5) {
    width: 120px;
}

nav a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.logo {
    cursor: pointer;
}