<section class="container editar-colunas ff-inter">
    <div class="modal">
        <header class="header">
            <h2>Edite o titulo da Coluna</h2>
        </header>
        <form class="form" action="" method="post">
            <input type="text" placeholder="Edite o titulo da Coluna" [(ngModel)]="coluna.title" name="title"> 
        </form>
        <div class="divBtn">
            <button class="btnCancel" (click)="cancelar()">Cancelar</button>
            <button class="btnConfirm" (click)="editarColuna()">Confirmar</button> 
        </div>
    </div>
</section>
