.kanban-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .kanban-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  

  .kanban-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .kanban-card-header h4 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  

  .kanban-card-actions {
    display: flex;
    gap: 10px;
  }
  
  .btn-action {
    background: transparent;
    border: none;
    color: #007bff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .btn-action:hover {
    color: #0056b3;
  }
  
  .kanban-card-description {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
  }
  
  
  .modal-dialog {
    background-color: white;
    border-radius: 8px;
    width: 400px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header h5 {
    margin: 0;
  }
  
  .btn-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  input.form-control {
    margin-bottom: 10px;
  }
  
  input.inputEdit {
    display: none;
  }
  

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .kanban-card {
    animation: fadeIn 0.5s ease-in-out;
  }
  