:root {
  --color-bg-card: #171717;
  --color-grey-100: #232322;
  --color-grey-200: #2b2b29;
  --color-grey-300: #323230;
  --color-grey-400: #393938;
  --color-grey-500: #484847;
  --color-grey-600: #525251;
  --color-grey-700: #5d5d5b;
  --color-grey-800: #676765;
  --color-font-white: #efefef;
  --color-font-grey: #b3b3b3;
  --color-custom-red: #c92828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root,
app-main {
  height: 100dvh;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family:
    Quicksand,
    Roboto,
    system-ui,
    -apple-system,
    sans-serif;
  background-color: var(--color-grey-100);
}

h1,
h2,
h3,
figcaption {
  color: var(--color-font-white);
  font-size: 2rem;
}

p,
a {
  color: #efefef;
  font-size: 1.8rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: transparent;
  border: 0;
}

button > .icon {
  color: var(--color-font-grey);
}
button:hover {
  cursor: pointer;
}

app-side-menu {
  display: flex;
  align-items: center;
  flex-basis: 24vw;
  justify-content: center;
}

app-main {
  display: flex;
  align-items: center;
}

input {
  color: var(--color-font-grey);
  padding: 12px;
  background-color: transparent;
  border: 1px solid var(--color-grey-600);
  border-radius: 8px;
}

input::placeholder {
  font-style: italic;
}

@media only screen and (max-width: 480px) {
  app-main {
    flex-direction: column;
    height: auto;
    gap: 10rem;
  }
}
