<div class="content">
  <svg 
    x="0px" 
    y="0px" 
    class="spinner"
    viewBox="0 0 50 50" 
    xml:space="preserve"
    [attr.style]="getStyle()" 
    xmlns="http://www.w3.org/2000/svg" 
    style="enable-background: new 0 0 50 50"
    xmlns:xlink="http://www.w3.org/1999/xlink">

    <path 
      [attr.fill]="'url(#' + id + ')'" 
      d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
    </path>

    <linearGradient [id]="id" x2="1" y2="1">
      <stop offset="0%" stop-color="rgba(18, 52, 59, 1)" />
      <stop offset="100%" stop-color="rgba(18, 52, 59, 0.2)" />
    </linearGradient>
  </svg>
  <span *ngIf="label" class="label">{{ label }}</span>
</div>