.spacer
  flex: 1 1 auto

svg
  filter: brightness(0) invert(1)
  vertical-align: middle

header
  position: fixed
  top: 0
  z-index: 11
  transition: all 250ms ease-in-out

.main-header
  @extend header
  &.hidden
    opacity: 0

.search-block
  width: 0%
  right: 0
  @extend header
  background: #fff
  &.active
    width: 100%

  .search-control
    flex: 1
    font-size: 1rem
    border: 0
    outline: none
    padding-left: 10px
