/*Utilização do material para colocar o card em qualquer lugar da tela
 */
.example-box {
  position: absolute;
  top: 90px;
  left: 30px; 
  width: auto; 
  height: auto;
  max-width: 230px;
  background-color: #c8ee1e;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  &:not(:first-child) {
    margin-left: 0;
}
}
.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
