<form [formGroup]="addQuadroForm">
    <h1>{{ data.quadro?.id ? "Edit" : "Add" }} Quadro</h1>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" placeholder="Ex. My board" />
  
      @if (!addQuadroForm.controls.nome.hasError('required')) {
      <mat-error>Please enter a valid name</mat-error>
      }
    </mat-form-field>
  
    <div class="button-group">
      <button (click)="createOrEditQuadro()" mat-flat-button color="primary">
        {{ data.quadro?.id ? "Edit" : "Add" }} board
      </button>
      <button (click)="closeDialog()" mat-flat-button color="secondary">
        Close dialog
      </button>
    </div>
  </form>
