@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$family-sans-sarif:"Open Sans", "sans-serif";

$control-borda-width: 2px;
$input-border-color: transparent;
$input-shadow:none;

//Variavies globais 

html,body {
    height:100%
}

.background {
    background-color: #FFF2D7;
}




