// COLORS

$primary-color: #e84545;
$secondary-normal: #3a3e64;
$secondary-dark: #313454;
$auxiliary-color: #53354a;

// Neutral
$white: #fff;
$gray-1: #cbccd3;
$gray-2: #c6cacc;
$gray-3: #a0a2b0;
$gray-4: #6c7279;
$gray-5: #808080;
$gray-6: #2d3033;