<app-header>
  <p>asçdfoinadsf</p>
</app-header>
<main>
  <div class="login">
    <h2>Bem-vindo de volta</h2>
    <p>Entre na sua conta para continuar</p>
    <form action="">
        <label for=""><span>E-mail</span>
            <input type="email" />
        </label
        >
        <label for=""><span>Senha</span>
            <input type="password" />
        </label>
        <span>
          <label for="">
            <input type="checkbox">Lembrar-me
          </label>
          <a href="#">Esqueceu sua senha?</a>
        </span>
        <button class="">entrar</button>
      </form>
      <div class="divider">
        <span>ou continue com</span>
      </div>
      <button><img src="assets/Google.svg" alt="">Google</button>
      <p>Não tem uma conta? <a href="">Cadastre-se</a></p>
  </div>
</main>
<footer>
  <p>&copy; 2025 TaskFlow. Todos os direitos reservados.</p>
</footer>
