<app-header>
</app-header>
<main>
  <div class="login">
    <h2>Bem-vindo de volta!</h2>
    <p>Entre na sua conta para continuar</p>
    <form (ngSubmit)="login(form)" #form = "ngForm">
        <label for=""><span>E-mail</span>
            <input type="email" name="email" required ngModel />
        </label
        >
        <label for=""><span>Senha</span>
            <input type="password" name="password" required ngModel />
        </label>
        
        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
      
      <p>Não tem uma conta? <button (click)="openDialog()">Cadastre-se</button></p>
  </div>
</main>
<footer>
  <p>&copy; 2025 TaskFlow. Todos os direitos reservados.</p>
</footer>

