@use "../../../../styles.scss";

:host {
  main {
    @extend .central-col;
    height: calc(100vh - 25px);
    width: 100vw;

    div {

      h2,
      p {
        text-align: center;

      }

      form {
        width: 480px;
        gap:10px;
        
        @extend .central-col;

        label {
          @extend .central-col;

          span {
            align-self: flex-start;
            
          }

          input {
            @extend .input-text
          }


        }

        span {
          @extend .central-row-between;
          width: 100%;
          margin: 5px;
          @media (max-width:500) {
            width: 90vw;              
          }

          label {
            flex-direction: row;

            input {
              width: 13px;
              height: 13px;
            }
          }
        }

      }
    }
  }

  footer {
    width: 100vw;
    height: 20px;
    @extend .central-row
  }
}