<app-header>
</app-header>
<main>
  <div class="login">
    <h2>Bem-vindo de volta!</h2>
    <p>Entre na sua conta para continuar</p>
    <form action="">
        <label for=""><span>E-mail</span>
            <input type="email" />
        </label
        >
        <label for=""><span>Senha</span>
            <input type="password" />
        </label>
        <span>
          <label for="">
            <input type="checkbox">Lembrar-me
          </label>
          <a href="#">Esqueceu sua senha?</a>
        </span>
        <button class="btn btn-primary">Entrar</button>
      </form>
      <div class="divider">
        <span>ou continue com</span>
      </div>
      <button class="g-button"><img src="assets/google.png" alt="google logo">Google</button>
      <p>Não tem uma conta? <a href="">Cadastre-se</a></p>
  </div>
</main>
<footer>
  <p>&copy; 2025 TaskFlow. Todos os direitos reservados.</p>
</footer>

