.containerBooks {
    padding-top: 3.125rem;
    width: 80vw;
    min-height: calc(100vh - 6rem);
}

.containerBooks H1{
    color: var(--ring);
    padding-left: 0.4373rem;
    padding-top: 0.625rem;
}