

  
            <div class="{{classeTitulo}}" >
                <strong>{{tituloColuna}}</strong>
            </div>
            <div class="{{classeColuna}}">
                <div >
                    <card *ngFor="let card of cards" [parametrosCard]="card"></card> 
                </div>
            </div>
<!-- *ngFor diretiva do angular que serve para criar elementos HTML a partir de um processo interativo. nosso caso temos um array de cards e com forme esse array aumenta vamos criando  do tipo card -->
 