.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.caixa-grande {
    background-color: rgb(255, 250, 250);
    border-radius: 10px;
    border: solid 1px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between ;

}

.titulo-coluna1 {
    text-align: center;
    font: normal 20pt Arial;
    background-color:  rgb(247, 227, 164);
    border-radius: 10px;
    border:solid 1px
}
.coluna1 {
    display: flex;
    align-items: flex-start;
    background-color: rgb(189, 189, 188);
    border-radius: 10px;
    color: rgb(14, 14, 14);
    max-height: 600px;
    min-width: 250px;
    height: 1000px;
    border:solid 1px
   
}

.titulo-coluna2 {
    text-align: center;
    font: normal 20pt Arial;
    background-color:  rgb(255, 161, 149);
    border-radius: 10px;
    border:solid 1px
}
.coluna2 {
    display: flex;
    align-items: flex-start;
    background-color: rgb(189, 189, 188);
    border-radius: 10px;
    color: rgb(14, 14, 14);
    max-height: 600px;
    min-width: 250px;
    height: 1000px;
    border:solid 1px
}
.titulo-coluna3 {
    text-align: center;
    font: normal 20pt Arial;
    background-color:  rgb(187, 187, 248);
    border-radius: 10px;
    border:solid 1px
}

.coluna3 {
    display: flex;
    align-items: flex-start;
    background-color:  rgb(189, 189, 188);
    border-radius: 10px;
    color: rgb(14, 14, 14);
    max-height: 600px;
    min-width: 250px;
    height: 1000px;
    border:solid 1px
}
.titulo-coluna4 {
    text-align: center;
    font: normal 20pt Arial;
    background-color:   rgb(186, 248, 211);
    border-radius: 10px;
    border:solid 1px
}
.coluna4 {
    display: flex;
    align-items: flex-start;
    background-color:  rgb(189, 189, 188);
    border-radius: 10px;
    color: rgb(14, 14, 14);
    max-height: 600px;
    min-width: 250px;
    height: 1000px;
    border:solid 1px
}