<section>
  <div class="column__title">
    <h2>{{ column.title }}</h2>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editcolumnmodal.toggle()">
          <mat-icon>mode_edit</mat-icon>
          <span>Edit column</span>
        </button>
        <button mat-menu-item (click)="createnewtaskmodal.toggle()">
          <mat-icon>add</mat-icon>
          <span>Create task</span>
        </button>
        <button mat-menu-item (click)="removecolumnmodal.toggle()">
          <mat-icon>delete</mat-icon>
          <span>Remove column</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <ul>
    <li *ngFor="let task of tasks">
      <app-task-card [task]="task" />
    </li>
  </ul>
</section>

<app-modal #createnewtaskmodal>
  <div class="modal__container">
    <div class="title__container">Create task</div>
    <form [formGroup]="taskFormGroup">
      <div class="form__group">
        <label>Title</label>
        <input
          formControlName="title"
          id="titleInput"
          name="titleInput"
          type="text"
        />
      </div>
      <div class="form__group">
        <label>Description</label>
        <input
          formControlName="description"
          id="descriptionInput"
          name="descriptionInput"
          type="text"
        />
      </div>
      <div class="button__container">
        <button type="submit">Create</button>
        <button (click)="createnewtaskmodal.toggle()" type="button">
          Cancel
        </button>
      </div>
    </form>
  </div>
</app-modal>

<app-modal #editcolumnmodal>
  <div class="modal__container">
    <div class="title__container">Edit column</div>
    <form
      [formGroup]="columnFormGroup"
      (submit)="updateColumn(); editcolumnmodal.toggle()"
    >
      <div class="form__group">
        <label>Title</label>
        <input
          formControlName="title"
          id="columnTitleInput"
          name="columnTitleInput"
          type="text"
        />
      </div>
      <div class="button__container">
        <button type="submit">Save</button>
        <button (click)="editcolumnmodal.toggle()" type="button">Cancel</button>
      </div>
    </form>
  </div>
</app-modal>

<app-modal #removecolumnmodal>
  <div class="modal__container">
    <div class="title__container">Delete column</div>
    <div class="text__container">Are you sure?</div>
    <div class="button__container">
      <button
        (click)="deleteColumn(); removecolumnmodal.toggle()"
        type="button"
      >
        Yes
      </button>
      <button (click)="removecolumnmodal.toggle()" type="button">Cancel</button>
    </div>
  </div>
</app-modal>
