section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  margin-top: 128px;
  padding-inline: 24px;
  padding-bottom: 52px;
  width: 100%;

  .column__title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    h2 {
      font-size: 28px;
      font-weight: 500;
    }

    span {
      text-align: right;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: inherit;

    li {
      list-style-type: none;
      width: inherit;
    }
  }
}
