section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  padding-inline: 24px;
  padding-bottom: 52px;
  width: 100%;

  .column__title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    h2 {
      font-size: 28px;
      font-weight: 500;
    }

    span {
      text-align: right;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: inherit;

    li {
      list-style-type: none;
      width: inherit;
    }
  }
}

.modal__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .title__container {
    font-size: 18px;
  }

  .form__group {
    display: flex;
    flex-direction: column;

    label {
      font-size: 12px;
    }

    input {
      font-size: 18px;
      height: 32px;
      padding: 8px 12px;
    }
  }

  .button__container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    button {
      border: none;
      font-weight: 600;
      padding: 8px 12px;
    }
  }
}
