:root {
  --background: #1f1f1f;
  --background-secondary: #141414;
  --button: #6f12a1;
  --button-hover: #4e146e;
  --button-disabled: #533a61;
  --primary: #b8b8b8;
  --text: #f0f0f0;
  --text-dark: #1b191c;
  --secondary: #3bd48f;
  --secondary-hover: #18995f;
  --error: #ad3636;
  --error-hover: #8a1c1c;
  --blue: #54a2f0;
  --blue-hover: #1f6fbf;
}
