@use "../abstracts/variables" as var;
@use "../abstracts/mixins";

.download-section {
    color: var.$text-primary-color;
    @include mixins.flex-position(column);
    margin: var.$gap-large;
    padding: var.$gap-large;
    text-align: center;

    p {
        font-weight: var.$semibold;
        margin: var.$gap-small 0;
        text-transform: uppercase;
    }

    .btn-more {
        margin-top: var.$gap-medium;
    }
}
