@mixin sizer($width, $height: $width) {
    height: $height;
    width: $width;
}

@mixin flex-position($direction) {
    align-items: center;
    display: flex;
    flex-direction: $direction;
    justify-content: center;
}