// COLORS
$white-color: #fff;
$text-primary-color: #2d3033;
$text-secondary-color: #6c7279;
$brand-primary-color: #e84545;
$brand-secondary-color: #2b2e4a;

// TYPOGRAPHY
$font-primary: "Raleway", sans-serif;
$font-secondary: "Open Sans", sans-serif;
$font-testimonial: "Cardo", Georgia, "Times New Roman", serif;

$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

//  SPACINGS
$gap-small: 10px;
$gap-medium: 20px;
$gap-large: 40px;
