.topics{
    height: 10px;
    background-color: #331455;
    margin-right: 10px;
    padding: 5px;
    border-radius: 25px;
   
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topicsText{
    text-wrap: nowrap;
    font-size:xx-small;
    color: white;
    font-weight: 100;

}