@use "variables.scss" as v;

.board-container {
  height: 100%;

  .board-wrapper {
    margin-top: 70px;

    padding: 16px;
  
    display: flex;
    flex-direction: column;

    ::-webkit-scrollbar {
      background-color: transparent;
    }
  
    .board-header {
      z-index: 999;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .board-header-title {
        padding: 6px 16px 6px 8px;
        display: flex;
        align-items: center;
        gap: 8px;
  
        background: rgba(50, 48, 48, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        border: 1px solid rgba(50, 48, 48, 0.3);
  
        border-radius: 8px;
  
        button {
          padding: 0;
          color: #FFF;
          background: transparent;
          border: none;
          cursor: pointer;
          
          mat-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 26px;
          }
        }
      }
  
      .board-title {
        margin: 0;
        font: normal 500 16px "Montserrat", sans-serif;
        color: #FFF;
      }
  
      button {
        margin: 0;
        font: normal 400 14px "Montserrat", sans-serif;
        letter-spacing: normal;
      }
    }

    .swimlanes-wrapper {
      margin: 0;
      padding: 20px 28px;
  
      display: flex;
      flex-wrap: nowrap;
      flex-grow: 1;
      gap: 24px;

      .swimlane {
        padding: 12px;
        min-width: 240px;
        width: 240px;
        height: fit-content;
  
        background-color: #FFF;
        border-radius: 6px; 
        border: 1px solid #e6cbae;
  
        .swimlane-header {
          position: sticky;
          top: 0;
          z-index: 999;
  
          margin-bottom: 4px;
          padding: 0 0 8px;
  
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          background-color: #FFF;
          border-bottom: 1px solid #aaa;
  
          h2 {
            margin: 0;
            font: normal 500 16px "Montserrat", sans-serif;
            letter-spacing: normal;
          }
  
          button {
            padding: 0;
            display: flex;
            justify-content: center;
            width: max-content;
            color: #FFF;
            background-color: #4F46E5;
            border-radius: 4px;
            cursor: pointer;
  
            mat-icon {
              margin: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 16px;
            }
          }
        }
  
        .swimlane-inner {
          padding: 8px 8px;
          border-radius: 4px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
          .swimlane-inner__dragzone {
            min-height: 50px;
          }
          
          .swimlane__card {
            margin-bottom: 16px;
            padding: 8px 4px;

            display: flex;
            flex-direction: column;
            gap: 8px;

            min-height: 100px;
            border: solid 1px #fff;
            border-bottom: solid 1px #aaa;

            transition: box-shadow 0.2s ease;
  
            cursor: pointer;

            h1, p {
              margin: 0;
              text-align: left;
            }

            h1 {
              font: normal 500 16px "Montserrat", sans-serif;
            }

            p {
              font: normal 300 12px "Montserrat", sans-serif;
              word-wrap: break-word;
            }
          }
  
          mat-form-field, input, button {
            width: 100%;
          }
        }

        .add-card {
          padding: 0;
          display: flex;
          justify-content: center;
          width: 100%;
          color: #FFF;
          background-color: #4F46E5;
          border-radius: 4px;
          cursor: pointer;
    
          mat-icon {
            margin: 0;
          }
        }
      }
    }
  
    .new-swimlane {
      width: 240px;
      padding: 0;
  
      display: flex;
      flex-direction: column;
      gap: 8px;
  
      border-radius: 4px;
  
      mat-form-field, mat-label {
        font: normal 500 14px "Montserrat", sans-serif;
        letter-spacing: normal;
      }
      
      .swimlane-header {
        height: 36px;

        h2 {
          margin: 0;
          font: normal 500 18px "Montserrat", sans-serif;
          letter-spacing: normal;
        }
      }

      button {
        margin: 0;
        font: normal 400 14px "Montserrat", sans-serif;
        letter-spacing: normal;
      }
    }
  }
}

.cdk-drop-list-dragging {
  transition: transform 250ms ease;
}

.swimlane__card.cdk-drag-preview {
  margin-bottom: 16px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  background-color: #FFF;
  min-height: 100px;
  border: solid 1px #aaa;
  border-radius: 8px;

  h1, p {
    margin: 0;
    text-align: left;
    word-wrap: break-word;
  }

  h1 {
    font: normal 500 16px "Montserrat", sans-serif;
  }

  p {
    font: normal 300 12px "Montserrat", sans-serif;
  }
}

.swimlane.cdk-drag-preview {
  padding: 12px;
  min-width: 240px;
  width: 240px;
  height: fit-content;

  background-color: #FFF;
  border-radius: 6px; 
  border: 1px solid #e6cbae;

  .swimlane-header {
    position: sticky;
    top: 0;
    z-index: 999;

    margin-bottom: 4px;
    padding: 0 0 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFF;
    border-bottom: 1px solid #aaa;

    h2 {
      margin: 0;
      font: normal 500 16px "Montserrat", sans-serif;
      letter-spacing: normal;
    }

    button {
      padding: 0;
      display: flex;
      justify-content: center;
      width: max-content;
      color: #FFF;
      background-color: #4F46E5;
      border-radius: 4px;
      cursor: pointer;

      mat-icon {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
      }
    }
  }

  .swimlane-inner {
    padding: 8px 8px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .swimlane-inner__dragzone {
      min-height: 50px;
    }
    
    .swimlane__card {
      margin-bottom: 16px;
      padding: 8px 4px;

      display: flex;
      flex-direction: column;
      gap: 8px;

      min-height: 100px;
      border: solid 1px #fff;
      border-bottom: solid 1px #aaa;

      transition: box-shadow 0.2s ease;

      cursor: pointer;

      h1, p {
        margin: 0;
        text-align: left;
      }

      h1 {
        font: normal 500 16px "Montserrat", sans-serif;
      }

      p {
        font: normal 300 12px "Montserrat", sans-serif;
        word-wrap: break-word;
      }
    }

    mat-form-field, input, button {
      width: 100%;
    }
  }

  .add-card {
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #FFF;
    background-color: #4F46E5;
    border-radius: 4px;
    cursor: pointer;

    mat-icon {
      margin: 0;
    }
  }
}
