header {
  min-height: 8vh;
  max-height: 8vh;
  height: 100%;

  background-color: #24292E;

  border-bottom: 1px solid var(--color-text-header);

  display: flex;
  align-items: center;
}

header div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div.container div.nav {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

header div.container div.nav img {
  width: 40px;
  height: 40px;
}

header div.container div.nav div.list h1 {
  font-size: 15px;
  font-weight: 500;

  color: var(--color-text-header);
}

header div.container div.nav a {
  font-size: 15px;
  font-weight: 500;

  color: var(--color-text-header);
}

header div.container div.search-login {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

header div.container div.search-login div.search form {
  display: flex;
  column-gap: 5px;
}

header div.container div.search-login div.search input {
  padding: 8px;

  background-color: #1B1D23;

  border-radius: 5px;
  border: none;
}

header div.container div.search-login div.search input[type="text"],
header div.container div.search-login div.search input::placeholder {
  font-size: 15px;
  font-weight: 400;

  padding-left: 8px;

  color: var(--color-text-header);
}

header div.container div.search-login div.search form button {
  background-color: #1B1D23;

  border-radius: 5px;
  border: none;

  font-size: 15px;
  font-weight: 400;

  padding: 0 8px;

  color: var(--color-text-header);

  cursor: pointer;

  transition: background-color 200ms ease-in-out;
}

header div.container div.search-login div.search button:hover {
  background-color: #353842;
}

header div.container div.search-login div.login a {
  color: var(--color-text-header);
}

header div.container div.search-login div.login a:first-child {
  margin-right: 20px;
}

header div.container div.search-login div.login a + a {
  padding: 10px;

  border: 1px solid var(--color-text-header);
  border-radius: 5px;
}
