div.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: transparent;
  }

  .hidden {
    display: none;
  }

  .page-number {
    border: 0;
    background: transparent;
    text-align: center;
    color: var(--gray-200);
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
  }

  .active {
    color: var(--orange-100);
  }
}
