.card {
  background-color: #fff;
  padding: 15px;
  margin: 5px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.card h4 {
  font-size: 16px;
  color: #444;
}

.card p {
  font-size: 14px;
  color: #777;
}


