@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 5rem 2rem;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    h1 {
      font-size: 6rem;
      font-weight: 700;
      margin-bottom: 4rem;
    }
  }
}
