header {
  align-items: center;
  background-color: rgb(239, 237, 240);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  position: fixed;
  top: 0;
  width: 100%;

  div {
    display: flex;
    gap: 24px;
  }
}
