header {
  align-items: center;
  background-color: rgb(239, 237, 240);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  padding-inline: 12px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;

  h1 {
    font-size: 32px;
    margin: 0;
  }

  div {
    display: flex;
    gap: 24px;

    button {
      border: none;
    }
  }
}

.modal__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .title__container {
    font-size: 18px;
  }

  .form__group {
    display: flex;
    flex-direction: column;

    label {
      font-size: 12px;
    }

    input {
      font-size: 18px;
      height: 32px;
      padding: 8px 12px;
    }
  }

  .button__container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    button {
      border: none;
      font-weight: 600;
      padding: 8px 12px;
    }
  }
}
