<div class="kb-dialog">
  <div class="kb-dialog__header">
    <h2 class="kb-dialog__title">
      {{ data.title }}
    </h2>
    <button mat-icon-button aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="kb-dialog__content">
    <div [innerHTML]="data.message"></div>
  </div>
  <div class="button-group">
    <button (click)="confirm()" mat-flat-button color="warn">Delete</button>
    <button (click)="close()" mat-flat-button>Cancel</button>
  </div>
</div>
