<div class="">

  <div class="border rounded-2 p-3 d-none d-md-block">
    <nav class="" data-pjax="">
      <ul>
        <li><a class="" href="/search?q=node&amp;type=repositories">Repositories<span class=""
              data-search-type="Repositories">1M+</span></a></li>
        <li><a class="" href="/search?q=node&amp;type=code">Code<span class="" data-search-type="Code">806M</span></a>
        </li>
        <li><a class="" href="/search?q=node&amp;type=commits">Commits<span class=""
              data-search-type="Commits">163M+</span></a></li>
        <li><a class="" href="/search?q=node&amp;type=issues">Issues<span class=""
              data-search-type="Issues">39M</span></a></li>
        <li><a class="" href="/search?q=node&amp;type=discussions">Discussions<span class=""
              data-search-type="Discussions">69K</span></a></li>
        <li><a class="" href="/search?q=node&amp;type=registrypackages">Packages<span class=""
              data-search-type="RegistryPackages">3K</span></a></li>
        <li><a class="" href="/search?q=node&amp;type=marketplace">Marketplace<span class=""
              data-search-type="Marketplace">181</span></a></li>
        <li><a class="" href="/search?q=node&amp;type=topics">Topics<span class=""
              data-search-type="Topics">3K</span></a></li>
        <li><a class="" href="/search?q=node&amp;type=wikis">Wikis<span class=""
              data-search-type="Wikis">309K</span></a></li>
        <li><a class="" href="/search?q=node&amp;type=users">Users<span class="" data-search-type="Users">39K</span></a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="border rounded-2 p-3 d-none d-md-block">
    <h2 class="d-inline-block f5 mb-2">
      Languages
    </h2>

    <ul class="filter-list small">
      <li>
        <span style="width: 74%;"></span>

        <a class="filter-item" href="/search?l=JavaScript&amp;q=node&amp;type=Repositories">
          <span class="count">953,702</span>
          JavaScript
        </a>
      </li>
      <li>
        <span style="width: 7%;"></span>

        <a class="filter-item" href="/search?l=TypeScript&amp;q=node&amp;type=Repositories">
          <span class="count">93,395</span>
          TypeScript
        </a>
      </li>
      <li>
        <span style="width: 6%;"></span>

        <a class="filter-item" href="/search?l=HTML&amp;q=node&amp;type=Repositories">
          <span class="count">81,364</span>
          HTML
        </a>
      </li>
      <li>
        <span style="width: 4px;"></span>

        <a class="filter-item" href="/search?l=CSS&amp;q=node&amp;type=Repositories">
          <span class="count">24,275</span>
          CSS
        </a>
      </li>
      <li>
        <span style="width: 4px;"></span>

        <a class="filter-item" href="/search?l=C%2B%2B&amp;q=node&amp;type=Repositories">
          <span class="count">16,095</span>
          C++
        </a>
      </li>
      <li>
        <span style="width: 4px;"></span>

        <a class="filter-item" href="/search?l=Shell&amp;q=node&amp;type=Repositories">
          <span class="count">13,293</span>
          Shell
        </a>
      </li>
      <li>
        <span style="width: 4px;"></span>

        <a class="filter-item" href="/search?l=Python&amp;q=node&amp;type=Repositories">
          <span class="count">13,232</span>
          Python
        </a>
      </li>
      <li>
        <span style="width: 4px;"></span>

        <a class="filter-item" href="/search?l=EJS&amp;q=node&amp;type=Repositories">
          <span class="count">12,019</span>
          EJS
        </a>
      </li>
      <li>
        <span style="width: 4px;"></span>

        <a class="filter-item" href="/search?l=Dockerfile&amp;q=node&amp;type=Repositories">
          <span class="count">11,300</span>
          Dockerfile
        </a>
      </li>
      <li>
        <span style="width: 4px;"></span>

        <a class="filter-item" href="/search?l=Java&amp;q=node&amp;type=Repositories">
          <span class="count">8,784</span>
          Java
        </a>
      </li>
    </ul>
  </div>
