<div class="home">
    <nav-barra></nav-barra>
    <div class="flex-box container-box">
        <div class="flex-box caixa-grande">

            <coluna tituloColuna="Em aberto" classeColuna="coluna1" classeTitulo="titulo-coluna1"></coluna>
            <coluna tituloColuna="Refinamento" classeColuna="coluna2" classeTitulo="titulo-coluna2"></coluna>
            <coluna tituloColuna="Em execução" classeColuna="coluna3" classeTitulo="titulo-coluna3"></coluna>
            <coluna tituloColuna="Concluído" classeColuna="coluna4" classeTitulo="titulo-coluna4"></coluna>
        </div>
    </div>
</div>