<div class="kanban-container"> <!-- Espaço do kanban-->
  <div class="columns" cdkDropListGroup> <!-- Espaço das colunas -->
    <div class="column" *ngFor="let column of tb_coluna"> <!-- Coluna unitaria-->
      <div class="column-header"> <!-- Verificação de coluna-->
        <ng-container *ngIf="editingColumnId !== column.id; else editColumnTemplate"> 
          <div class="header-content"> <!-- Titulo/Nome e função das colunas-->
            <h3>{{column.nome}}</h3>
            <div class="column-actions"> <!-- Botoes de editar e deletar-->
              <button class="edit-button" (click)="startEditingColumn(column)"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg></button>
              <button class="delete-button" (click)="deleteColumn(column)"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg></button>
            </div>
          </div>
        </ng-container>
        <ng-template #editColumnTemplate> <!--Editar coluna-->
          <div class="edit-form">
            <input [(ngModel)]="editColumnTitle" placeholder="Nome da coluna">
            <button (click)="saveColumnEdit(column)">✓</button>
            <button (click)="cancelEdit()">✗</button>
          </div>
        </ng-template>
      </div>
      
      <div class="cards" 
      cdkDropList 
      [id]="column.id.toString()"
      [cdkDropListData]="column.cards"
      [cdkDropListConnectedTo]="getConnectedLists()"
      (cdkDropListDropped)="drop($event)"> <!-- Interface dos cards-->
   <div class="card" 
        *ngFor="let card of column.cards" 
        cdkDrag>
          <ng-container *ngIf="editingCardId !== card.id; else editCardTemplate"> <!-- Verificação dos cards-->
            <div class="card-content"><!-- Titulo/Nome e descrição dos cards-->
              <h4>{{card.nome}}</h4>
              <p>{{card.descricao}}</p>
            </div>
            <div class="card-actions"> <!-- Botoes de editar e deletar-->
              <button class="edit-button" (click)="startEditingCard(card)"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg></button>
              <button class="delete-button" (click)="deleteCard(card, column)"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg></button>
            </div>
          </ng-container>
          <ng-template #editCardTemplate> <!--Editar card-->
            <div class="edit-form">
              <input [(ngModel)]="editCardTitle" placeholder="Título do card">
              <input [(ngModel)]="editCardDescription" placeholder="Descrição">
              <button (click)="saveCardEdit(card)">✓</button>
              <button (click)="cancelEdit()">✗</button>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="add-card">
        <div class="input-group"> <!-- Botao de novo card e descrição-->
          <input [(ngModel)]="newCardTitles[column.id]" placeholder="Novo card">
          <input [(ngModel)]="newCardDescriptions[column.id]" placeholder="Descrição">
        </div>
        <button (click)="addCard(column.id)">+</button>
      </div>
    </div>
  </div>
  <div class="add-column"><!-- Botao de nova coluna-->
    <input [(ngModel)]="newColumnTitle" placeholder="Nova coluna">
    <button (click)="addColumn()">+</button>
  </div>
</div>