.__input {
  display: flex;
  flex-direction: column;
  .__usuario{
    width: 515px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #ffffff;
    background-color: rgba(250, 235, 215, 0);
    color: white;
  }
 }
@media screen and (max-width:1000px) {

.__input {
  display: flex;
  flex-direction: column;
  .__usuario{
    width: 325px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #ffffff;
    background-color: rgba(250, 235, 215, 0);
    color: white;
  }
 }
}
