/* prettier-ignore */
#welcomeScreen {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    text-align: center; 
    background: 
      radial-gradient(at 18% 99%, rgba(0, 115, 255, 0.5) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 97% 8%, rgba(0, 234, 255, 0.5) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 79% 82%, rgba(111, 0, 255, 0.5) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 96% 10%, rgba(234, 0, 255, 0.5) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 42% 20%, rgba(0, 115, 255, 0.5) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 4% 49%, rgba(0, 234, 255, 0.5) 0px, transparent 50%) repeat scroll 0% 0%,
      radial-gradient(at 57% 33%, rgba(0, 115, 255, 0.5) 0px, rgb(11 27 36) 50%) repeat scroll 0% 0%;
      
    h1 {
        font-size: 2.5em;
        text-shadow: 0.1em 0.05em 0.1em rgb(11 27 36);
    }

    h2 {
        font-size: 1.4em;
        text-shadow: 0.1em 0.05em 0.1em rgb(11 27 36);
    }
}
