@import './theme';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.theme--light {
  background: $light-body-color;
}

.theme--dark {
  background: $dark-body-color;
}

body {
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
button {
  font: 400 1rem 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
