<div class="container">
  <app-choose-header></app-choose-header>
  <h1>Bundles</h1>
  <div class="page-controller">
    <mat-paginator [length]="this.apiService.bundles.length" [pageSize]="9" [hidePageSize]="true" [ngStyle]=""
      (page)="OnPageChange($event)">
    </mat-paginator>
  </div>

  <div class="card-list">
    <div class="card" *ngFor="let bundle of pageSlice">
      <img src="{{ bundle.displayIcon2 }}" alt="" srcset="" />
      <h2>{{ bundle.displayName }}</h2>
    </div>
  </div>

</div>