@import '@/styles/variables.scss';

.home-container {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer {
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;

  .fas {
    color: $secondary-color;
  }
}

.push, .footer {
  height: 50px;
}

@media (min-width: 768px) {
  .footer {
    font-size: 15px;
  }
}
