.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 0.5;
    cursor:pointer;

    &.btn-primary,
    &.btn-secondary{
        padding:10px;
        font-size: 16px;
        border-radius: 7px;
        border: 1px solid var(--primary);
    }

    &.btn-primary{
        color: var(--white);
        background: var(--primary);
        &:hover{
            background: var(--primary-010);
            color:var(--white)
        }
    }
    &.btn-secondary{
        color: var(--white);
        background: var(--secondary);
        &:hover{
            background: var(--secondary-010);
        }
    }
}