
.input-text {
    width: 480px;
    height: 30px;
    font-size: 19px;
    border-radius: 7px;
    border: 2px solid var(--primary);

    &:focus {
        outline: none;
        border: 2px solid var(--primary-020)
    }
}