*, *:after, *:before
    box-sizing: border-box
    margin: 0
    padding: 0
    max-width: 100%
    font-family: $font-default

a
    color: inherit
    text-decoration: none

ul li
    list-style: none

.default-section
    position: relative
    display: block
    width: 100%
    padding: 0 $section-padding

    +bp-mobile
        padding: 0 $section-padding-mobile

.default-section .default-container
    display: block
    width: $bp-xlarge
    margin: 0 auto
    height: 100%

.button
    +fx-display
    +fx-align-items(center)
    +fx-justify-content(center)
    background: $red
    color: #fff
    font-size: 13px
    padding: 4px
    width: 200px
    height: 46px
    border-radius: 2px

.default-section .default-container.fluid
    width: 100%

.slick-slider .slick-track
    max-width: none