// =============================================
// Break Points
// =============================================
$bp-xlarge: 1170px
$bp-large: 979px
$bp-medium: 770px
$bp-small: 599px
$bp-xsmall: 479px
$bp-mobile: $bp-medium

// =============================================
// Fonts
// =============================================
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap')

$font-default: 'Raleway', sans-serif
$font-default-regular: 400
$font-default-bold: 700

$font-special: 'Open Sans', sans-serif
$font-special-regular: 400
$font-special-bold: 700
$font-special-extrabold: 800

// =============================================
// Colors
// =============================================
$red: #e84545