@import "https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;500;700&display=swap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background: #3b4665;
}
