* {
    transition: .2s all;
}

.picker {
    margin: 20px auto;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;

        li {

            list-style: none;
        }

        li:hover {
            color: red;
            cursor: pointer;
            transform: translate(3%, -3%);

        }
    }

    .active {
        border-bottom: 3px solid red;
    }
}