.header{
    display: flex;
    align-items: center;
    background-color:#253EB2;
    height: 130px;
    border: 1px solid #1111;
    box-shadow: 0px 8px 16px 0px rgb(85, 85, 85);
    border-radius: 10px;
    border: solid;
    @media screen and (max-width: 768px) {
        height: auto;
        box-shadow: none;}
}
.title{
    margin-left: 25px;
    margin-top: 50px;
    color: white;
    font-size: 70px;
}

.img {
       top: -15px;
       margin-right: 10px;
}