<!--The login and user registration forms are imported simultaneously to the project's home screen. However, through Angular's *ngIf conditional, we can display only one form on the screen and hide the other. With a click event acting as a switch, we can control which form will appear on the user's screen. -->


<!--If making any changes, be careful with the `isLogins` and `isRegister` attributes-->


<main class="root">
    <div class="container">


        <!--forms for login and registration, with conditionals (ngIf) to define the user to be executed and the form to be hidden!!-->


        <div class="formLogin">
            <div class="title" *ngIf="isLogin">
                <h2>Welcome</h2>
                <p>Kanban Challenge</p>
            </div>
            <div class="title" *ngIf="isRegister">
                <h2>Sing Up</h2>
                <p>Be part of the team</p>
            </div>
            <app-login *ngIf="isLogin" class="content"></app-login>
            <app-register *ngIf="isRegister" class="content"></app-register>
        </div>


        <!--picture Field Control-->


        <div class="picture">
            <img src="https://play-lh.googleusercontent.com/7sH1qKJkGg60fV_x3DhowQ9sxBfJS7PafvkU4OMnemOZszvwBr-nj9MuCkemxXvA6vtb" alt="Logo field control" style="height: 50vh; border-radius: 50%; box-shadow: 0px 0px 50px black;">
        </div>
    </div>


    <!--click events that change which form will be displayed-->

    
    <div class="mensenger">
        <p class="msgregister" *ngIf="isLogin" (click)="changeForm()">Don't have an account? Sign up</p>
        <p class="msgregister" *ngIf="isRegister" (click)="changeForm()"> I have a registration, Back to login</p>
    </div>
</main>


 
