/* Estilização da raiz do documento */
.root {
    /* Altura total da janela de visualização */
    height: 100vh;
    /* Largura total do contêiner pai */
    width: 100%;
    /* Cor de fundo azul para o contêiner */
    background-color: blue;
}

/* Estilização do contêiner central principal */
.container {
    /* Altura ajustada para 90% da altura da janela de visualização */
    height: 90vh;
    /* Largura total do contêiner pai */
    width: 100%;
    /* Alinhamento dos itens filhos no centro do contêiner */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Espaçamento entre os itens filhos do contêiner */
    gap: 60px;
}

/* Estilização da seção de mensagens */
.mensenger {
    /* Altura ajustada para 10% da altura da janela de visualização */
    height: 10vh;
    /* Largura total do contêiner pai */
    width: 100%;
    /* Alinhamento dos itens filhos no centro do contêiner */
    display: flex;
    /* Cor do texto dos itens de mensagem */
    color: rgb(199, 198, 198);
    /* Alinhamento dos itens filhos no centro do contêiner */
    justify-content: center;
}

/* Estilização do item de mensagem no estado hover */
.msgregister:hover {
    /* Cor do texto alterada para branco ao passar o mouse */
    color: white;
    /* Muda o cursor para indicar que o item é clicável */
    cursor: pointer;
}

/* Estilização do formulário de login */
.formLogin {
    /* Altura ajustada para 90% da altura da janela de visualização */
    height: 90vh;
    /* Largura ajustada para 20% da largura do contêiner pai */
    width: 20%;
    /* Alinhamento dos itens filhos no centro do contêiner */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Direção dos itens no eixo principal é coluna */
    flex-direction: column;

    /* Estilização do título dentro do formulário de login */
    .title {
        /* Cor do texto do título */
        color: white;
        /* Altura ajustada para 20% da altura da janela de visualização */
        height: 20vh;
        /* Largura total do contêiner pai */
        width: 100%;
        /* Alinhamento dos itens filhos no centro do contêiner */
        display: flex;
        align-items: center;
        justify-content: center;
        /* Direção dos itens no eixo principal é coluna */
        flex-direction: column;
    }
}

/* Estilização do formulário de registro */
.formRegister {
    /* Cor do texto do formulário de registro */
    color: white;
    /* Altura ajustada para 20% da altura da janela de visualização */
    height: 20vh;
    /* Largura total do contêiner pai */
    width: 100%;
    /* Alinhamento dos itens filhos no centro do contêiner */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Direção dos itens no eixo principal é coluna */
    flex-direction: column;
}