
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

 
.menu {
  display: none;
}

#banner {
  /*background: url("https://res.cloudinary.com/dw369yzsh/image/upload/v1470916846/banner_background_ez243c.jpg");*/

  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 6.5em 0;
  padding-top: 40px;
}
#banner .banner_content_wrapper {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner #poster {
  width: 275px;
  position: relative;
  float: left;
}
#banner #poster .featured_image {
  width: 100%;
  max-width: 100%;
  border-radius: .5em;
  box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
}
#banner #poster .play_button {
  position: absolute;
  width: 80px;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
}
#banner #content {
  float: left;
  width: 500px;
  margin-left: 100px;
}
#banner #content .title {
  display: inline;
  font-size: 1.75em;
  font-weight: bold;
  color: #FFFFFF;
}
#banner #content .ratings {
  display: inline;
   
}
#banner #content .ratings i {
  color: #73e298;
  font-size: 1.35em;
  margin: 0 .15em;
}
#banner #content .ratings .inactive {
  color: #48494d;
}
#banner #content .description {
  color: white;
  font-size: 1em;
  line-height: 2;
}
#banner #content .info {
  color: #FFFFFF;
  font-size: .8em;
  font-weight: 700;
  margin-top: 3em;
}
#banner #content .info span {
  margin: 0 .5em;
}

 
 

.row {
  width: 100%;
}
.row .post {
  width: 14%;
  float: left;
  margin-right: 2.5%;
}
.row .post img {
  width: 100%;
  max-width: 100%;
  border-radius: .5em;
}
.row .post .title {
  font-size: 1.25em;
  margin: 1em 0 0 0;
  color: #252529;
}
.row .post .post_info {
  font-size: .75em;
  color: #8b8b9f;
  margin: 0.5em 0;
} 
 

@media only screen and (max-width: 768px) {
  #main_nav {
    display: none;
  }

  #main_nav.active {
    display: block;
    width: 100%;
  }
  #main_nav.active a {
    display: block;
    padding: 1em 0;
    border-bottom: 1px solid #E9E9E9;
  }
  #main_nav.active a:last-child {
    border-bottom: none;
  }

  .menu {
    display: block;
    float: right;
  }
  .menu i {
    font-size: 1.5em;
    color: #252529;
  }

  #banner {
    padding: 3.5em 0;
  }
  #banner #poster {
    width: 250px;
  }
  #banner #poster .play_button {
    width: 60px;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
  }
  #banner #content {
    margin-left: 50px;
  }
  #banner #content .title {
    font-size: 1.5em;
  }
  #banner #content .ratings i {
    font-size: 1em;
  }
  #banner #content .description {
    font-size: .9em;
    line-height: 2;
  }
  #banner #content .info {
    font-size: .7em;
    font-weight: 700;
    margin-top: 2em;
  }
  #banner #content .info span {
    margin: 0 .25em;
  }

 
  .row .post {
    width: 30.6%;
    margin-right: 0 1.25% 2em 1.25%;
  }
  .row .post .title {
    font-size: 1em;
    margin: .5em 0 0 0;
  }
  .row .post .post_info {
    font-size: .65em;
  }
}



@media only screen and (max-width: 575px) {
  #banner .banner_content_wrapper {
    display: block;
  }
  #banner .banner_content_wrapper #poster {
    width: 250px;
    float: none;
    display: block;
    margin: 0 auto;
  }
  #banner .banner_content_wrapper #content {
    width: 100%;
    margin: 1em auto 0 auto;
  }

  .row .post {
    width: 250px;
    margin: 0 auto 2em auto;
    float: none;
  }

  #top_movies, #top_shows {
    margin-bottom: 2em;
  }

 
}
