<ako-kanban-toolbar></ako-kanban-toolbar>
<div
  class="board__lists"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="moveList($event)"
  cdkDropListGroup
>
  <ako-kanban-list
    *ngFor="let list of board.lists; trackBy: trackById"
    [list]="list"
    (addTask)="addTaskToList(list)"
    (titleChanged)="updateTitleInList(list, $event)"
    (remove)="removeList(list)"
    cdkDrag
    cdkDragPreviewContainer="parent"
  >
    <ako-kanban-drag-handle
      slot="dragHandle"
      cdkDragHandle
    ></ako-kanban-drag-handle>
    <ako-kanban-list-tasks-wrapper
      class="board__list__task-wrapper"
      cdkDropList
      [cdkDropListData]="list"
      (cdkDropListDropped)="moveTask($event)"
    >
      <ako-kanban-task
        *ngFor="let task of list.tasks; index as taskIndex; trackBy: trackById"
        [task]="task"
        (remove)="removeTaskFromList(list, taskIndex)"
        (updateDescription)="updateTaskDescription(task, $event)"
        cdkDrag
        cdkDragPreviewContainer="parent"
      ></ako-kanban-task>
    </ako-kanban-list-tasks-wrapper>
  </ako-kanban-list>
</div>
