h1{
    font-size:large;
    color: white;
    margin-bottom: 10px;
}
span{
    margin-top: 20px;
    color: white;
}
.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-page{
    color: white;
}
app-repositoriocard{
    width: 100%;
}
fa-icon{
    margin-left: 5px;
}