.containerDialog {
  width: 500px;
  height: 550px;
  padding: 20px;
}

h1 {
  font-weight: 200;
  font-size: 17px;
  padding-bottom: 12px;
  padding-top: 12px;
}

@media screen and (max-width: 680px) {
  .containerDialog {
    width: fit-content;
  }
}

@media screen and (max-width: 550px) {
  .containerDialog {
    height: 400px;
  }
}
