body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #161616;
}

.container {
    max-width: 980px;
    margin: 20px auto;
    padding: 20px;
    background-color: #292b36;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e4e8;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.github-icon {
    width: 40px;
    height: 40px;
}

.fieldcontrol-icon {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.search-bar {
    flex-grow: 1;
    margin-left: 30px;
    margin-right: 20px;
}

.search-class {
    background-color: #292b36;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #d1d5da;
    border-radius: 6px;
}

button {
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}


.repo-list {
    list-style-type: none;
    padding: 0;
    position: relative;
}

li {
    border: 1px solid #e1e4e8;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
}

li:hover {
    transform: scale(1.03);
}

.repo-info a {
    color: #0366d6;
    text-decoration: none;
    font-weight: 600;
}

.repo-info p {
    color: #ffffff;
    margin: 8px 0;
}

.stats {
    display: flex;
    justify-content: space-between;
    color: #97a3b1;
}

.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button:disabled {
    background-color: #6a737d;
    cursor: not-allowed;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}