.container {
  margin: 0 60px;
  display: flex;
  justify-content: center;
}
.inputText {
  width: 800px;
  height: 2rem;
  background: transparent;
  color: white;
  font-family: "Open Sans", sans-serif;
  border: 2px solid white;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 20px;
  transition: 0.4s;
}
.inputText:focus {
  outline: none;
  border: 2px solid rgb(17, 173, 95);
}
