<div class="column">
  <div class="column-header">
    <h3>{{ title }}</h3>
    <div class="buttons">
      <button (click)="editColumn()" class="buttonEdit">
        <i class="fa fa-edit" aria-label="Editar Coluna"></i>
      </button>
      <button (click)="deleteColumn()" class="buttonDelete">
        <i class="fa fa-trash" aria-label="deletar card"></i>
      </button>
      <button (click)="showCardForm = !showCardForm" class="buttonAddCard">
        <i class="fa fa-plus" aria-label="adicionar Card"></i>
      </button>
    </div>
  </div>

  <div class="card-form" *ngIf="showCardForm">
    <input
      type="text"
      placeholder="Título do Card"
      [value]="newCardTitle"
      (input)="updateNewCardTitle($event)"
    />

    <input
      type="text"
      placeholder="Descrição do Card"
      [value]="newCardDescription"
      (input)="updateNewCardDescription($event)"
      class="description"
    />

    <button (click)="createCard()" class="confirmCard">
      Adicionar Card<i class="fa fa-plus" aria-label="adicionar Card"></i>
    </button>
    <button (click)="cancelCreateCard()" class="cancelCard">
      Cancelar<i class="fa fa-times"></i>
    </button>
  </div>

  <div class="cards">
    @for(card of cards; track card){
    <app-card
      [id]="card.id"
      [title]="card.title"
      [description]="card.description"
    ></app-card>
    }
  </div>
</div>
