li {
  display: flex;
  align-items: flex-start;

  padding: 1rem 0;

  & + li {
    border-top: solid 1px var(--gray-100);
  }

  div.book-icon {
    margin-right: 1rem;
  }

  div.repo-infos {
    display: flex;
    flex-direction: column;

    a.fullname {
      color: var(--orange-100);
      font-size: 1.1rem;
      font-weight: bold;

      transition: 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }

    span.description {
      font-size: 1.2rem;
      line-height: 1.6rem;
      color: var(--gray-200);
      margin-top: 0.5rem;
    }

    div.counters {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;

      div {
        display: flex;
        align-items: center;
        color: var(--gray-200);

        & + div {
          margin-left: 1rem;
        }

        small {
          margin-left: 0.3rem;
        }
      }
    }
  }
}
