main {
  background-color: rgb(239, 237, 240);
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: calc(100vh);
  padding-top: 128px;
  width: 100%;
  overflow-y: scroll;

  @media screen and (min-width: 800px) {
    flex-direction: row;
    padding-left: 86px;
  }
}
