ul {
  margin: 2rem;
  padding: 2rem;
}

figcaption {
  font-size: 1.6rem;
  font-family: Mulish, sans-serif;
  font-weight: 800;
  margin: 12px;
}

ul li {
  list-style: none;
  padding: 2px;
}

ul li a {
  padding-left: 24px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

ul li a:hover {
  text-decoration: underline;
}

.mat-icon {
  width: 1.8rem;
  color: var(--color-custom-red);
  vertical-align: middle;
  padding-right: 8px;
}
