.container-project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-list,
form {
  margin: 1rem;
  padding: 1rem;
}

.logo {
  width: 100%;
}

.project-figcaption {
  font-family: Mulish, Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin: 12px;
}

.project {
  list-style: none;
  padding: 2px;
}

.project-name {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-font-white);
  padding-left: 24px;
}

.project-name:hover {
  text-decoration: underline;
}

.project-list-icon {
  width: 28px;
  color: var(--color-custom-red);
  vertical-align: middle;
  padding-right: 8px;
}

.container-create-btn {
  display: flex;
  align-items: center;
}

.create-btn {
  font-family: Mulish;
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--color-font-grey);
}

.create-btn .create-btn-icon {
  vertical-align: middle;
  margin-bottom: 2px;
}

.create-project-form label {
  font-size: 1.8rem;
}

.create-project-form {
  display: flex;
  flex-direction: column;
  padding: 24px 12px;
  gap: 8px;
}

.create-project-form label {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: Mulish, sans-serif;
  color: var(--color-font-white);
}

.create-project-form app-button {
  align-self: flex-end;
}

@media only screen and (max-width: 480px) {
  .container-project-list {
    margin-top: 3rem;
    padding-top: 8rem;
    gap: 20px;
  }

  .project {
    padding: 6px;
  }

  .project-name {
    font-size: 1.8rem;
    padding-left: 0;
  }
}
