@import "/src/app/scss/includes.scss";

.main-menu {
  background: $color-background;
  box-shadow: 4px 0 8px 0 $color-shadow;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
  z-index: 100000;

  &:hover {
    width: 250px;
    overflow: visible;
    transition: 0.1s;
  }

  ul {
    margin: 7px 0;
    padding-left: 0rem !important;
  }

  li {
    position: relative;
    display: block;
    width: 250px;

    a {
      color: $color-text !important;
      position: relative;
      display: table;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: 14px;
      text-decoration: none;
      -webkit-transition: all 0.1s linear;
      transition: all 0.1s linear;

      &:hover,
      &:focus {
        background-color: $color-grey-bg;
        color: $color-primary !important;
        font-weight: bold;
      }
    }
  }

  nav {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    ul,
    li {
      margin: 0;
      outline: 0;
      padding: 0;
      font-weight: normal;
    }
  }

  .active {
    &:hover,
    a:focus {
      a {
        background-color: $color-grey-bg;
        color: $color-primary !important;
        font-weight: bold;
      }
    }
  }

  .nav-text {
    width: 190px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }

  .text-highlight {
    i,
    span {
      color: $color-primary !important;
      font-weight: bold;
    }
  }

  .li-highlight {
    background-color: $color-grey-bg;
  }

  .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
  }
}
