<section id="about" class="about-page">
  <div class="container-logos">
    <img src="../../../assets/images/angular-logo.svg" alt="angular logo">
    <img src="../../../assets/images/coinranking-logo.svg" alt="coinranking logo">
    <img src="../../../assets/images/fieldcontrol-logo.svg" alt="fieldcontrol logo">
  </div>
  <div class="container-description">
    <h1 class="title">Valinor</h1>
    <p class="subtitle">Este projeto foi desenvolvido utilizando o Angular 17</p>
    <p>Dados fornecidos por Coinranking API</p>
  </div>
  <div>
    <a class="link-portfolio" href="https://dantsdev.vercel.app/" _blank>clique aqui para acessar meu portifólio!</a>
  </div>
</section>
