.board {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: #f4f7fa;
  justify-content: center;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons{
  display: flex;
  justify-content: space-around;
}



.board .list {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.list h2 {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 15px;
}


.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.card p {
  font-size: 0.9rem;
  color: #666;
}


button {
  background-color: #1717cf;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  font-size: 0.9rem;
  margin-top: 15px;
}

button:hover {
  background-color: #c0392b;
}
