@import url('https://fonts.googleapis/css?family-Nunito:400,700|Lato:400,800,900');

$familly-sans-serif: 'Nunito', sans-serif;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

