<div (click)="closeAddColumnModal()" class="modal-overlay"></div>
<div class="modal">
  <header>
    <h1>Adicionar Coluna</h1>
    <button (click)="closeAddColumnModal()" class="close-modal">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path
          d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"
        />
      </svg>
    </button>
  </header>
  <main>
    <form [formGroup]="columnForm" (ngSubmit)="onSubmit()">
      <div class="columnName">
        <label for="columnName">Nome da Coluna:</label>
        <input type="text" id="columnName" formControlName="columnName" placeholder="Digite o nome da coluna"/>
      </div>
      <div class="columnColor">
        <label for="columnColor">Cor da coluna:</label>
        <select formControlName="color" id="columnColor">
          <option value="" disabled selected>Selecione a cor da coluna</option>
          <option *ngFor="let color of colors" value={{color.hexCode}} class="amarelo">{{color.colorName}}</option>
        </select>
      </div>
      <button [ngStyle]="{'color': columnForm.value.color, 'border-color': columnForm.value.color}" type="submit" [disabled]="isLoading || columnForm.invalid"  class="button-primary">{{ isLoading ? 'Criando...' : 'Criar Coluna' }}</button>
    </form>
  </main>
  <footer><p class="errorMessage" *ngIf="hadError">Houve um erro inesperado.</p></footer>
</div>
