<div class="container-master">
  <app-choose-header></app-choose-header>
  <div class="container">
    <h1>Agentes</h1>
    <div class="page-controller">
      <mat-paginator [length]="this.apiService.agents.length" [pageSize]="4" [hidePageSize]="true" [color]=""
        (page)="OnPageChange($event)">
      </mat-paginator>
    </div>
    <div class="agents-list">
      <div class="card" *ngFor="let agent of pageSlice">
        <div class="background card"
          style="background-image: linear-gradient(#{{agent.backgroundGradientColors[0]}} , #{{agent.backgroundGradientColors[1]}})">
          <div class="content">
            <img src="{{ agent.displayIcon }}" alt="" srcset="" />
            <h2>{{ agent.displayName }}</h2>
            <h5>{{ agent.role.displayName }}</h5>
          </div>
          <p>{{agent.description}}</p>
        </div>
      </div>
    </div>
  </div>

</div>