.modal {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #333;
  left: 50%;
  max-height: 90vmax;
  min-width: 320px;
  overflow-y: scroll;
  position: fixed;
  padding: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.overlay {
  background-color: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}
