<nav class="navbar bg-body-tertiary my-nav">
    <div class="container-fluid">
        <a class="navbar-brand app-title" (click)="homeNav()">Star Wars</a>
        <form class="d-flex" role="search">
            <input id="search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Pesquisar" #searchInput>
            <button id="search-button" class="btn btn-outline-warning" type="submit" (click)="searchedText(searchInput.value)">Search</button>
        </form>
    </div>
</nav>