<div class="h-screen h-100 bg-slate-100 overflow-x-hidden">
    <tbody class="w-full bg-slate-100">

        <header class="bg-blue-600 w-screen shadow-md shadow-gray-500">
            <div class="flex items-center justify-between">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOAAAADgCAMAAAAt85rTAAAAY1BMVEUAVf////8AUP8ARf/m6v/w9f9Xif8AUv8AS/8ASf+2y/+iuP8qcP/r8f9Jhf/K2f8cZf8YX//j7f85bf/T3f/O1//d5//Y4f9Pgv8fZ/+owf+Bp/8SXP+50P8ZYP+Vr/9zmv9FmtDOAAABHUlEQVR4nO3bzVLCMBSA0QrUQAVF8afVor7/U7qVTdsxnbmhnvME91smN6kqAAAAAAAAAAAAAAAAWLC0ntsuOulCOj1vZvZSVGHaH25mtllHR/0mUKDAWAIFCowlUKDAWAIFFh/4Ws/srajAqm9vZ9auopsurWYXXQQAAAAAMChtd1m20QEjUvfe5Dh/9NEJw9K+zlu1nD+jE4Zlb5eax+iEYQIFCowlUKDAWAIFCowlUGDpgcevuyzfhZ/oq7TN42UaAAAAAHB1lv4rt2/vR7Wl314PmPRWrT6l6Dn/bNLy5UlguQQKLJxAgYUTKLBwAgUW7h8ETjgPHq45sDs/jGq66w2squME0TNmSRNEzwgAAAAAAAAAAAAAALAoP9eMMHGxl3d/AAAAAElFTkSuQmCC"
                    alt="logo field" class="w-10 h-10 rounded-full mx-5 my-2 shadow-md shadow-white">

                <div class="relative mx-5 w-full">
                    <div class="flex items-center">
                        <input type="text" [(ngModel)]="q" name="q" placeholder="Search"
                            class="rounded-md w-full pr-10 py-2 indent-2">
                        <button (click)="mainSearch()" [disabled]="filtersDesable">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="h-8 w-8 absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-600 hover:text-blue-600 border-l-2 border-gray-600 pl-2"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M21 21l-5.2-5.2"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M10 17a7 7 0 100-14 7 7 0 000 14z"></path>
                            </svg>
                        </button>
                    </div>
                </div>

                <select id="dropdown" [(ngModel)]="sortAndOrder" name="sortAndOrder" (change)="findRepositories()"
                    class="rounded-md pr-10 py-2 indent-2 mr-2" [disabled]="filtersDesable">
                    <option value="best-match">Sorty by: Best match</option>
                    <option value="stars desc">Sorty by: Most stars</option>
                    <option value="stars asc">Sorty by: Fewest stars</option>
                    <option value="forks desc">Sorty by: Most forks</option>
                    <option value="forks asc">Sorty by: Fewest forks</option>
                    <option value="updated desc">Sorty by: Recently updated</option>
                    <option value="updated asc">Sorty by: Least recently updated</option>
                </select>
                <select [(ngModel)]="perPage" name="perPage" (change)="changePerPage()"
                    class="rounded-md pr-10 py-2 indent-2 mr-3 block w-1/3" [disabled]="filtersDesable">
                    <option [value]="15">Files per page: 15</option>
                    <option [value]="30">Files per page: 30</option>
                    <option [value]="45">Files per page: 45</option>
                </select>
            </div>
        </header>

        <div class="flex flex-col flex-wrap overflow-y-auto overflow-x-hidden p-10 w-full h-full content-center gap-3">
            <article *ngFor="let repositorie of repositories"
                class="p-2 shadow-md shadow-gray-600 w-1/3 m-1 rounded-md bg-white border-2 border-blue-600 gap-2">
                <app-card [repositorie]="repositorie"></app-card>
            </article>
        </div>

        <nav class="flex flex-row justify-center w-full pb-10 gap-3">
            <button (click)="goToPreviousPage()"
                class="bg-blue-600 p-2 w-10 h-10 rounded-full shadow-md shadow-gray-500"
                [hidden]="navHidden"
                [disabled]="prevDesable">
                <i class="fas fa-arrow-left" aria-hidden="true"></i>
            </button>
            <select [(ngModel)]="page" name="page" (change)="selectPage()"
                class="rounded-md pr-10 py-2 indent-2 w-40 origin-center text-center shadow-md shadow-gray-500"
                [hidden]="navHidden">
                <option *ngFor="let number of pages" [value]=number>Página: {{ number }}</option>
            </select>
            <button (click)="goToNextPage()" class="bg-blue-600 p-2 w-10 h-10 rounded-full shadow-md shadow-gray-500"
                [hidden]="navHidden" [disabled]="nextDesable">
                <i class="fas fa-arrow-right" aria-hidden="true"></i>
            </button>
        </nav>
    </tbody>
</div>