@use "../abstracts/variables" as var;
@use "../abstracts/mixins";

.btn-more {
    background-color: var.$brand-primary-color;
    border: none;
    border-radius: 2px;
    font-weight: var.$semibold;
    margin-top: 80px;

    &:hover {
        background-color: #e52e2e;
        transition: background-color, color, 0.3s;
    }

    &__link {
        color: var.$white-color;
        display: block;
        padding: 15px var.$gap-large;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
    }
}

.btn-close-modal {
    align-items: center;
    background-color: var.$brand-primary-color;
    border: 2px solid var.$text-primary-color;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    @include mixins.sizer(50px);
    justify-content: center;
    left: 95%;
    position: absolute;
    top: -17px;

    @media screen and (max-width: 770px) {
        left: 90%;
    }
}
