@use "../abstracts/variables" as var;
@use "../abstracts/mixins";

.icon-menu {
    background-color: var.$brand-primary-color;
    border-radius: 50%;
    cursor: pointer;
    @include mixins.sizer(50px);
    @include mixins.flex-position(column);
    z-index: 999;

    @media screen and (min-width: 1020px) {
        display: none;
    }
}

.bar1,
.bar2,
.bar3 {
    background-color: var.$white-color;
    height: 4px;
    margin: 3px 0;
    transition: 0.4s;
    width: 30px;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-7px, -7px);
}
