@use "../abstracts/variables" as var;

.team-member-card {
    margin: var.$gap-medium var.$gap-small;
    max-width: 270px;

    &__name {
        color: var.$text-primary-color;
        font-size: 1.375rem;
        font-weight: var.$regular;
        margin-top: var.$gap-small;
    }

    &__work {
        color: var.$brand-primary-color;
        font-size: 0.8125rem;
        font-weight: var.$regular;
        text-transform: uppercase;
    }

    &__about {
        margin: var.$gap-medium 0 var.$gap-large;
    }
}
