
<div class="paginator">
  <app-paginator (pageChange)="onPageChange($event)" [pageLength]="pageLength" [pageIndex]="pageIndex">
  </app-paginator>
  <input data-test="searchText" class="search" type="text" [(ngModel)]="searchText" (input)="championSearch()" placeholder="Pesquisa">
</div>
<div class="container">
  <div class="champion" *ngFor="let champ of championList">
    <img routerLink="/champion/{{ champ.name }}"
      src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{ champ.name }}_0.jpg">
    <span class="champName">{{ champ.name }}</span>
    <div class="type" >
      <div *ngFor="let type of champ.tags let i = index" class="divTypes type{{i}}">
        <img *ngIf="type != null" src="../../../assets/images/{{ type }}_icon.webp" data-toggle="tooltip" title="{{ type }}">
      </div>
    </div>
  </div>
</div>
