@use "variables.scss" as v;
@use "typography.scss" as t;

nav {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  height: 60px;
  line-height: 60px;
  padding: 0 12px;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    .menu-items {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    a {
      @include t.kb-link;
    }
  }
}
