<div class="kb-board-header">
  <button
    mat-mini-fab
    [routerLink]="['/boards']"
    color="secondary"
    aria-label="Back to boards"
  >
    <mat-icon>chevron_left</mat-icon> <!-- Verifique se o ícone está disponível -->
  </button>

  <h1 class="kb-board-title">{{ board()?.name }}</h1> <!-- Verifique se a função retorna o nome corretamente -->
</div>

<!-- Lists should come from swimlanes for the board -->
<div
  cdkDropListGroup
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="onSwimlaneChange($event)"
  class="swimlanes-wrapper"
>
  @for(swimlane of board()?.swimlanes; track swimlane) {
  <div class="swimlane" cdkDrag>
    <div class="swimlane-header" cdkDragHandle>
      <h2>{{ swimlane.name }}</h2> <!-- O nome da swimlane deve ser exibido aqui -->
      <div>
        <button
          color="secondary"
          mat-stroked-button
          (click)="editSwimlane(swimlane)"
        >
          Editar
        </button>
      </div>
    </div>

    <div class="swimlane-inner">
      <div
        class="swimlane-inner__dragzone"
        cdkDropList
        cdkDropListOrientation="vertical"
        [cdkDropListData]="swimlane.cards"
        (cdkDropListDropped)="onCardChange($event, swimlane)"
      >
        @for(card of swimlane.cards; track card) {
        <button
          class="swimlane__card"
          (click)="addOrEditCard(swimlane, card)"
          cdkDrag
        >
          {{ card.name }} <!-- Nome do cartão -->
        </button>
        }
      </div>
    </div>
    <button (click)="addOrEditCard(swimlane)" mat-button>Adicionar card</button> <!-- Verifique se a função está implementada -->
  </div>
  }
  <div class="swimlane">
    <h2>Novo quadro</h2>
    <div class="swimlane-inner">
      <form [formGroup]="swimlaneForm">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Ex. Todo" />
          @if (!swimlaneForm.controls.name.hasError('required')) {
          <mat-error>Please enter a valid name</mat-error>
          } </mat-form-field
        ><br />
        <button (click)="addSwimlane()" color="primary" mat-flat-button>
          Adicionar
        </button> <!-- Verifique se a função está implementada -->
      </form>
    </div>
  </div>
</div>
