.mural{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    background-color: #8e97aa;

}
.semColunas{
    width: 100%;
    height: 500px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 36px;
}