<div class="column-box">
    @for (column of columns; track column) {
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ column.name }}</h5>
                <ul class="list-group list-group-flush">
                    @for (card of column.cards; track card) {
                        <li class="list-group-item">{{ card.name }}</li>
                        <li class="list-group-item">{{ card.createdAt }}</li>
                        <li class="list-group-item">{{ card.description }}</li>
                        <li class="list-group-item">{{ card.responsible.name }}</li>
                        
                    }
                  </ul>
            </div>
        </div>
    }
</div>
