<header>
  <mat-toolbar color="accent" class="spacer justify-space-between">
    <img
      id="imgLogo"
      src="./assets/img/logo/android-chrome-384x192.png"
      alt="Logo"
      class="logo img-fluid rounded"
    />
    <h1 id="h1Title" class="fs-1 no-margin">{{ title }}</h1>
    <button
      id="buttonDarkMode"
      (click)="toggleTheme()"
      class="buttonToggleTheme circular no-borders"
    >
      <img
        class="theme-icon"
        src="./assets/img/icons/day-and-night-icon.ico"
        alt="Day and Night"
      />
    </button>
  </mat-toolbar>
  <div class="row">
    <div class="col-sm-12 col-md-1 d-flex justify-content-center"></div>
    <div class="col-sm-12 col-md-3">
      <div class="default-mid-margin">
        <div class="display-flex justify-center align-items-center default-margin-top">
          <span class="badge bg-secondary default-mid-margin">Quantidade de resultados por página</span>
        </div>
        <mat-slider
          class="maxwidth default-margin"
          min="1"
          max="5"
          step="1"
          showTickMarks
          discrete
          [displayWith]="formatLabel"
        >
          <input matSliderThumb />
        </mat-slider>
      </div>
    </div> 
    <div class="col-sm-12 col-md-7 d-flex justify-content-center">
      <mat-form-field class="default-margin maxwidth">
        <mat-label>Buscar</mat-label>
        <input matInput placeholder="Digite sua pesquisa aqui" />
      </mat-form-field>
    </div>
  </div>
</header>
