<div class="background">
  <div class="logo py-5 d-flex justify-content-center">
    <img class="img-size img-fluid" src="../assets/images/star-wars-logo-3-1.png" alt="logo">
  </div>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-10 col-md-1">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-10 col-md-10">
        <!--Disposição de rotas para apresentar cada grupo de cards-->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>