<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <div class="pos-f-t">
        <nav class="navbar navbar-dark bg-dark">
          <h1>Futebas</h1>
            <div class="bg-dark p-4">
              <nav class=" navbar-expand-lg">
              <ul class="navbar-nav">
                  <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="/times">Tabela</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="/jogador">Artilheiros</a></li>
              </ul>
          </nav>
          </div>
          </nav>
        </div>
    <router-outlet></router-outlet>
</body>
</html>