<form [formGroup]="adicionarQuadroForm">
  <h1>{{ data.quadro?.id ? "Editar" : "Adicionar" }} quadro</h1>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome" placeholder="Ex. Meu Quadro" />

    @if (!adicionarQuadroForm.controls.nome.hasError('required')) {
    <mat-error>Por favor insira um nome válido</mat-error>
    }
  </mat-form-field>

  <div class="button-group">
    <button (click)="createOrEditQuadro()" mat-flat-button color="primary">
      {{ data.quadro?.id ? "Editar" : "Adicionar" }} quadro
    </button>
    <button (click)="closeDialogo()" mat-flat-button color="secondary">
      Fechar Dialogo
    </button>
  </div>
</form>
