.sidebar {
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 10%;
}
.nav-link {
  color: black;
}
p {
  text-align: center;
}
.nav-link {
  padding: 1rem 0.25rem 0 0.25rem;
}
