<div class="nav row">
    <li class="sidebar nav-item col-4 col-lg-12">
        <a [routerLink]="['/people']" routerLinkActive="active" href="" class="nav-link"><img class="img-fluid"
                src="../../assets/images/person.png" alt="">
            <p>People</p>
        </a>
    </li>
    <li class="sidebar nav-item col-4 col-lg-12">
        <a [routerLink]="['/planets']" routerLinkActive="active" href="" class="nav-link"> <img class="img-fluid"
                src="../../assets/images/planet.png" alt="">
            <p>Planets</p>
        </a>
    </li>
    <li class="sidebar nav-item col-4 col-lg-12">
        <a [routerLink]="['/species']" routerLinkActive="active" href="" class="nav-link"><img class="img-fluid"
                src="../../assets/images/specie.png" alt="">
            <p>Species</p>
        </a>
    </li>
    <li class="sidebar nav-item col-4 col-lg-12">
        <a [routerLink]="['/starships']" routerLinkActive="active" href="" class="nav-link"><img class="img-fluid"
                src="../../assets/images/starship.png" alt="">
            <p>Starships</p>
        </a>
    </li>
    <li class="sidebar nav-item col-4 col-lg-12">
        <a [routerLink]="['/films']" routerLinkActive="active" href=""
            class="nav-link d-flex flex-column justify-content-center"><img class="img-fluid"
                src="../../assets/images/film.png" alt="">
            <p>Films</p>
        </a>
    </li>
    <li class="sidebar nav-item col-4 col-lg-12">
        <a [routerLink]="['/vehicles']" routerLinkActive="active" href="" class="nav-link"><img class="img-fluid"
                src="../../assets/images/vehicle.png" alt="">
            <p>Vehicles</p>
        </a>
    </li>
</div>