div.card
    background-color: none
    width: 100vw
    height: 8rem
    max-width: 80vw
    display: flex
    flex-direction: column

div.title
    display: flex
    flex-direction: row
    gap: 10px
    justify-items: between
    align-items: center
    padding: 5px 0

div.footer
    display: flex
    flex-direction: row
    gap: 10px
    padding: 5px 0

a.title
    font-size: 16px
    margin-top: 2px

p.description
    padding: 5px 0
