

.button {

  .__home {

  }

  .__navigate {
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  .__iconlink img{
    width: 24px;
    height: 24px;
  }

  .__logout img{margin-top: 3.5px;
    width: 20px;
    height: 20px;
  }
  .__logout {display: flex;
    gap: 10px;
    text-decoration: none;
    font-size: 19px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
}
@media screen and (max-width:1000px) {

.button {

  .__home img{
    width: 60px;
    height: 24px;

  }

  .__navigate {
    text-decoration: none;
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  .__iconlink img{
    width: 14px;
    height: 14px;
  }

  .__logout img{margin-top: 3.5px;
    width: 20px;
    height: 20px;
  }
  .__logout {display: flex;
    gap: 6px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
}

}
