<form   [formGroup]="addBoardForm"
                (ngSubmit)="createOrEditBoard()">
			<h1>{{ data.board?._id ? "Editar" : "Adicionar" }} quadro</h1>
			<div class="form-group">
            <input  type="text" 
                    formControlName="name" 
                    class="form-control" [ngClass]="{'is-invalid': addBoardForm.controls.name.invalid && addBoardForm.controls.name.touched}"
                    placeholder="Nome">

            @if (addBoardForm.controls.name.hasError('name') && addBoardForm.controls.name.touched) {
                <div class="invalid-feedback">Insira um nome válido</div>
            } @if (addBoardForm.controls.name.hasError('required') && addBoardForm.controls.name.touched) {
                <div class="invalid-feedback">O nome é obrigatório!</div>
            }
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="responsibles" formControlName="responsibles" placeholder="Responsavel">
        </div>
        <div class="buttons">
			<button type="submit">Criar</button>
            @if (addBoardFailed) {
                <div class="login-error">Nome inválido</div>
            }
            <button (click)="closeDialog()" class="ghost">Fechar</button>
        </div>
		</form>
