form {
    display: block;
    padding: 24px;
}

h1 {
    margin-bottom: 1rem;
}

input {
	background-color: rgba(60, 91, 111, 0.170);
	border: none;
	padding: 10px 15px;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
	border-radius: 20px;
	border: 1px solid rgb(60, 91, 111);
	background-color: rgb(21, 52, 72);
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin-top: 20px;
}

button:active {
	transform: scale(0.95);
}

button.ghost {
	background-color: transparent;
	border-color: rgb(60, 91, 111);
    color: rgb(60, 91, 111);
}

button.ghost:hover {
    background-color: rgb(60, 91, 111);
    color: white;
}

button:hover {
	transform: scale(1.1);
}

.error {
    color: red;
    margin-top: 10px;
}

@media (max-width: 600px) {
	button {
		padding: 7px 30px;
	}
}