.__button {
margin-top: 30px;
  display: flex;
  width: 316px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background: #FFF;
}
.__button:hover {
  align-items: center;
background-color: aqua;
  color: rgb(255, 255, 255);


}
