*, *:before, *:after
    box-sizing: border-box

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    text-size-adjust: none
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif

footer, header, nav, section, main
    display: block

body
    line-height: 1
    background-color: #0d1117
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
    color: #c9d1d9
    overflow-x: hidden

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after, q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

input
    -webkit-appearance: none
    border-radius: 0

code
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace !important

.pagination-previous a
    color: #58a6ff !important

.pagination-previous.disabled
    color: #484f58 !important

.pagination-next a
    color: #58a6ff !important

.ngx-pagination
    font-size: 14px

.ngx-pagination a
    background: none
    border-radius: 6px
    padding: 5px 10px !important
    margin-left: 2px !important

.ngx-pagination a span
    color: #c9d1d9

.ngx-pagination a:hover
    border: 1px solid #484f58
    border-radius: 6px
    background: none !important

.ngx-pagination li.current
    background: #1f6feb !important
    border-radius: 3px
    padding: 5px 10px !important
