<h1 matDialogTitle>Title</h1>
<mat-dialog-content>
    Dialog content
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button matDialogClose>Close dialog</button>
    <button mat-button>Action</button>

</mat-dialog-actions>

<!-- <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center text-center sm:items-center sm:p-0">
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all w-full sm:my-8 sm:max-w-xl">
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="flex flex-row">
            <div class='items-center text-lg mr-2'>
              <span class="fas fa-newspaper"></span>
            </div>
            <div class="flex flex-row">
              <div class="w-full line-clamp-1 mr-2">
                <h3 class='text-lg'>{{card.title}}</h3>
              </div>
              <div class=" rounded-full px-2 self-center">
                <span class="fas fa-times transition duration-150 ease-in-out hover:text-red-500"></span>
              </div>
            </div>
          </div>
          <span class="text-gray-500 text-sm font-light">Na lista: In progress</span>
          <p class="mt-4 text-sm text-gray-500 font-thin">Etiquetas</p>
          <div class="flex flex-row">
            <div class='p-2 bg-blue-400 w-max rounded-md mr-1 font-semibold '>
              <span>Badge Blue</span>
            </div>
            <div class="p-2 bg-gray-400 rounded-md text-gray-100 mr-1 font-thin">
              <span class='fas fa-plus'></span>
            </div>
          </div>
          <div class="mt-4">
            <label class="text-gray-500 text-sm font-semibold block">Descrição</label>
            <textarea name="" id="" rows="3" placeholder="Adicione uma descrição mais detalhada..."
              class="w-full shadow-sm bg-gray-100 p-2 rounded-md"></textarea>
          </div>
          <div class="mt-4">
            <div class="flex flex-row">
              <div class="w-1/2 mr-2">
                <label class="text-gray-500 text-sm font-semibold block">Criado em:</label>
                <input type="date" class="bg-gray-100 p-2 rounded-md w-full text-gray-700">
              </div>
              <div class="w-1/2 ml-2">
                <label class="text-gray-500 text-sm font-semibold block">Entregar até:</label>
                <input type="date" class="bg-gray-100 p-2 rounded-md w-full text-gray-700">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
