<div class="dashboard-container">

  <div class="showMember-container">
    <h3>Membros</h3>

    <div *ngIf="error" class="error">{{ error }}</div>
    
    <div id="membersListContainer">
      <ul>
        <li *ngFor="let member of members">
          {{ member.username }} - {{ member.email }} - {{ member.role }}
        </li>
    </ul>
    </div>
  </div>


  <div class="createCard-container">
    <h3>Envie um Card</h3>
    <div id="createCardContainer">
      <form id="formzin" (submit)="submitCard()">
        <div>
          <label>Título:</label>
          <input type="text" [(ngModel)]="cardTitle" name="title" required />
        </div>

        <div>
          <label>Enviar para:</label>
          <select [(ngModel)]="selectedMemberId" name="memberId" required>
            <option *ngFor="let member of members" [value]="member.id">
              {{ member.username }}
            </option>
          </select>
        </div>

        <div *ngFor="let task of tasks; let i = index">
          <label>Task {{ i + 1 }}:</label>
          <input type="text" [(ngModel)]="tasks[i].description" name="task-{{i}}" required />
        </div>

        <button class="butzin" type="button" (click)="addTask()">Adicionar Task</button>
        <button class="butzin" type="submit">Enviar Card</button>
      </form>
    </div>
  </div>

  <div id="cardsinhocontainer">
    <h3>Cards Enviados</h3>
    <div class="submittedCards-container">
      <div class="cardlist" *ngIf="submittedCards.length === 0">Nenhum card enviado ainda.</div>

        <div *ngFor="let card of submittedCards" class="card">
          <h4>{{ card.title }}</h4>
          <p><strong>Enviado por:</strong> {{ card.member.username }} ({{ card.member.email }})</p>

          <ul>
            <li *ngFor="let task of card.tasks">
              {{ task.description }} - <strong>{{ task.status }}</strong>
            </li>
          </ul>
          <button (click)="deleteCard(card.id)">Excluir Card</button>
        </div>
    </div>
  </div>
  

</div>
