.card-board {
  margin: 10px;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  cursor: pointer;
  background-color: #f5f5f5;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: black;
  &:hover {
    transform: scale(1.05);
  }

  p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
