.container-task-card {
  display: flex;
  width: 250px;
  flex-direction: column;
  border: 1px solid var(--color-grey-600);
  border-radius: 14px;
  font-family: Mulish, sans-serif;
  background-color: var(--color-bg-card);
  padding: 12px 34px;
  gap: 8px;
}

.container-date-btn {
  display: flex;
  justify-content: space-between;
}

.more-btn {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-font-white);
}

.more-btn:hover {
  text-decoration: underline;
}

.container-task-card p {
  color: var(--color-font-grey);
  font-size: 12px;
}

.container-task-card a {
  font-size: 24px;
  font-weight: 700;
}

.container-modal-task-title,
.container-modal-task-description {
  display: flex;
  align-items: center;
  gap: 14px;
}
