<form class="small-centered-form" [formGroup]="registerForm">
  <h1>Register</h1>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
    />

    @if (registerForm.controls.email.hasError('email') &&
    !registerForm.controls.email.hasError('required')) {
    <mat-error>Por favor, insira um endereço de e-mail válido</mat-error>
    } @if (registerForm.controls.email.hasError('required')) {
    <mat-error>Email é <strong>necessário</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primeiro nome</mat-label>
    <input matInput formControlName="firstName" />

    @if (!registerForm.controls.firstName.hasError('required')) {
    <mat-error>Por favor, insira seu primeiro nome</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ultimo nome</mat-label>
    <input matInput formControlName="lastName" />

    @if (!registerForm.controls.lastName.hasError('required')) {
    <mat-error>Por favor, insira seu ultimo nome</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input type="password" matInput formControlName="password" />

    @if (!registerForm.controls.password.hasError('required')) {
    <mat-error>Por favor, insira uma senha válida</mat-error>
    } @if (!registerForm.controls.password.hasError('minlength')) {
    <mat-error>Tamanho mínimo da senha é de 8 caracteres</mat-error>
    }
  </mat-form-field>

  <button (click)="register()" mat-flat-button color="primary" class="register-button">Register</button>
  <a [routerLink]="['/login']">
    <button tabindex="-1" mat-flat-button color="secondary" class="login-button">
      Já possuí uma conta? Faça Login
    </button>
  </a>
</form>
