
<div class="filtro">
    <h3>Filter by</h3>
    <div class="filtroClasses">
        <ul class="filtroItem">
            <li><a href="#"><i class="fa-solid fa-code"></i>Code</a></li>
            <li><a>168M</a></li>
        </ul>
        <ul class="filtroItem">
            <li><a><i class="fa-solid fa-book"></i>Repositories</a></li>
            <li><a>1M</a></li>
        </ul>
        <ul class="filtroItem">
            <li><a><i class="fa-sharp fa-regular fa-circle-dot"></i>Issues</a></li>
            <li><a>4M</a></li>
        </ul>
        <ul class="filtroItem">
            <li><a><i class="fa-sharp fa-solid fa-code-pull-request"></i>Pull requests</a></li>
            <li><a>38M</a></li>
        </ul>
        <ul class="filtroItem">
            <li><a><i class="fa-solid fa-comments"></i>Discussion</a></li>
            <li><a>89k</a></li>
        </ul>
        <ul class="filtroItem">
            <li><a><i class="fa-solid fa-user-group"></i>Users</a></li>
            <li><a>45k</a></li>
        </ul>
        <ul class="filtroItems">
            <li><a><i class="fa-solid fa-caret-down"></i>More</a></li>
        </ul>
    </div>
    <div class="filtroLinguagem">
        <h4>Languages</h4>
        <ul>
            <li><a href="#"><i class="fa fa-circle js"></i>Javascript</a></li>
            <li><a href="#"><i class="fa fa-circle ts"></i>Typescript</a></li>
            <li><a href="#"><i class="fa fa-circle html"></i>HTML</a></li>
            <li><a href="#"><i class="fa fa-circle css"></i>CSS</a></li>
            <li><a href="#"><i class="fa fa-circle cmais"></i>C++</a></li>
            <li><a href="#"><i class="fa fa-circle ejs"></i>EJS</a></li>
            <li><a href="#"><i class="fa fa-circle python"></i>Python</a></li>
            <li><a href="#"><i class="fa fa-circle shell"></i>Shell</a></li>
            <li><a href="#"><i class="fa fa-circle docker"></i>Dockerfile</a></li>
            <li><a href="#"><i class="fa fa-circle java"></i>Java</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-plus"></i>More languages...</a></li>
        </ul>
    </div>
    <div class="filtroAvançado">
        <h4>Advanced</h4>
        <ul>
            <li><a href="#"><i class="fa-solid fa-circle-plus"></i>Owner</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-plus"></i>Size</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-plus"></i>Number of followers</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-plus"></i>Number of forks</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-plus"></i>Number of stars</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-plus"></i>Date created</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-plus"></i>Date pushed</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-plus"></i>Topic</a>/li>
            <li><a href="#"><i class="fa-solid fa-circle-plus"></i>License</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-plus"></i>Archived</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-plus"></i>Public</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-plus"></i>Privated</a></li>
        </ul>
    </div>
    <p><a href="https://github.com/search/advanced"><i class="fa-solid fa-arrow-up-right-from-square"></i>Advanced Search</a></p>
</div>
