ion-item {
    --background: #2c3637;
    --padding-start: 12px;
    --padding-end: 12px;
    margin-bottom: 0;
}

ion-content {
    --background: #3d4849;
}

ion-toolbar {
    --background:#2d2b2b;
}