ion-item {
    --background: #2c3637;
    --padding-start: 12px;
    --padding-end: 12px;
    margin-bottom: 0;
}

ion-content {
    --background: #1e1e1e;
}

ion-toolbar {
    --background:#1e1e1e;
}