.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.moviePoster {
  width: 180px;
  height: 260px;
  border-radius: 6px;
}
.imageContainer {
  width: 180px;
  margin: 10px 10px;
  position: relative;
  transition: transform 0.2s;
}

.imageContainer:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  width: 180px;
  transition: 0.4s ease-in-out;
  opacity: 0;
  bottom: 0;
  padding: 20px 0px;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.imageContainer:hover .overlay {
  opacity: 1;
}

.movieInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.movieInfo span {
  font-weight: bolder;
  margin-bottom: 6px;
}
