

.formContainer{
    width:25rem;
    display: flex;
    margin: auto;
    padding: 30px;
    align-items: center;
    border: 1px solid var(--detailColor);
    color: white;
    background-color: var(--primaryColor);
    justify-content: center;
    border-radius: 20px;
    box-shadow: 20px 20px 15px var(--primaryColor);
    margin-top: 4rem;

}
body{
    background:linear-gradient(45deg, red, blue) !important;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}
.form mat-form-field{
    width: 100%;
}


button{
    padding: 10px;
    background-color: var(--iconColor);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: scale .06s ease ,box-shadow .2s ease;
}
button:active{
    scale: 0.9;
    box-shadow: inset 2px 2px 10px rgb(9, 85, 129);
}
p{
    color: var(--detailColor);
}
a{
    text-decoration: none;
    color: var(--iconColor);
}

