button{
    width: 60px;
    height: 25px;
    border-style: none;
    border-radius: 13px;
    border: 1px solid rgb(88, 97, 147);
    background-color: transparent;
    color: rgb(88, 97, 147);

}
button:hover{
   
    border: 1px solid rgba(88, 97, 147, 0.493);
    color: rgba(88, 97, 147, 0.493);
}