<div class="h-screen w-full">
  <tbody class="w-full">

    <header class="bg-blue-600 w-screen shadow-md shadow-gray-500">
      <div class="flex items-center justify-between">
        <!-- Logo da Field -->
          <img 
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOAAAADgCAMAAAAt85rTAAAAY1BMVEUAVf////8AUP8ARf/m6v/w9f9Xif8AUv8AS/8ASf+2y/+iuP8qcP/r8f9Jhf/K2f8cZf8YX//j7f85bf/T3f/O1//d5//Y4f9Pgv8fZ/+owf+Bp/8SXP+50P8ZYP+Vr/9zmv9FmtDOAAABHUlEQVR4nO3bzVLCMBSA0QrUQAVF8afVor7/U7qVTdsxnbmhnvME91smN6kqAAAAAAAAAAAAAAAAWLC0ntsuOulCOj1vZvZSVGHaH25mtllHR/0mUKDAWAIFCowlUKDAWAIFFh/4Ws/srajAqm9vZ9auopsurWYXXQQAAAAAMChtd1m20QEjUvfe5Dh/9NEJw9K+zlu1nD+jE4Zlb5eax+iEYQIFCowlUKDAWAIFCowlUGDpgcevuyzfhZ/oq7TN42UaAAAAAHB1lv4rt2/vR7Wl314PmPRWrT6l6Dn/bNLy5UlguQQKLJxAgYUTKLBwAgUW7h8ETjgPHq45sDs/jGq66w2squME0TNmSRNEzwgAAAAAAAAAAAAAALAoP9eMMHGxl3d/AAAAAElFTkSuQmCC" 
          alt="logo field"
          class="w-10 h-10 rounded-full mx-5 my-2 shadow-md shadow-white"
          >

        <!-- Barra de Pesquisa -->
        <div class="relative mx-5 w-full">
          <div class="flex items-center">
            <input type="text" [(ngModel)]="q" name="q" placeholder="Search" class="rounded-md w-full pr-10 py-2 indent-2">
            <button (click)="mainSearch()">
              <svg xmlns="http://www.w3.org/2000/svg"
                class="h-8 w-8 absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-600 hover:text-blue-600 border-l-2 border-gray-600 pl-2" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-5.2-5.2"></path>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 17a7 7 0 100-14 7 7 0 000 14z"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </header>

<!--     <select id="dropdown" [(ngModel)]="sortAndOrder" name="sortAndOrder" (change)="findRepositories()">
      <option value="best-match">Best match</option>
      <option value="stars desc">Most stars</option>
      <option value="stars asc">Fewest stars</option>
      <option value="forks desc">Most forks</option>
      <option value="forks asc">Fewest forks</option>
      <option value="updated desc">Recently updated</option>
      <option value="updated asc">Least recently updated</option>
    </select> -->
    <div class="flex flex-row flex-wrap overflow-y-auto overflow-x-hidden p-10 w-full h-full">
      <article *ngFor="let repositorie of repositories" class="p-10 flex flex-col">
        <header>
          <h2>{{ repositorie.full_name }}</h2>
        </header>
        <section class="card-body">
          <p>{{ repositorie.description }}</p>
          <p>Language: {{ repositorie.language }}</p>
          <p>Last Updated: {{ repositorie.updated_at }}</p>
        </section>
      </article>
    </div>

<!--     <button (click)="goToPreviousPage()">Previous page</button>
    <button (click)="goToNextPage()">Next page</button>

    <select [(ngModel)]="page" name="page" (change)="findRepositories()">
      <option *ngFor="let number of pages" [value]="number">{{ number }}</option>
    </select>
    <select [(ngModel)]="perPage" name="perPage" (change)="changePerPage()">
      <option [value]="15">15</option>
      <option [value]="30">30</option>
      <option [value]="45">45</option>
    </select> -->
  </tbody>
</div>