
<div class="secaoTopico">
    <div class="topicoNome">
        <img src="assets/nodejs.png" width="30px" alt="">
        <h3>Node.js</h3>
    </div>
    <h4>Node.js is a tool for executing JavaScript in a variety of environments.</h4>
    <p><a href="https://nodejs.org/en">nodejs.org</a></p>
    <p><a href="https://en.wikipedia.org/wiki/Node.js">Wikipedia</a></p>
    <p class="topico"><a href="https://github.com/nodejs">nodejs</a></p>
    <p class="topico"><a href="https://github.com/topics/node"># View Topic</a></p>
</div>
<div class="secaoPatrocinador">
    <img src="assets/mona.png" alt="">
    <h4>Sponsor open source projects you depend on</h4>
    <p>Contributors are working behind the scenes to make open source better for everyone—give them the help and recognition they deserve.</p>
    <p><a href="https://github.com/sponsors/explore">Explore sponsorable projects -></a></p>
</div>
<div class="secaoFeedback">
    <p>How can we improve search?<a href="#"> Give feedback</a></p>
</div>
<div class="secaoDica">
    <p><font><i class="fa-solid fa-lightbulb"></i> ProTip!</font> Press the / key to activate the search input again and adjust your query.</p>
</div>