.column-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  cursor: pointer;
  font-size: 1.2rem;
}

.edit-icon:hover {
  color: #007bff; /* Cor para o lápis ao passar o mouse */
}

.delete-icon:hover {
  color: #dc3545; /* Cor para a lixeira ao passar o mouse */
}
