
<div class="paginator">
  <app-paginator (pageChange)="onPageChange($event)" [pageLength]="pageLength" [pageIndex]="pageIndex" [pageSizeOptions]="1">
  </app-paginator>
  <input data-test="searchText" class="search" type="text" [(ngModel)]="searchText" (input)="championSearch()" placeholder="Pesquisa">
</div>
<div class="container" *ngFor="let champ of championList">
  <div class="champion" *ngFor="let skinID of champ.skins, let i = index">
    <img
      src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{ champ.name }}_{{ skinID }}.jpg">
    <span class="champName">{{ champ.skinsname[i] }}</span>
  </div>
</div>
