<div class="column">
  <div class="column-title">
    <h3>{{ column.sequence }}. {{ column.description }}</h3>
    <div class="actions">
      <button (click)="showDialog()" class="add icon">
        <i class="pi pi-plus"></i>
      </button>
      <button (click)="handleEdit()" class="add icon">
        <i class="pi pi-pencil"></i>
      </button>
      <button (click)="handleDelete($event)" class="trash icon">
        <i class="pi pi-trash"></i>
      </button>
    </div>
  </div>

  <div class="column-task" *ngIf="column && column.tasks.length > 0; else noTasks" cdkDropList
    [id]="'list-' + column.id" [cdkDropListData]="column.tasks" [cdkDropListConnectedTo]="connectedLists"
    (cdkDropListDropped)="onTaskDrop($event)">
    <div *ngFor="let task of column.tasks" cdkDrag>
      <app-kanban-task [task]="task"></app-kanban-task>
    </div>
  </div>

  <ng-template #noTasks>
    <div class="column-task no-tasks-container">
      <p class="no-tasks-message">Não há tarefas cadastradas.</p>
    </div>
  </ng-template>

  <p-dialog header="{{ editTask ? 'Editar Tarefa' : 'Adicionar Tarefa' }}" [modal]="true" (onHide)="hideDialog()"
    [(visible)]="visible" draggable="false" [style]="{ width: '25rem' }">
    <div class="dialog-body">
      <p-floatLabel style="width: 100%;">
        <input pInputText id="task" [(ngModel)]="value" />
        <label for="task">Tarefa</label>
      </p-floatLabel>
    </div>

    <div class="dialog-footer">
      <button (click)="handleSubmit()">Salvar</button>
    </div>
  </p-dialog>
</div>

<p-confirmPopup />