<div class="column">
  <div class="column-title">
    <h3>{{ column.sequence }}. {{ column.description }}</h3>
    <div class="actions">
      <button (click)="showDialog()" class="icon">
        <i class="pi pi-plus"></i>
      </button>
      <button (click)="handleEdit()" class="icon">
        <i class="pi pi-pencil"></i>
      </button>
      <button (click)="handleDelete()" class="icon">
        <i class="pi pi-trash"></i>
      </button>
    </div>
  </div>
  <div *ngIf="column.tasks.length > 0; else noData" class="column-task">
    <div *ngFor="let task of column.tasks">
      <app-kanban-task [task]="task"></app-kanban-task>
    </div>
  </div>
  <ng-template #noData>
    <p>Não há tarefas disponíveis.</p>
  </ng-template>
  
  <p-dialog header="{{ editTask ? 'Editar Tarefa' : 'Adicionar Tarefa' }}" [modal]="true" (onHide)="hideDialog()" [(visible)]="visible" draggable="false"
    [style]="{ width: '25rem' }">
    <div class="dialog-body">
      <p-floatLabel style="width: 100%;">
        <input pInputText id="task" [(ngModel)]="value" />
        <label for="task">Tarefa</label>
      </p-floatLabel>
    </div>
  
    <div class="dialog-footer">
      <button (click)="handleSubmit()">Salvar</button>
    </div>
  </p-dialog>
</div>