.column {
  padding: 12px;
  display: flex; 
  flex-direction: column; 
  width: 288px;
  height: 100%;
}

.column-title {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
}

.column-body {
  flex-grow: 1;
}

button {
  height: 28px;
  width: 28px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #2c4d78;
  color: white;
}

button:hover {
  background-color: #192538;
}