<nav class="Nav_header">
  <div class="Nav_nav">
    <div class="containerLeftNav">
      <div>
        <a href="/"
          ><img
            class="icon"
            src="https://cdn-icons-png.flaticon.com/512/2821/2821803.png"
            alt="Icon of the site (it can be described as an lamen, its an tipically japanese food)"
          />
          <!--Ramen icons created by Triberion - Flaticon-->
        </a>
      </div>
      <div>
        <div class="search-bar">
          <input
            type="text"
            placeholder="Search character"
            class="input-search-bar"
            [formControl]="searchTerm"
          />
          <div type="submit">
            <img
              src="../assets/magnifying-glass-solid.svg"
              alt="magnifying glass inside the search bar"
            />
          </div>
        </div>
      </div>
    </div>
    <div>
      <a href="https://github.com/GiovanniVINI/infoNaruto" target="_blank"
        ><img
          id="github_icon"
          class="icon"
          src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
          alt="GitHub icon"
        /><!--Github icon created by Pixel perfect - Flaticon-->
      </a>
    </div>
  </div>
</nav>
