.detail_header{    
    background-color: #161b22;
    width: 100vw;
    height: 4em;
    display: flex;
    align-items: center;
}

.header_icon{
    margin-right: 1em;
    width: 2em;
    height: 1.9em;
}

.header_icon:hover{
    cursor: pointer;
}

.header_input{
    padding: 4px;
    background-color: #0d1117;
    border: 1px #30363d solid;
    border-radius: 3px;
    width: 20em;
    height: 1.3em;
    margin-right: 5px;
    color: #c9d1d9;
    line-height: 20px;
}

.header_input:focus-visible{
    border-color: #58a6ff;
    outline: none;
}

.header_button{    
    height: 2.1em;
    background-color: #21262d;
    color: #c9d1d9;
    border: 1px #30363d solid;
    border-radius: 5px;
    font-weight: 600;
    padding: 2px 16px;
}

.header_button:hover{
    cursor: pointer;
}

.big_dash_wrap{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.big_dash{
    margin-top: 1em;
    width: 40vw;
    height: 1px;
    background-color: #30363d; 
}

.file_container, .file_first_container{
    gap: 1em;
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #c9d1d9;    
    border: 1px #30363d solid;
}

.file_container p{
    margin: 0.7em 0;
}

.file_first_container{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #161b22;
}

.file_first_container p{
    margin-left: 1em;
}

.file_container img {
    margin-left: 2em;
}

.main_div{
    margin: 3em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main_div div{
    width: 40vw;    
    padding: 0 0.4em;
}

.title_container{    
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_container img{
    margin-top: 0.2em; 
    width: 2em;
    height: 2.5em;
    margin-right: 1em;
}

.title{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 34px !important;
    color: #c9d1d9;
    margin: 0;
}

