@import '@/styles/variables.scss';

.informations {
  position: relative;
  text-align: center;
  margin-top: 35px;

  h1 {
    font-weight: 500;
    font-size: 25px;
    max-width: 100%;
    color: $black-color;
  }

  h2 {
    color: $gray-color;
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
    display: block;
    position: relative;
    margin-top: 5px;
  }
}

.options {
  margin: 20px 0 45px 0;
  display: grid;
  width: 100%;
  max-width: 400px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  z-index: 5000;
}

.error-container {
  margin: 50px 0;
  position: relative;
  max-width: 700px;
  left: 50%;
  transform: translateX(-50%);

  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    opacity: 0.2;
    height: auto;
    margin-bottom: 7px;
  }

  h3 {
    text-align: center;
    font-size: 25px;
    color: $black-color;
    font-family: $poppins;
    font-weight: 600;
  }

  p {
    margin-top: 20px;
    font-size: 16px;
    color: $gray-color;
  }
  
  button {
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.items-empty {
  text-align: center;
  .fas {
    display: block;
    font-size: 30px;
    color: $gray-color;
  }

  p {
    margin-top: 12px;
    font-size: 16px;
    color: $gray-color;
  }
}


.items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;

  li {
    position: relative;
    border: 1px solid $gray-second-color;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    min-width: 0;

    .title {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      font-size: 18px;

      a {
        color: $secondary-color;
        font-weight: 500;
        max-width: calc(100% - 55px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      
        &:hover {
          text-decoration: underline;
        }
      }

      p {
        font-size: 14px;
        color: $gray-color;
        max-width: 70px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .description {
      font-size: 15px;
      color: $black-color;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;  
      overflow: hidden;
      text-align: left;
      margin-bottom: 10px;
    }

    .points {
      font-size: 14px;
      color: $gray-color;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
      overflow: hidden;
    }
  }
}

.push {
  height: 30px;
}

@media (min-width: 768px) {
  .informations {
    margin-top: 42px;
  
    h1 {
      font-size: 30px;
    }
  
    h2 {
      font-size: 18px;
      margin-top: 8px;
    }
  }

  .options {
    margin: 25px 0 50px 0;
    display: grid;
    grid-gap: 15px;
  }

  .items-empty p{
    margin-top: 15px;
    font-size: 18px;
  }

  .items {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  
    li {
      position: relative;
      border-radius: 12px;
      padding: 18px;
  
      .title {
        font-size: 20px;
  
        a {
          max-width: calc(100% - 75px);
        }
  
        p {
          font-size: 15px;
          max-width: 100px;
        }
      }
  
      .description {
        font-size: 16px;
        -webkit-line-clamp: 4;
        margin-bottom: 40px;
      }
  
      .points {
        font-size: 15px;
        position: absolute;
        bottom: 18px;
        width: calc(100% - 38px);
        left: 18px;
        text-align: left;
      }
    }
  }
}
