<div class="information-card">
    <div class="abilities">
        <div class="ability ab1">
            <p class="description desc1">{{ ability1Description }}</p>
            <div class="image">
            <img class="ability-image" src="{{ ability1Image }}">
            </div>
            <p class="ability-name">{{ ability1 }}</p>
        </div>
        <div class="ability ab2">
            <p class="description desc2">{{ ability2Description }}</p>
            <div class="image">
            <img class="ability-image" src="{{ ability2Image }}">
            </div>
            <p class="ability-name">{{ ability2 }}</p>
        </div>
        <div class="ability ab3">
            <p class="description desc3">{{ ability3Description }}</p>
            <div class="image">
            <img class="ability-image" src="{{ ability3Image }}">
            </div>
            <p class="ability-name">{{ ability3 }}</p>
        </div>
        <div class="ability ab4">
            <p class="description desc4">{{ ability4Description }}</p>
            <div class="image">
            <img class="ability-image" src="{{ ability4Image }}">
            </div>
            <p class="ability-name">{{ ability4 }}</p>
        </div>
    </div>
</div>