div.topics
    display: inline-block
    align-items: center
    justify-items: between
    background-color: #033177
    padding: 5px
    border-radius: 10px
    margin-left: 10px
    margin-top: 5px

p.topic
    color: #58a6ff
    font-size: 12px
