.container-header
    background: #161b22
    display: flex
    padding: 16px
    font-size: 14px
    line-height: 1.5
    border: 1px solid #6c6c6c

    input
        height: 32px
        width: 60%
        font-family: sans-serif
        flex: 1
        word-break: break-word

    button
        margin-left: 10%
        width: 20%
        font-family: sans-serif

.list-repos
    width: 96%
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    gap: 22px

    li
        list-style: none
        display: flex
        flex-direction: column
        min-width: 0px
        border-radius: 6px
        border-color: rgb(48, 54, 61)
        border-width: 1px
        border-style: solid
        padding: 16px
        width: 48%
        max-width: 100%

    h6
        font-style: normal
        font-weight: 700
        color: rgb(47, 129, 247)
        font-size: 14px

    p
        font-style: normal
        font-weight: 600
        font-size: 14px
        color: #fff

.pointer
    cursor: pointer
    text-decoration: none
    color: #3381f3
    font-size: 14px

.pagination
    li
        cursor: pointer
