<div class="container-header">
    <input type="text" [(ngModel)]="query" placeholder="Digite o nome do repositório">
    <button class="btn btn-success" (click)="searchRepositories()">Pesquisar</button>
</div>

<section>
    <ul class="list-repos">
        <li *ngFor="let repository of repositories$ | async">
            <h6>{{ repository.node.name }}</h6>
            <p>{{ repository.node.description }}</p>
            <p>Watchers: {{ repository.node.watchers.totalCount }}</p>
            <p>Estrelas: {{ repository.node.stargazers.totalCount }}</p>
            <p>Issues: {{ repository.node.issues.totalCount }}</p>
            <a class="pointer" [href]="repository.node.url" target="_blank">Ver detalhes</a>
        </li>
    </ul>

    <button class="btn btn-primary" *ngIf="pageInfo?.hasNextPage" (click)="loadMoreRepositories()">
        Carregar mais
    </button>
</section>