<div class="container-header">
    <input type="text" [(ngModel)]="query" placeholder="Digite o nome do repositório">
    <button class="btn btn-success" (click)="searchRepositories()">Pesquisar</button>
</div>

<section>
    <ul class="list-repos">
        <li *ngFor="let repository of repositories$ | async">
            <h6><i class="fas fa-signature"></i>{{ repository.full_name }}</h6>
            <p>{{ repository.description }}</p>
            <p><i class="fas fa-swatchbook"></i> Watchers: {{ repository.watchers_count }}</p>
            <p><i class="fas fa-star"></i> Estrelas: {{ repository.stargazers_count }}</p>
            <p><i class="fas fa-box-tissue"></i> Issues: {{ repository.open_issues }}</p>
            <a class="pointer" [href]="repository.svn_url" target="_blank">Ver detalhes</a>
        </li>
    </ul>

    <nav aria-label="Page navigation example" *ngIf="repositories$ | async">
        <ul class="pagination justify-content-center">
            <li class="page-item" (click)="previousPage()"><a class="page-link">Voltar</a></li>
            <li class="page-item"><a class="page-link">{{ page }}</a></li>
            <li class="page-item" (click)="nextPage()"><a class="page-link">Próximo</a></li>
        </ul>
    </nav>

</section>