form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 400px;
    background-color: #fca7a7;
    box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 1.0);
    border-radius: 10px;
    padding: 24px 24px 32px;
}

mat-form-field {
    width: 100%;
}

input,
button {
    width: 100%;
}

h1 {
    color: white;
    font-size: bold;
}