<details class="collapse">
  <summary class="title">
    <strong>{{name}}</strong>
  </summary>
  <div class="description">
    <ul>
      <li><strong>Race: </strong>{{race}}</li>
      <li><strong>Hight: </strong>{{height}}</li>
      <li><strong>Gender: </strong>{{gender}}</li>
      <li><strong>Birth: </strong>{{birth}}</li>
      <li><strong>Spouse: </strong>{{spouse}}</li>
      <li><strong>Death: </strong>{{death}}</li>
      <li><strong>Realm: </strong>{{realm}}</li>
      <li><strong>Hair: </strong>{{hair}}</li>
      <li><strong>Link: </strong><a href="{{wikiUrl}}" target="_blank">LOTR Wikia</a></li>
    </ul>
  </div>
</details>