#searchBar{
    border: 2px solid rgb(39, 39, 39);
    border-radius: 7px;
    height: 26px;
    margin: 10px 0 0 0;
    width: 170px;
    padding: 5px 10px;
    font-size: 18px;
    background: rgb(235, 235, 235);
    transition: 0.3s;
    text-align: center;
}
#searchBar:focus{
    width: 500px;
}
.container{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
}
.cardAnchor{
    text-decoration: none;
    color: white;
}
.card{
    background-color: rgb(40, 40, 40);
    margin: 20px 100px;
    padding: 20px 15px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.9));
}
.cardRepositoryName{
    color: aqua;
}
.cardDescription{
    margin: 5px 3px;
}
.cardTopics{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 5px;
    border-radius: 10px;
}
.cardTopic{
    border-radius: 7px;
    padding: 5px 10px;
    margin: 5px 5px 0 0;
    background-color: rgb(70, 70, 70);

}
.rowButtonPage{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin: 20px 0;
}
.buttonPage{
    background: aqua;
    color: black;
    padding: 5px 10px;
    margin: 0px 5px;
    border-radius: 7px;
    cursor: pointer;
}
.cardEndLine{
    display: flex;
    align-items: center;
}
.cardLanguage{
    background: aqua;
    color: black;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 10px;
}
.cardWatchers{
    margin: 5px 10px;
}
.carForks{
    margin: 5px 10px;
}

@media (max-width: 1024px) {
    .card {
        margin: 20px 60px;
    }
}

@media (max-width: 650px){
    .card {
        margin: 20px;
    }
    #searchBar:focus{
        width: 300px;
    }
    .cardEndLine{
        justify-content: space-between;
    }
}