<div class="container">
    <input [(ngModel)]="searchLine" id="searchBar" type="text" placeholder="Search">
    <a (click)="searchRepositories()" class="buttonPage"> Buscar </a>
</div>

<div *ngFor="let result of searchResult">
    <a class="cardAnchor" href="{{ result.html_url }}">
        <div class="card">
            <h2 class="cardRepositoryName">{{ result.full_name }}</h2>
            <p class="cardDescription">{{ result.description }}</p>
            <div class="cardTopics">
                <div *ngFor="let topic of result.topics">
                    <p class="cardTopic">{{ topic }}</p>
                </div>
            </div>
            <div class="cardEndLine">
                <p class="cardWatchers">watchers: {{ result.watchers_count }}</p>
                <p class="cardLanguage">{{ result.language }}</p>
                <p class="carForks">forks: {{ result.forks_count }}</p>
            </div>
        </div>
    </a>
</div>

<div *ngIf="displayButton()" class="rowButtonPage">
    <a (click)="backPage()" class="buttonPage"> Pagina anterior </a>
    <p>{{ getPage() }}</p>
    <a (click)="nextPage()" class="buttonPage"> Proxima pagina </a>
</div>