<div class="container-fluid-xxl">

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">

      <a class="navbar-brand">Github SPA</a>

      <div class="collapse navbar-collapse" id="mynavbar">
        <form class="d-flex" role="search">
          <input [(ngModel)]="repositoryQuery" name="repository" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          {{repositoryQuery}}
          <button class="btn btn-outline-success" type="submit" value="submit">Search</button>
        </form>
      </div>
    </div>

  </nav>

</div>
