main
    display: flex
    flex-direction: column
    justify-items: between
    align-items: center

div.search-area
    display: flex
    flex-direction: row
    justify-items: center
    align-items: center
    margin-top: 2rem
    gap: 5px

div.card
    display: flex
    flex-direction: row
    justify-items: between
    gap: 10px
    margin-top: 10px
    border-top: solid 1px #21262d

img.book
    width: 25px
    height: 25px

input.search
    border-radius: 0.25rem
    width: 70vw
    height: 30px
    background-color: #0d1117
    border: 1px solid white
    outline-color: #2286e3
    color: #c9d1d9

button.search-button
    border-radius: 0.25rem
    width: 10vw
    height: 30px
    background-color: #21262d
    color: #c9d1d9
    border: 1px solid
