.container-home-describe {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  margin: 1.4rem 1.8rem;
}

.container-home-describe{
  margin-bottom: 6rem;
}

.home-image-logo {
  width: 94px;
  top: -12px;
  left: -8px;
  position: absolute;
  filter: drop-shadow(2px 3px 1px var(--border-shadow));
}

.container-home-title {
  text-align: end;
}

.home-subtitle {
  font-weight: 600;
  white-space: pre-wrap;
}

/* MEDIA QUERY */
@media screen and (min-width: 375px) and (max-width: 424px) {
  .container-home-describe {
    margin: 1.6rem 2rem;
  }
  .home-image-logo {
    width: 94px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .container-home-describe {
    margin: 1.6rem 3rem;
  }
  .home-image-logo {
    width: 128px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container-home-describe {
    margin: 1.6rem 14rem;
  }
  .home-image-logo {
    width: 148px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .container-home-describe {
    margin: 2.8rem 26rem;
  }
  .home-image-logo {
    width: 148px;
  }
}

@media screen and (min-width: 1440px) {
  .container-home-describe {
    margin: 2.8rem 35rem;
  }
  .home-image-logo {
    width: 220px;
  }
}
