<div class="banner">
    <div class="content">
        <h1 class="mb-5">RESTAURANTE DEV<br>Desafio Field Control</h1>
        <a routerLink="menu"><i class="bi bi-arrow-right-circle-fill"></i>Faça Seu Pedido</a>
    </div>
    
</div>

<div class="container mt-5 mb-4">
    <h1 class="text-center">Segredo para servir uma fresca refeição</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="Box">
                <h1>1</h1>
                <p>Selecione o tipo</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="Box">
                <h1>2</h1>
                <p>Preencher Detalhes</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="Box">
                <h1>3</h1>
                <p>Entrega do pedido rápida</p>
            </div>
        </div>
    </div>   

</div>
    



