.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.9);

    -webkit-box-shadow: 0px 0px 30px 3px rgba(45,45,45,0.75);
    -moz-box-shadow: 0px 0px 30px 3px rgba(45,45,45,0.75);
    box-shadow: 0px 0px 30px 3px rgba(45,45,45,0.75);

    width: 1440px;
    height: 100%;
}


/*-------------------------------------MOBILE-----*/

@media screen and (max-width: 376px) {
    .home-container {
        justify-content: space-evenly;

        width: 375px;
        height: 1000px;

        background-size: cover;
    }
}
