main {
  overflow: hidden;
}

/* DESCRIÇÂO DA PAGINA*/

.container-home-describe {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  margin: 1rem 1.8rem 6rem;
  margin-bottom: 6rem;
}

.home-image-logo {
  width: 94px;
  top: -12px;
  left: -8px;
  position: absolute;
  filter: drop-shadow(2px 3px 1px var(--border-shadow));
}

.container-home-title {
  text-align: end;
}

.title-crypto-cards {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 8px;
}

.home-subtitle {
  font-weight: 600;
  white-space: pre-wrap;
}

/* CONTAINER CARDS */

.container-crypto-cards {
  margin: 0 0;
}

.title-crypto-cards {
  margin: 0 12px;
}

/* CONTAINER TABELA */

.crypto-currency-table {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  padding: 0 8px;
}

.container-search-input {
  margin: 3.4rem 0 12px 0;
  padding-left: 18px;
}

.container-pagination {
  margin: 1rem 0;
  padding-left: 18px;
}

/* BACKGROUND COIN TOPO*/
main::before {
  content: " ";
  background: url(../../../assets/images/coin.png) no-repeat;
  background-size: 100px;
  width: 100px;
  height: 100px;
  z-index: -10;
  position: absolute;
  top: 40rem;
  right: 30%;
}

/* BACKGROUND COIN BOTTOM*/
main::after {
  content: "";
  background: url(../../../assets/images/coin.png) no-repeat;
  background-size: 100px;
  width: 100px;
  height: 100px;
  z-index: -10;
  position: absolute;
  right: 0;
  bottom: -420px;
}

/* MEDIA QUERIES HOME PAGE */
@media screen and (min-width: 374px) and (max-width: 424px) {
  .container-home-describe {
    margin: 1rem 2rem 6rem;
  }

  .home-image-logo {
    width: 94px;
  }
  main::before {
    content: " ";
    background: url(../../../assets/images/coin.png) no-repeat;
    background-size: 100px;
    width: 100px;
    height: 100px;
    z-index: -10;
    position: absolute;
    top: 40rem;
    right: 30%;
  }

  /* BACKGROUND COIN BOTTOM*/
  main::after {
    content: "";
    background: url(../../../assets/images/coin.png) no-repeat;
    background-size: 100px;
    width: 100px;
    height: 100px;
    z-index: -10;
    position: absolute;
    right: 0;
    bottom: -250px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .container-home-describe {
    margin: 1rem 3rem 6rem;
  }
  .home-image-logo {
    width: 128px;
  }

  .container-crypto-cards {
    margin: 0 1.6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-home-describe {
    margin: 1rem 14rem 6rem;
  }
  .home-image-logo {
    width: 148px;
  }
  .container-crypto-cards {
    margin: 0 12rem;
  }
  .crypto-currency-table {
    align-items: center;
    overflow: hidden;
  }
  .container-search-input {
    align-self: end;
    padding-right: 7.5rem;
  }
  /* BACKGROUND COIN TOPO*/
  main::before {
    background-size: 180px;
    width: 180px;
    height: 180px;
    right: 28rem;
  }
  /* BACKGROUND COIN BOTTOM*/
  main::after {
    background-size: 180px;
    width: 180px;
    height: 180px;
    right: 4rem;
    bottom: -20rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container-home-describe {
    margin: 1rem 26rem 6rem;
  }
  .home-image-logo {
    width: 148px;
  }
  .container-crypto-cards {
    margin: 0 16rem;
  }
  .crypto-currency-table {
    align-items: center;
    overflow: hidden;
  }
  .container-search-input {
    align-self: end;
    padding-right: 16rem;
  }
  .container-search-input {
    padding-right: 16rem;
  }
  /* BACKGROUND COIN TOPO*/
  main::before {
    background-size: 180px;
    width: 180px;
    height: 180px;
    right: 58rem;
  }
  /* BACKGROUND COIN BOTTOM*/
  main::after {
    background-size: 180px;
    width: 180px;
    height: 180px;
    right: 24rem;
    top: 108rem;
  }
}

@media screen and (min-width: 1440px) {
  .container-home-describe {
    margin: 1rem 40rem 6rem;
  }
  .home-image-logo {
    width: 200px;
  }
  .container-crypto-cards {
    margin: 0 34rem;
  }
  .crypto-currency-table {
    align-items: center;
    overflow: hidden;
  }
  .container-search-input {
    align-self: end;
    padding-right: 7.5rem;
  }
  /* BACKGROUND COIN TOPO*/
  main::before {
    background-size: 250px;
    width: 250px;
    height: 250px;
    right: 72rem;
  }
  /* BACKGROUND COIN BOTTOM*/
  main::after {
    background-size: 250px;
    width: 250px;
    height: 250px;
    right: 34rem;
    top: 108rem;
  }
}
