<div class="container">
  <div class="card" *ngFor="let agent of apiService.agents">
    <img src="{{ agent.displayIcon }}" alt="" srcset="" />
    <h2>{{ agent.displayName }}</h2>
    <div class="container-role">
      <img src="{{ agent.role.displayIcon }}" alt="" srcset="" />
      <h3>{{ agent.role.displayName }}</h3>
    </div>
    <div class="agent-skills">
      <div *ngFor="let abilitie of apiService.agents.abilities">
          <p>{{ agent.abilities.displayName }}</p>
      </div>
    </div>
  </div>
</div>
