.container{
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
}
.background{
    opacity: .3;
    background-size: cover;
}
.card{
    max-width: 400;
    max-height: 300;
    border-radius: 1.2rem;
    background: rgb(20,140,220);
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    img{
        mix-blend-mode:normal;
        max-width: 200px;
        border-radius: 1rem;
    }
    .content{
        opacity: 1;
    }
}