.container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    border-radius: 1.2rem;
    width: 200px;
    height: 300px;
    background-color: grey;
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    img{
        max-width: 90px;
    }
    .container-role{
        display: flex;
        align-items: center;
        gap: 1rem;
        img{
            max-width: 30px;
        }
    }
}