.container-master {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.agents-list {
  display: flex;
  min-height: 35vh;
}

.page-controller {
  margin: 0 auto;
}

.background {
  background-size: cover;
}

.card {
  width: 15vw;
  max-height: 300px;
  border-radius: 1.2rem;
  background: rgba(11, 79, 124, 0.34);
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 20px;

  .background {
    img {
      max-width: 200px;
      border-radius: 1rem;
    }
  }

  .content {
    opacity: 1;
  }
}