.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  max-width: 288px;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 0 12px;
  background-color: #f5f7f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-sequence {
  height: 36px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 4px;
}

.task-description {
  height: 76px;
  display: flex;
  text-align: justify;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f5f7f9;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add {
  color: #2c4d78;
}

.trash {
  color: #ff2323;
}

.icon:hover {
  background-color: #d3dce4;
}

button {
  height: 40px;
  width: 144px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #2c4d78;
  color: white;
}

button:hover {
  background-color: #192538;
}