@import '@/styles/variables.scss';

section {
  h1 {
    margin: 0;
    padding-top: 100px;
    text-align: center;

    a {
      font-size: 44px;
      text-align: center;
      margin-bottom: 10px;
      padding: 0;
      color: $primary-color;
      font-family: $poppins;
      font-weight: 600;
      display: block;
    }
  }

  .search-bar {
    background-color: $background-color;
    position: relative;
    display: flex;
    height: 45px;
    padding: 0 22.5px;
    width: 100%;
    max-width: 700px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    border-radius: 25px;

    .search-icon {
      margin-right: 20px;
    }

    .fas {
      color: $gray-color;
      font-size: 15px;
    }

    .times-icon{
      cursor: pointer;
      position: absolute;
      right: 22.5px;
    }

    input {
      color: $primary-color;
      background-color: transparent;
      font-size: 15px;
      width: calc(100% - 70px);
    }
  }
}

.minimized {
  h1 {
    padding-top: 20px;

    a {
      font-size: 18px;
      margin-bottom: 6px;
    }
  }
}

@media (min-width: 768px) {
  section {
    h1 {
      padding-top: 130px;

      a {
        font-size: 50px;
        margin-bottom: 20px;
      }
    }
  
    .search-bar {
      height: 50px;
      padding: 0 25px;
  
      .fas {
        font-size: 17px;
      }
  
      .times-icon{
        right: 25px;
      }
  
      input {
        font-size: 17px;
      }
    }
  }

  .minimized {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    grid-gap: 40px;

    .push {
      display: none;
    }

    .search-bar {
      left: 0;
      transform: translateX(0);
      max-width: 100%;
    }


    h1 {
      padding: 0;

      a {
        font-size: 25px;
        margin: 0;
      }
    }
  }
}
