.container-repository{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.container-topics{
    display: flex;
    flex-direction: row;

    width: 70%;
    overflow-x: hidden; 
    white-space: nowrap;
}
.container-infos-more{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-left: 15px;
}

h5{
    color: white;
    font-size: x-small;
    font-weight: 200;
    text-align: start;
    margin-top: 10px;
    margin-left: 15px;
    max-width: 90%;
}
p{
    color: white;
    font-size: x-small;
    font-weight: 100;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
fa-icon{
    color: white;
    margin-right: 5px;
    font-size: small;
    text-align: center;
    margin-bottom: 10px;
}