<div class="container py-4">
    <div class="row text-center">
      <div class="col-6">
        <button mat-raised-button color="accent" (click)="openDialog()">CREATE NEW KANBAN</button>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Select a status</mat-label>
          <mat-select (selectionChange)="filterChanged($event)">
            <mat-option>All</mat-option>
            <mat-option value="DONE">Completed</mat-option>
            <mat-option value="IN_PROGRESS">In Progress</mat-option>
            <mat-option value="OPEN">Open</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6 offset-3">
        <ng-container *ngFor="let t of filteredKanban; let i=index">
          <mat-card class="my-3">
            <mat-card-title class="p-2 text-dark">{{t.title}}</mat-card-title>
            <mat-card-content class="p-2 text-primary d-flex flex-column">
              <div>
                <p class="lead">{{t.description}}</p>
              </div>
              <div class="d-flex align-items-center my-3">
                <div>
                  <mat-form-field>
                    <mat-label>Select a status</mat-label>
                    <mat-select [(value)]="t.status" (selectionChange)="statusChanged($event, t.id, i)">
                      <mat-option value="DONE">Completed</mat-option>
                      <mat-option value="IN_PROGRESS">In Progress</mat-option>
                      <mat-option value="OPEN">Open</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <span class="spacer"></span>
                <mat-icon color="warn" style="cursor:pointer;" (click)="delete(t.id)">delete</mat-icon>
              </div>
  
            </mat-card-content>
          </mat-card>
        </ng-container>
  
      </div>
    </div>
  </div>