@font-face {
    font-family: Cardo;
    src: url('../fonts/Cardo-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Cardo;
    src: url('../fonts/Cardo-Italic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Cardo;
    src: url('../fonts/Cardo-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Black.ttf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-ExtraLightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}