button{
    border-style: none;
    border-radius: 10px;
    width: 90px;
    height: 35px;
    background-color: rgb(240, 240, 240);
}
fa-icon{
    color: #1d1427;
    font-size: 15px;
    margin-right: 5px;
    
}
label{
    font-weight:400;
    color: #1d1427;
}
@media screen and (max-width: 768px) {
    button{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 60px;
        height: 30px;
             
    } 

    fa-icon{
    
        font-size: 12px;
        margin-right: 5px;
        margin-top: 2px;
        
    }
}

@media screen and (max-width: 468px) {
    button{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 60px;
        height: 22px;
        
        
    } 
    fa-icon{
        margin-top: 1px;
    }
    label{
        font-size: small;
    }
}