<div class="centered-content">
    <div class="modal-box">
        <h1 class="title"><a routerLink="/"><i class="fa-solid fa-angle-left"></i></a> Adicione uma nova task</h1>
        <div class="field is-grouped">
            <p class="control is-expanded">
              <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Nome da task">
            </p>
            <p class="control">
              <a class="button is-primary is-medium" (click)="createTask(taskTitleInput.value)">
                Adicionar
              </a>
            </p>
          </div>
    </div>
</div>