<h2 mat-dialog-title>Novo card</h2>

<div mat-dialog-content>
  <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 8px;">
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="title" />
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 8px;">
    <mat-label>Descrição</mat-label>
    <textarea matInput [(ngModel)]="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 8px;">
    <mat-label>Prazo</mat-label>
    <input matInput type="datetime-local" [(ngModel)]="dueDate" />
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button class="app-text-button" type="button" (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="confirm()" [disabled]="!title.trim()">
    Criar
  </button>

</div>