
<p style="text-align: center;  color: rgb(15, 169, 241)">Resultados para: {{ repo.toUpperCase() }}</p>


<div ng-repeat="items in resultados">
   <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" style="background-color: rgba(255, 255, 255, 0%); border-color:rgba(15, 169, 241, 30%); border-radius: 10px;">
                <div class="panel-body" style="height:150px;">
                    <div>
                        <div>
                            <img src="{{items.owner.avatar_url}}" class="" style="width: 120px; height: auto; float:left; border-radius: 10px;" alt="Avatar URL">
                        </div>

                        <div>
                            <ul class="nav nav-pills nav-stacked" style="margin-left: 140px;">
                                <a target="_blank" style="color: rgb(15, 169, 241);"href="{{items.html_url}}">
                                    {{ items.full_name }}
                                </a>
                                
                                <li style="color:rgb(255, 255, 255); padding-top: 5px; font-size: 14px;">
                                    {{ items.description }}
                                </li>

                                <div><span class="badge pull-left" style="border-radius: 100px; margin: 0 auto; position: absolute;
                                bottom: 40px; margin-left: 0%">
                                    <li title="Forks" style="color:rgb(255, 255, 255); font-size: 14px; font-weight: 100;">
                                         Forks: {{items.forks_count }}
                                    </li>

                                </span>
                                </div>

                                <div>
                                <span class="badge pull-left" style="border-radius: 100px; margin: 0 auto; position: absolute;
                                bottom: 40px; margin-left: 10%;">
                                    <li title="Issues" style="color:rgb(255, 255, 255); font-size: 14px; font-weight: 100;">
                                        Issues: {{ items.open_issues_count }}
                                    </li>

                                </span>
                            </div>

                            <div>
                                <span class="badge pull-left" style="border-radius: 100px; margin: 0 auto; position: absolute;
                                bottom: 40px; margin-left: 20%">
                                    <li id="output" title="License" style="color:rgb(255, 255, 255); font-size: 14px; font-weight: 100;">
                                    License: {{ items.license.name }}
                                    </li>
                                </span>
                            </div>
                            </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <ul class="pager">
        <li><button id="previousBtn" ng-click="previous()" style="width: 100px;">Previous</button></li>
        <li><button ng-click="next()" style="width: 100px;">Next</button></li>
      </ul>
</div>
