<div class="container">
  <form>
    <div class="form-group">
      <label>search:  </label>
      <input type="text" name="search" [(ngModel)]=' username' (keyup)="findUser()">
    </div>
  </form>
  <div *ngIf="user" class="container-card">
    <div class="card">
      <div class="card-header">
        <label class="user">{{user.login}}</label>
      </div>

      <div class="card-body">
        <div class="row">
          <div class='col-sm-3'>
            <img [src]='user.avatar_url' [title]='user.name' [style.width.px]='imageWidth'
                 [style.height.px]='imageHeight'>
          </div>

          <div class="col-sm-9">

            <ul class="list-group">
              <li class="list-group-item"><strong>Username: </strong> {{user.login}}</li>
              <li class="list-group-item"><strong>Name: </strong> {{user.name}}</li>
              <li class="list-group-item"><strong>Email: </strong> {{user.email}}</li>
              <li class="list-group-item"><strong>Location: </strong> {{user.location}}</li>
              <li class="list-group-item"><strong>Created: </strong> {{user.created_at | dateAgo}}</li>
            </ul>

            <div class="stats">
              <span class="btn btn-secondary">{{user.followers}} Followers</span>
              <span class="btn btn-primary">Following {{user.following}}</span>
              <span class="btn btn-dark">{{user.public_repos}} Public Repos</span>
              <span class="btn btn-info">{{user.public_gists}} Public Gists</span>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card bg-transparent " *ngIf="user.public_repos">
      <div class="card-header">
      </div>
      <div class="card-body " *ngFor="let repo of userRepos">
        <div class="card row">
          <div class="card-body">
            <h3>{{repo.name}}</h3>
            <p>Created: {{repo.created_at | dateAgo}}</p>
            <p>Language Used: {{repo.language}}</p>
            <p>{{repo.description}}</p>
            <span><a href="{{repo.html_url}}" target="_blank" class="btn btn-dark">View Project</a></span>
          </div>
        </div>
      </div>
    </div>
