@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-straight/css/uicons-bold-straight.css");

.container-pagination {
  display: inline-flex;
  align-items: center;
  height: 40px;
  gap: 8px;
}

.container-pagination a {
  cursor: pointer;
}

.container-pagination p {
  margin-bottom: 3px;
}

.container-pagination i {
  vertical-align: middle;
  font-size: 18px;
}
