<!--link with access to Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<!--navigation bar, with functions that direct the user-->
<nav class="navbar">
    <div class="home icons" (click)="home()">
        <div class="icon"><i class="bi bi-house"></i></div>
        <p>Home</p>
    </div>
    <div class="boards icons" (click)="boards()">
        <div class="icon"><i class="bi bi-clipboard2-data"></i></div>
        <P>Boards</P>
    </div>
    <div class="developer icons" (click)="developer()">
        <div class="icon"><i class="bi bi-file-earmark-person"></i></div>
        <p>Developer</p>
    </div>
    <div class="help icons" (click)="help()">
        <div class="icon"><i class="bi bi-question-lg"></i></div>
        <p>Help</p>
    </div>
    <div class="logout icons" (click)="logout()">
        <div class="icon"><i class="bi bi-house-slash"></i></div>
        <p>Logout</p>
    </div>
</nav>