nav{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: blue;
}

.icons{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .3s;
    cursor: pointer;
}

.icon{
    font-size: 30px;
    cursor: pointer;
    color: white;
    
}


.icons:hover{
    background-color: white;
    color: blue;

    .icon{
        color: blue;
    }
}

.iconClick{
    background-color: blue;
    color: white;

    .icon{
        color: white;
    }

}