@import '../../styles/theme';

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-box {
  @include themify() {
    height: 4rem;
    width: 632px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.focus {
      border: solid 1px themed('primary-color');
      border-radius: 0.25rem;
    }

    input {
      height: 100%;
      width: 100%;
      outline: none;

      padding: 0 1.5rem;
      font-size: 1.2rem;
      background: transparent;
      color: themed('text-color');

      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;

      border: 1px solid themed('border-color');

      &::placeholder {
        color: themed('placeholder-color');
      }
    }

    button {
      height: 100%;
      padding: 1rem;
      background: themed('primary-color');
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      border: 0;

      transition: 0.2s;

      &:hover {
        filter: brightness(0.9);
      }

      svg.loading {
        animation: loading-spinner 1s infinite;
      }
    }
  }
}
