@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;700&display=swap');


html, body {
  margin: 0;
  padding: 0;

  font-family: 'Google Sans', sans-serif;
  background-color: #0054fe;

}