body {
  margin: 0;
  font-family: Lato, AssistantRegular, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "AssistantRegular";
  src: local("AssistantRegular"),
    url("./fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url("./fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
}
