<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<app-header [title]="title" class="header"></app-header>
<section>
  <nav class="navbar">
    <app-navbar ></app-navbar>
  </nav>
  <main class="content">
    <!--Boads-->
    <div class="headerBoard">
      <div class="title">
        <h1>My Boards</h1>
      </div>
      <div class="btn">
        <button class="create" (click)="openCreateNewBoard()">New Board <i class="bi bi-plus"></i></button>
      </div>
    </div>
    <div class="boards">
      <div *ngFor="let board of boards(); trackBy: boards" class="board"  >
          <a (click)="navgateBoard(board.id)">
            <div class="titleboard">
              <h3 style="color: black;">{{ board.name }}</h3>
            </div>
            <div class="middleboard">
              <i class="bi bi-kanban" style="color: black;"></i>
              <div class="footer"></div>
            </div></a>
          <div class="options">
            <button class="edit" (click)="openCreateNewBoard(board)">Edit</button>
            <button class="delete" (click)="deleteBoard(board.id)">Delete</button>
          </div>
      </div>
    </div>
  </main>
</section>
<footer>
  <div class="footer"></div>
</footer>

<!--[routerLink]="['boards', board.id]"-->


