.header{
    height: 9vh;
    width: 100%;
}

section{
    /* Define a área principal do conteúdo */
    height: 90vh; /* Ocupa 90% da altura da viewport */
    width: 100%; /* Ocupa toda a largura disponível */
    display: flex; /* Utiliza flexbox para organizar os itens filhos em linha */
    flex-direction: row; /* Organiza os itens filhos em linha */
    color: white; /* Define a cor do texto como branco */
    background-color: rgb(7, 44, 116);
}

footer{
    margin-top: 30px;
    background-color: blue;
    height: 1vh;
    width: 100%;
}


.headerBoard{
    height: 10vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;

    .title{
        height: 10vh;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn{
        height: 10vh;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .create{
        height: 7vh;
        width: 30%;
        background-color: blue;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        color: white;
        transition: .1s;
        cursor: pointer;
    }

    .create:hover{
        background-color: rgb(2, 2, 208);
        box-shadow: 0px 0px 10px black;     
    }
}


i{
    margin-top: 10px;
    font-size: 30px;
}


section {
    

    .navbar {
        /* Define a área da barra de navegação */
        height: 86vh; /* Mesma altura da seção */
        width: 5%; /* Ocupa 5% da largura disponível */
        box-shadow: 15px 0px 40px -27px black;
    }

    .content {
        /* Define a área do conteúdo principal */
        height: 85.5vh; /* Mesma altura da seção */
        width: 95%; /* Ocupa 95% da largura disponível */
        color: black;
        padding-top: 2%;
    }
}

.boards{
    height: 55vh;
    width: 100%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}


a{
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.board{
    margin-left: 3%;
    height: 40vh;
    width: 20%;
    font-size: 20px;
    box-shadow: 0px 0px 5px black;
    transition: .1s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(192, 185, 185);
}

.board:hover{
    box-shadow: 0px 0px 15px black;
}

.titleboard{
    height: 5vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.middleboard{
    height: 13vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}


.delete{
    border: red solid 1px;
    color: red;
    background-color: white;
    height: 6vh;
    width: 40%;
    cursor: pointer;
}

.delete:hover{
    border: red solid 1px;
    color: white;
    background-color: red;
}

.edit{
    border: blue solid 1px;
    color: blue;
    background-color: white;
    height: 6vh;
    width: 40%;
    cursor: pointer;
}

.edit:hover{
    border: blue solid 1px;
    color: white;
    background-color: blue;
}


