<div class="card">
  <div class="card__title">
    <h3>Card title</h3>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="edittaskmodal.toggle()">
        <mat-icon>mode_edit</mat-icon>
        <span>Edit task</span>
      </button>
      <button mat-menu-item (click)="removetaskmodal.toggle()">
        <mat-icon>delete</mat-icon>
        <span>Remove task</span>
      </button>
    </mat-menu>
  </div>
  <p class="card__description">Card description</p>
  <div class="date__container">
    <p class="card__date">
      <mat-icon>create</mat-icon>
      Created x ago
    </p>
    <p class="card__date">
      <mat-icon>update</mat-icon>
      Updated y ago
    </p>
  </div>
</div>

<app-modal #edittaskmodal>
  <div class="modal__container">
    <div class="title__container">Edit task</div>
    <form>
      <div class="form__group">
        <label>Title</label>
        <input type="text" name="" id="" />
      </div>
      <div class="form__group">
        <label>Description</label>
        <input type="text" name="" id="" />
      </div>
      <div class="button__container">
        <button type="submit">Save</button>
        <button (click)="edittaskmodal.toggle()" type="button">Cancel</button>
      </div>
    </form>
  </div>
</app-modal>

<app-modal #removetaskmodal>
  <div class="modal__container">
    <div class="title__container">Delete task</div>
    <div class="text__container">Are you sure?</div>
    <div class="button__container">
      <button type="submit">Save</button>
      <button (click)="removetaskmodal.toggle()" type="button">Cancel</button>
    </div>
  </div>
</app-modal>
