.card {
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 16px;
  width: inherit;

  .card__title {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 24px;
      font-weight: 400;
    }
  }

  .card__description {
    font-size: 14px;
  }

  .date__container {
    display: flex;
    flex-direction: column;

    .card__date {
      align-items: center;
      color: gray;
      display: flex;
      font-size: 12px;
      font-style: italic;
      margin: 0;

      mat-icon {
        font-size: 16px;
        height: 100%;
      }
    }
  }
}
