.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  top: 20%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 32px;
  position: absolute;
  background-color: #0f0f11;
  border: 1px solid var(--color-grey-400);
  border-radius: 14px;
  z-index: 20;
  gap: 14px;
}

.container-close-btn {
  align-self: flex-end;
  margin-top: 18px;
}

.container-btn {
  display: flex;
  gap: 12px;
  padding-bottom: 18px;
}

button {
  color: aliceblue;
}
