<div id="registerContainer">
  <h2>Cadastro</h2>
  <form id="formzin" (ngSubmit)="register()">
    <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required />
    <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
    <input type="password" [(ngModel)]="password" name="password" placeholder="Senha" required />

    <select [(ngModel)]="role" name="role">
      <option value="MEMBER">Member</option>
      <option value="LEADER">Leader</option>
    </select>

    <button id="sendbut" type="submit">Cadastrar</button>
  </form>

  <p *ngIf="error" style="color: red">{{ error }}</p>
  <p *ngIf="success" style="color: green">{{ success }}</p>
</div>