#registerContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:white;
    margin-bottom:80px;
    gap:10px;
}

h2{
    font-size:48px;
}

#formzin{
    display:flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    text-align: center;
}

#sendbut{
    color:rgb(43, 100, 255);
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    border: 0;
    box-shadow: 2px 2px 2px black;
}

#sendbut:hover{
    cursor:pointer;
    color: white;
    background-color: rgb(43, 100, 255);
}