<div class="pagination">
  <button
    class="btn-prev"
    [disabled]="currentPage === 1"
    (click)="changePage(currentPage - 1)"
  >
    <
  </button>
  <div class="pages">
    <button
      *ngFor="let page of pages"
      class="btn-page"
      [class.active]="currentPage === page"
      (click)="changePage(page)"
    >
      {{ page }}
    </button>
  </div>
  <button
    class="btn-next"
    [disabled]="currentPage === totalPages"
    (click)="changePage(currentPage + 1)"
  >
    >
  </button>
</div>
