* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.card {
    margin: 10px;
    width: 10rem;
    height: 10rem;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    text-align: center;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-decoration-color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: none;
    transform: scale(1.05);
}

  
.ag-courses_box {
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
}

.ag-courses_item {
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 20px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    height: 25vh;
    width: 45vh;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #ffffff;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    z-index: 2;
    position: relative;
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
background-color: #4c49ea;
}
  