@use "../abstracts/variables" as var;

p {
    max-width: 80ch;
}

.main-title {
    color: var.$white-color;
    font: var.$bold 2rem var.$font-secondary;
    margin: 0 var.$gap-medium;
    text-transform: uppercase;

    @media screen and (min-width: 480px) {
        font-size: 4.0625rem;
    }
}

.header__description {
    color: var.$white-color;
    font-size: 1.375rem;
    font-weight: var.$light;
    margin: var.$gap-small var.$gap-large;
}

.secondary-title {
    color: var.$text-primary-color;
    font: var.$bold 0.875rem var.$font-primary;
    line-height: 1.5;
    margin: var.$gap-medium 0 var.$gap-small;
    text-transform: uppercase;
}

.testimonial-section__text {
    font: italic var.$regular 1.625rem var.$font-testimonial;
    margin: var.$gap-medium var.$gap-large;

    @media screen and (min-width: 990px) {
        font-size: 2.25rem;
    }
}

.testimonial-section__cite {
    font-size: 0.8125rem;
    font-weight: var.$semibold;
    margin-left: var.$gap-large;
    text-transform: uppercase;
}

.download-section__title {
    font-size: 1.75rem;
    font-weight: var.$light;
}