.footer-container{
    position: fixed;
    bottom : 0;
    width: 100%;
    margin-top: 50px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.link  {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: darkorange;
}