:host {
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;

    input {
      width: 95%;
      background: none;
      border: none;
      font-size: 18px;
      font-weight: 100;
      color: var(--white);

      &::placeholder {
        color: var(--white);
      }
    }
  }
}
