.container{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

img{
    width: 25px;
    height: auto;
    border-radius: 100%;
    margin-right: 5px;
}
p{
    font-size: small;
   
}

@media screen and (max-width: 768px) {
    
    P{
        font-size: x-small;
    }
    img{
        width: 15px;
    }
}