<div class="container feature-root-wrapper">
    <div class="row d-md-none">
        <div class="col-12">
            <input type="text" class="w-100">
            <button>Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="row mb-3 font-sm">
                <ul class="col-12 d-flex d-md-block side-menu">
                    <li *ngFor="let menuItem of menuItems; index as i" class="d-flex align-items-center mr-2 mr-md-0" [class.selected]="i === 0">
                        <a class="px-2 d-flex justify-content-between" >
                            {{ menuItem.label }}
                            <span class="ml-1 badge d-flex align-items-center">{{ menuItem.qty }}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row mb-3 d-none d-md-block">
                <ul class="col-12 language-menu p-3 font-xs">
                    <h3>Languages</h3>
                    <li class="p-2" [class.selected]="languageIndex === 0"
                        *ngFor="let languageItem of languageItems; index as languageIndex">
                        <a class="d-flex justify-content-between">
                            {{ languageItem.label }}
                            <span *ngIf="languageIndex !== 0">{{ languageItem.qty | number }}</span>
                            <i *ngIf="languageIndex === 0" class="fas fa-times"
                                (click)="removeAt(languageItems, languageIndex)"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="links d-none d-md-flex justify-content-between font-xs">
                <a href="">Advanced search</a>
                <a href="">Cheat sheet</a>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="d-md-none">
                <div class="col-12">
                    <div class="row d-flex mb-3">
                        <label for="" class="col-4">Language</label>
                        <select name="" id="" class="col-8">
                            <option [value]="languageItem.label" *ngFor="let languageItem of languageItems">
                                {{ languageItem.label }}</option>
                        </select>
                    </div>
                    <div class="row d-flex">
                        <label for="" class="col-4">Language</label>
                        <select name="" id="" class="col-8">
                            <option [value]="sortOption.value" *ngFor="let sortOption of sortOptions">
                                {{ sortOption.label }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <mat-card class="d-flex language-card">
                <div class="col-2">
                    <img class="language-img"
                        src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/nodejs/nodejs.png"
                        alt="nodejs" srcset="">
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12 col-md-10">
                            <h1 class="m-0 mb-2 font-lg">Node.js</h1>
                            <p class="m-0 mb-2">Node.js is a tool for executing JavaScript in a variety of environments
                            </p>
                            <a href="">See topic</a>
                        </div>
                        <div class="col-12 col-md-2">
                            <button class="btn btn-primary">
                                <i class="fas fa-star"></i>
                                Star
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card>
            <div class="d-none d-md-block">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p>782,702 repository results</p>
                    <select>
                        <optgroup label="Sort Options">
                            <option [value]="sortOption.value" *ngFor="let sortOption of sortOptions">
                                {{ sortOption.label }}</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <mat-list>
                <mat-list-item class="material-text-custom ml-3" *ngFor="let card of repositoryRes?.items">

                    <p mat-line class="repository-icon mb-1">
                        <i class="fas fa-book"></i>
                        {{ card.full_name }}
                    </p>
                    <p mat-line class="mb-1">
                        {{ card.description }}
                    </p>
                    <div class="tags mb-1" mat-line>
                        <span class="mr-1 topic-tag" *ngFor="let tag of ['javascript', 'nodejs', 'windows', 'macos']">
                            <a href="" class="font-xs">{{tag}}</a>
                        </span>
                    </div>
                    <div mat-line class="d-flex repo-labels mb-1">

                        <div class="mr-3 hover">
                            <i class="mr-1 fas fa-star"></i>
                            <a [href]="card.html_url+'/stargazers'">{{ card.watchers | number:'1.0-0' }}</a>
                        </div>
                        <div class="mr-3">
                            <i class="mr-1 fas fa-circle language-icon"></i>
                            <span>{{ card.language }}</span>
                        </div>
                        <div class="mr-3" *ngIf="card.license">
                            <span>{{ card.license.spdx_id }}</span>
                        </div>
                        <div class="mr-3">
                            <span>{{ getUpdatedAt(card.updated_at) }}</span>
                        </div>
                        <div class="mr-3 hover">
                            <a [href]="card.html_url+'/issues'">{{ getIssues(card.open_issues) }}</a>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
            <div class="paginator">
                <mat-paginator [showFirstLastButtons]="true" (page)="pageChange($event)" [length]="repositoryRes?.total_count" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 75, 100]">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>