<header>
  <h2 mat-dialog-title>{{ getData()?.title }}</h2>
  <button (click)="closeModal()">
    <img src="assets/icons/dialog/close.svg" width="14px" alt="Botão para fechar o Dialog">
  </button>
</header>

<mat-dialog-content>
  <h3>Descrição</h3>

  <article [innerHTML]="getData()?.description"></article>

  <nav>
    @for(item of getData()?.links; track item) {
      <a [href]="item.href" target="_blank" class="btn btn-primary">
        {{ item.name }}
      </a>
    }
  </nav>
</mat-dialog-content>