.columns-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  padding: 0.625rem;
  margin-top: 3.125rem;
  padding-bottom: 1rem;

  .column-container {
    flex: 0 0 auto;
    width: 370px;
    padding: 1.25rem 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: move;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: rgba(255, 255, 255, 0.9);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .column-container:last-child {
    border: none;
  }

  .columns-wrapper.cdk-drop-list-dragging
    .column-container:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    opacity: 0.7;
  }

  .column-container.cdk-dragging {
    opacity: 0.8;
    transform: scale(1.05);
  }
}
