@font-face {
    font-family: 'soloist';
    src: url('../../../assets/Fonts/Soloist.otf');
}

.card-container {
    min-width: 400px;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: soloist;
}
