<mat-card class="card-container">
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-subtitle>Born: {{ subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li>Height: {{ height }}</li>
            <li>Weight: {{ mass }}</li>
            <li>Hair Color: {{ hairColor }}</li>
            <li>Eye Color: {{ eyeColor }}</li>
            <li>Gender: {{ gender }}</li>
        </ul>
    </mat-card-content>
</mat-card>