.modal-backdrop {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    }

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.card-kanban{
    background-color: #e6e6e6;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    & h3{
        margin: 0;
    }

    & p{
        margin-bottom: 0;
    }

    & .card-buttons{
        min-width: 55px;
    }

    & .card-inputs{
        text-align: left;
    }

    & .card-input .input-clean{
       font-size: 16px ;
       margin-bottom: 5px;
       border-radius: 5px;
       padding: 3px;
       width: 100%;
    }

    & .select-label{
        display: inline-block;
        margin-bottom: 5px;
    }

    & .select-input{
        width: 100%;
    }
}