* {
    transition: .2s all;
}

.picker {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;

    ul {
        display: flex;
        gap: 5rem;
        align-items: center;
        justify-content: center;


        li {
            text-align: center;
            list-style: none;
        }

        li:hover {
            color: red;
            cursor: pointer;
            transform: translate(3%, -3%);

        }


    }

    a:hover {
        color: red;
        cursor: pointer;
        transform: translate(3%, -3%);

    }

    .active {
        border-bottom: 3px solid red;
    }
}