<nav>
    <ul>
        <li>
            Logotipo
        </li>
        <li class="menu-items">
            <!-- Se o usuario está logado, a aba de Boards e Logout aparecem -->
            @if (estaLogado()){
            <a [routerLinkActive]="'active'" routerLink="/boards">Boards</a>
            <a (click)="logout()">Logout</a>
            <!-- Se nao estiver logado, aparece a aba de login/register -->
            } @else {
            <a [routerLinkActive]="'active'" routerLink="/login">Login/Register</a>
            }
        </li>
    </ul>
</nav>