ion-content {
  --background: #ffffff;
}

ion-header {
  --background: #2d2b2b;
  border-bottom: 2px solid #000;
}

ion-card-title {
  color: #ffffff;
  background-color: #2d2b2b;
  --background: transparent;
}

ion-card-content {
  background-color: #2d2b2b;
  --background: transparent;
}

ion-toolbar {
  position: relative;
  display: flex;
  align-items: center;
  height: 56px;
}

.kanban-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  pointer-events: none;
  z-index: 1;
}

.cdk-drag-preview,
.cdk-drag-placeholder {
  overflow: hidden !important;
}

.column-header {
  text-align: center;
  background-color: #2d2b2b;
}

.column-card {
  background-color: #ffffff;
  border: 2px solid #000;
  border-radius: 15px;
}

.drop-zone {
  min-height: 200px;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #000;
  border-radius: 15px;
}

.card-item ion-item {
  margin-bottom: 10px;
  background-color: #ffffff;
  color: #181818;
  border: 2px solid #007BFF;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --background: transparent;
  --color: #000;
}

.card-item {
  position: relative;

  .card-actions {
    display: none;
  }

  &:hover .card-actions {
    display: flex;
  }
}