<ion-header>
  <ion-toolbar>
    <ion-title class="kanban-title">Kanban Board</ion-title>
    <ion-buttons slot="end" class="ms-auto me-2">
      <ion-button class="custom-add-button" color="dark" (click)="openAddEditModal()">
        <ion-icon slot="icon-only" name="add-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let column of columns">
        <ion-card class="column-card">
          <ion-card-header class="column-header">
            <ion-card-title>{{ column.title }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="drop-zone" cdkDropList [cdkDropListData]="cards[column.id] || []"
              [id]="'columnDropList-' + column.id" [cdkDropListConnectedTo]="connectedDropLists"
              (cdkDropListDropped)="onCardDrop($event, column.id)">

              <ng-container *ngIf="!loading && cards[column.id] && cards[column.id].length > 0; else emptyOrLoading">
                <div *ngFor="let card of cards[column.id]" cdkDrag class="card-item">
                  <ion-item lines="none">
                    <ion-label>
                      <h2>{{ card.title }}</h2>
                      <p>{{ card.description || 'Sem descrição' }}</p>
                    </ion-label>
                    <div class="card-actions">
                      <ion-button slot="end" color="primary" fill="clear" size="small" class="edit-card"
                        (click)="openAddEditModal(card, column.id)">
                        <ion-icon name="open-outline"></ion-icon>
                      </ion-button>
                      <ion-button slot="end" color="danger" fill="clear" size="small"
                        (click)="deleteCard(card, column.id)">
                        <ion-icon name="trash-outline"></ion-icon>
                      </ion-button>
                    </div>
                  </ion-item>
                </div>
              </ng-container>

              <ng-template #emptyOrLoading>
                <ng-container *ngIf="loading">
                  <ion-spinner name="crescent"></ion-spinner>
                </ng-container>
              </ng-template>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>