ion-content {
  --background: #ffffff;
}

ion-header {
  --background: #2d2b2b;
  border-bottom: 2px solid #000;
}

ion-card-title {
  color: #ffffff;
  background-color: #2d2b2b;
  --background: transparent;

}

ion-card-content {
  background-color: #2d2b2b;
  --background: transparent;
  
}

.kanban-title {
  text-align: center;
  padding: 20px 0; 
  color: #ffffff;
}

.column-header {
  text-align: center;
  background-color: #2d2b2b;
}

.column-card {
  background-color: #ffffff;
  border: 2px solid #000;
  border-radius: 15px;
}

.drop-zone {
  min-height: 200px;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #000;
  border-radius: 15px;
}

.card-item ion-item {
  margin-bottom: 10px;
  background-color: #ffffff;
  color: #181818;
  border: 2px solid #007BFF;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-item ion-item {
  --background: transparent;
  --color: #000;
}

.error-message {
  text-align: center;
  padding: 16px;
}

ion-spinner {
  display: block;
  margin: 0 auto;
}

ion-text[color="medium"] {
  display: block;
  text-align: center;
  padding: 16px;
}