.modal {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px 18px;

  h2 {
    font: normal 600 18px "Montserrat", sans-serif;
    margin: 0;
  }

  .content {
    font: normal 400 14px "Montserrat", sans-serif;
    margin: 0;
  }

  .button-group {
    display: flex;
    gap: 16px;
  }

  button {
    font: normal 500 14px "Montserrat", sans-serif;
    letter-spacing: normal;
    width: 100%;
    height: 40px;
    border-radius: 8px;
  }

  .delete-board {
    color: #fff;
    background-color: #DC2626;
  }
}
