<div class="form">
    <p class="form-title">Create Card</p>
    <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
        <div class="form-input">
            <input type="text" class="input" formControlName="title" placeholder="Title">
            <textarea type="text" class="textarea" formControlName="description" placeholder="Description"></textarea>
        </div>

        <div class="buttons">
            <button class="button" type="button" (click)="onCancel()">CANCEL</button>
            <button class="button" type="submit">SAVE</button>
        </div>
    </form>
</div>