<div class="container full">
    <div class="row">
        <div class="col-md-12 p0">
            <div class="menuBusca">
                <i class="fa-brands fa-github"></i>
                <input type="text" name="buscarRepositorio" [(ngModel)]="termoBusca" placeholder="Search or jump to..." (keydown.enter)="buscarRepositorio()">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-regular fa-bell"></i>
                <div class="menuIcones">
                    <i class="fa-solid fa-plus"></i>
                    <i class="fa-solid fa-caret-down"></i>
                </div>
                <div class="menuPerfil">
                    <img src="assets/perfil.jpg" alt="">
                    <i class="fa-solid fa-caret-down"></i>
                </div>
            </div>
        </div>
    </div>
</div>
    