<h2 mat-dialog-title>Alterar senha</h2>
<form #passwordForm="ngForm" (ngSubmit)="changePassword()">
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>Senha atual</mat-label>
            <input matInput [(ngModel)]="currentPassword" type="password" name="currentPassword" required #currentPasswordField="ngModel">
            <mat-error *ngIf="currentPasswordField.invalid && currentPasswordField.touched">
                Por favor, insira a senha atual.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nova senha</mat-label>
            <input matInput [(ngModel)]="newPassword" type="password" name="newPassword" required minlength="8" #newPasswordField="ngModel">
            <mat-error *ngIf="newPasswordField.invalid && newPasswordField.touched">
                A nova senha deve conter pelo menos 8 caracteres.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirme a nova senha</mat-label>
            <input matInput [(ngModel)]="confirmNewPassword" type="password" name="confirmNewPassword" required [pattern]="newPassword" #confirmNewPasswordField="ngModel">
            <mat-error *ngIf="confirmNewPasswordField.invalid && confirmNewPasswordField.touched">
                As senhas devem ser iguais.
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [disabled]="!passwordForm.valid">Alterar</button>
        <button mat-button mat-dialog-close>Cancelar</button>
    </mat-dialog-actions>
</form>