header{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #673ab7;
    box-shadow: 0px 3px 6px #673ab7;
    
}
header a {
    margin: 10px;
}
header a img{
    width: 40px;
}
main{
    height: calc(100%-60px);
}