/* ==========================================================================
Typography
========================================================================== */
p {
	font-size: $font-size;
	line-height: $line-height;
	color: $font-color;
}
h1 {
	font-size: $h1-font-size;
	color: $base-color;
}
h2 {
	font-size: $h2-font-size;
	color: $base-color;
}
h3 {
	font-size: $h3-font-size;
	color: $base-color;
	font-weight: $light;
}
h4 {
	font-size: $h4-font-size;
	color: $base-color;
	font-weight: $normal;
}
h5 {
	font-size: $h5-font-size;
	color: $base-color;
	text-transform: uppercase;
	font-weight: $bold;
}