//Colors
$white: #fff;
$black: #000;
$base-color: #2d3033;
$font-color: #6c7279;
$brand-color: #e84545;
$accent-color: #2b2e4a;
$nav-color: rgba($white, .75);

//Typography
$font: "Raleway", sans-serif;
$font-secondary: "Open Sans", sans-serif;
$font-accent: "Cardo", Georgia, 'Times New Roman', serif;

$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$font-size: 14px;
$h1-font-size: 65px;
$h2-font-size: 40px;
$h3-font-size: 28px;
$h4-font-size: 22px;
$h5-font-size: 14px;
$nav-font-size: 13px;

$line-height: $font-size * 1.6;

// Breakpoints
$bp-small: 320px;
$bp-small-2: 480px;
$bp-small-3: 568px;
$bp-medium: 640px;
$bp-medium-2: 768px;
$bp-large: 1024px;