:root {
  --primary: #4087C9;
  --primary-010: #3a76a1;

  --secondary: #06628a;
  --secondary-010: #06374e;

  --terciary: #A5D0F8;

  --txt-01: #F0F0F0;
  --txt-02: #9B9BA0;
  --txt-03: #2A2A30;

  --stroke-01: #F0F0F0;

  --bg-01: #121214;
  --bg-02: #1F1F31;
  --bg-03: #10101a;
}

:root .light-theme {
  --primary: #57a1d7;
  --primary-010: #3a76a1;

  --secondary: #06628a;
  --secondary-010: #06374e;

  --terciary: #A5D0F8;

  --txt-01: #3A3A3F;
  --txt-02: #555559;
  --txt-03: #F0F0F0;

  --stroke-01: #555559;

  --bg-01: #f0f0f0;
  --bg-02: #ffffff;
  --bg-03: #57A1D7;
}