.containerCharacters {
    padding-top: 30px;
    width: 80vw;
    min-height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card{
    min-height: 42.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}


@media (max-width: 999px) {
    .containerCharacters{
    overflow-x: hidden;
  }
  }
