<a href="/boards" role="button">
    Voltar
</a>
<div>
    <div>
        <h1>{{ board()?.title }}</h1>
    </div>
    <div style="display: flex; flex-direction: row; gap: 1rem;">
        @if (sortedColumns().length > 0) {
        @for (column of sortedColumns(); track $index) {
        <div>
            <div>
                <h3>{{ column.title }}</h3>
            </div>

            <!-- Lista de tasks da coluna -->
            <div class="tasks-container">
                @if (column.tasks && column.tasks.length > 0) {
                @for (task of column.tasks; track task.id) {
                <div class="task-card">
                    <p>{{ task.title }}</p>
                </div>
                }
                } @else {
                <p>Nenhuma tarefa</p>
                }
            </div>

            <div>
                <input type="text" placeholder="Adicionar tarefa"
                    (keyup.enter)="addTask(column.id, $any($event.target).value || '')" />
            </div>
        </div>
        }
        } @else {
        <p>Nenhuma seção adicionada</p>
        }
    </div>

</div>
<div>
    <div>
        <h2>Nova Seção</h2>
        <div>
            <form [formGroup]="columnForm" (ngSubmit)="addColumn()">
                <div>
                    <label>Nome</label>
                    <input formControlName="name" placeholder="Ex. Todo" />
                    @if (columnForm.get('name')?.invalid && columnForm.get('name')?.touched) {
                    <span class="error">Nome inválido</span>
                    }
                </div>
                <div>
                    <label>Posição</label>
                    <input type="number" formControlName="position" min="1" max="100" />
                    @if (columnForm.get('position')?.invalid && columnForm.get('position')?.touched) {
                    <span class="error">Posição inválida</span>
                    }
                </div>

                <button (click)="addColumn()" type="button">Adicionar</button>

            </form>
        </div>
    </div>
</div>