
app-menu{
    margin-right: 35px;
    width: 25%;
    background-color: #120a1b;
  
}
app-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    
}

@media screen and (max-width: 768px) {
    app-menu{
        visibility: hidden;
        display: none;
    }
    app-home{
        width: 100%;
        margin-left: 10px;
    }
}