.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: gray;
  width: 100vw;
  background-size: contain;
  background-position: center;
}

header {
  background-color: black;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header > button {
  border-radius: 100px;
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
}

header > button > img {
  margin: 0;
  padding: 0;
}

main {
  min-height: 86vh;
  width: 100vw;
}

footer {
  background-color: black;
  width: 100%;
  padding: 1rem;
}

a {
  color: white;
  opacity: 0.5;
  transition: .4s;
  text-decoration: underline;
  
}

a:visited {
  color: aqua;
}

a:hover {
  opacity: 1;
  background-image: linear-gradient(to right, white, rgb(63, 60, 60));
  border-radius: 5px;
  color: black;
}
