.busca_repositorio_input {
    display: block;
    width: 100%;
    font-size: 25px;
    padding: 1rem 0.5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.busca_repositorio_input:focus{
    border-bottom: 1px solid #111;
}

.repo_lista{
    list-style: none;
    margin: 0;
    padding: 1rem;
}