@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif 
}

a {
    text-decoration: none;
    color: rgb(9, 105, 218);
    font-weight: 500;
}

ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li {
    list-style: none;
    font-size: 12px;
    color: rgb(101, 109, 118);
}