@import "@angular/material/theming";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "../src/assets/css/table-prime-layout-aggrid.css";
@include mat-core();


$custom-app-primary: mat-palette($mat-deep-purple, 500);
$custom-app-secondary: mat-palette($mat-deep-purple, 900);
$custom-app-warn: mat-palette($mat-red, 700);

$custom-theme: mat-dark-theme(
  $custom-app-primary,
  $custom-app-secondary,
  $custom-app-warn
);

@include angular-material-theme($custom-theme);

html,
body {
  height: 100%;
  background-color: #111111;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
