.label {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  .__login {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    }

    .__login h1 {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      margin: 0px;
  };


    .__name {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      margin: 0px;



      }
      .__name h2{
        font-family: 'Poppins', sans-serif;
        margin: 0px;
        font-size: 25px;
        font-weight: 200;

      }
      .__name h1 {
        font-family: 'Poppins', sans-serif;
      font-size: 25px;
      margin: 0px;
      font-weight: 600;
}
.__logo{
  margin: 0px;
}
    }

