section {
    /* Define a área principal do conteúdo */
    height: 90vh; /* Ocupa 90% da altura da viewport */
    width: 100%; /* Ocupa toda a largura disponível */
    display: flex; /* Utiliza flexbox para organizar os itens filhos em linha */
    flex-direction: row; /* Organiza os itens filhos em linha */
    color: white; /* Define a cor do texto como branco */
    background-color: rgb(5, 5, 173);

    .navbar {
        /* Define a área da barra de navegação */
        height: 90vh; /* Mesma altura da seção */
        width: 5%; /* Ocupa 5% da largura disponível */
        box-shadow: 15px 0px 40px -27px black;
    }

    .content {
        /* Define a área do conteúdo principal */
        height: 90vh; /* Mesma altura da seção */
        width: 95%; /* Ocupa 95% da largura disponível */
        color: blue;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

footer {
    /* Define a altura do rodapé */
    height: 1vh; /* Ocupa 1% da altura da viewport */
    width: 100%; /* Ocupa toda a largura disponível */

    .footer {
        /* Define a cor de fundo do rodapé */
        background-color:rgb(1, 5, 23); /* Define a cor de fundo como azul */
        height: 1vh; /* Mesma altura do rodapé */
        width: 100%; /* Ocupa toda a largura disponível */
    }
}