<div class="todo">
<div class="container">
     <!-- COMPO ADICIONAR NOME DAS TAREFAS -->
        <form [formGroup]="todoForm">
            <mat-form-field appearance="outline" class="form">
              <mat-label>Nome da Tarefa</mat-label>
              <input formControlName="item" matInput>
            </mat-form-field>
            <!-- BOTÃO ADICIONAR NOME DAS TAREFAS -->
            <button *ngIf="!isEditEnabled" (click)="addTask()" mat-button [disabled]="todoForm.invalid" class="button">Adicionar</button>
              <!-- BOTÃO ATUALIZAR TAREFA -->
            <button *ngIf="isEditEnabled" (click)="updateTask()" mat-button [disabled]="todoForm.invalid" class="button">Atualizar</button>
          </form>
      </div>
    <div >
      <div cdkDropListGroup>
        <div class="column">
          <!-- COLUNA PENDÊNCIAS -->
          <div>
            <div class="example-container">
              <!-- TITULO COLUNA COM CONTADOR DE CARTÕES -->
              <h2 class="border">PENDÊNCIAS<span *ngIf="tasks.length > 0"> - {{tasks.length}}</span></h2>
              <div cdkDropList [cdkDropListData]="tasks" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of tasks; let i = index" cdkDrag>{{item.description}}
                  <div class="box">
                    <!-- BOTÃO DELETAR CARTÃO -->
                    <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
                    <!-- BOTÃO PARA TORNAR O CAMPO CARTÃO EDITAVEL -->
                    <button mat-icon-button color="primary" (click)="onEdit(item,i)"><mat-icon>edit</mat-icon></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- COLUNA EM ANDAMENTO -->
          <div >
            <div class="example-container">
              <!-- TITULO COLUNA COM CONTADOR DE CARTÕES -->
              <h2 class="border">EM ANDAMENTO<span *ngIf="inprogress.length > 0"> - {{inprogress.length}}</span></h2>
              <div cdkDropList [cdkDropListData]="inprogress" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of inprogress; let i = index" cdkDrag>{{item.description}}
                  <div class="box">
                    <!-- BOTÃO DELETE CAMPO EM ANDAMENTO -->
                    <button mat-icon-button color="warn"(click)="deleteInProgressTask(i)"><mat-icon>delete</mat-icon></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- COLUNA FEITO -->
          <div >
            <div class="example-container">
              <!-- TITULO COLUNA COM CONTADOR DE CARTÕES -->
              <h2 class="border">FEITO<span *ngIf="done.length > 0"> - {{done.length}}</span></h2>
              <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done;let i = index" cdkDrag>{{item.description}}
                  <div class="box">
                    <!-- BOTÃO DELETE CAMPO EM FEITO -->
                    <button mat-icon-button color="warn"(click)="deleteDoneTask(i)"><mat-icon>delete</mat-icon></button>
                      <!-- ICONE CHECK NO CAMPO FEITO -->
                    <button mat-icon-button style="color: green;"><mat-icon>check_circle</mat-icon></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

