<div class='overflow-x-auto'>
  <div class="flex">
    <div class="w-1/3 flex-shrink-0 p-4">
      <div class="bg-gray-100 rounded-xl p-4 drop-shadow-md">
        <div class="flex flex-row">
          <div class="basis-full ">
            <h2 class="text-xl font-semibold mb-4">Nome Nome Nome Nome Nome</h2>
          </div>
          <div class="text-right px-2">
            <span class="text-gray-500 fas fa-ellipsis-h"></span>
          </div>
        </div>
        <div class='bg-white rounded-xl p-3 drop-shadow-sm my-2'>
          <div class="flex flex-row mb-3">
            <div class="basis-full line-clamp-1 overflow-ellipsis">
              <h3 class="text-lg">Titulo Titulo Titulo Titulo Titulo Titulo Titulo Titulo Titulo Titulo</h3>
            </div>
          </div>
          <p class="line-clamp-3 text-pretty text-slate-500/75 ">Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Duis aliquam ipsum sit amet erat ullamcorper venenatis sed eu
            arcu. Etiam pharetra magna eget tortor laoreet, eu imperdiet nisl tincidunt. Ut nec ipsum orci. In sem
            ipsum, porta eu
            dui nec, placerat sodales tellus. In porttitor dapibus velit, ut rutrum nisl sodales nec. Donec sit amet
            tortor
            hendrerit, tincidunt augue id, suscipit lectus. Phasellus eget pellentesque massa. Nulla ac nisl vitae purus
            consectetur
            faucibus. In elementum magna sed eros suscipit, vitae ultrices nulla ultricies.

            Praesent purus nibh, porta sed molestie vel, dictum non ante. Nullam faucibus ultrices velit vitae pulvinar.
            Integer
            fermentum diam at accumsan volutpat. Mauris luctus ante eget tempus ornare. Integer eget felis interdum,
            feugiat lectus
            suscipit, egestas nisi. Morbi rhoncus diam nec tortor porttitor eleifend. Mauris et scelerisque risus. Proin
            ac felis
            dictum risus pretium consequat.</p>
            <div class="mt-3 text-slate-500/75">
              <small><span class="far fa-clock mr-1D"></span> 26 de fev</small>
            </div>
        </div>
        <div class='p-2 mt-4 rounded-lg cursor-pointer transition duration-150 ease-in-out text-slate-500 hover:bg-gray-200'>
          <span class="fas fa-plus stroke-0"></span> <span class="font-semibold"> Adicionar cartão</span>
        </div>
      </div>
    </div>

    <div class="w-1/3 flex-shrink-0 p-4">
      <div class="bg-gray-400/50 p-4 rounded-lg transition duration-150 ease-in-out text-slate-600 hover:bg-gray-400/25 hover:text-slate-400 cursor-pointer">
        <span class="fas fa-plus stroke-0"></span> <span class="font-semibold"> Adicionar lista</span>
      </div>
    </div>

  </div>
</div>
