<div class="containerMovies">
  <div class="filter">
    <app-filter-movie (movieTitle)="handleMovieTitle($event)"></app-filter-movie>
  </div>
  <div class="card">
    <ng-container *ngFor="let item of movies">
      <app-card-movie [academyAwardNominations]="item.academyAwardNominations"
        [academyAwardWins]="item.academyAwardWins" [boxOfficeRevenueInMillions]="item.boxOfficeRevenueInMillions"
        [budgetInMillions]="item.budgetInMillions" [titleMovie]="item.name"
        [rottenTomatoesScore]="item.rottenTomatoesScore" [runtimeInMinutes]="item.runtimeInMinutes">
      </app-card-movie>
    </ng-container>
  </div>
  <div class="pagination">
    <app-pagination [totalPage]="totalPages" (currentPage)="handleCurrentPage($event)"></app-pagination>
  </div>
</div>