.column {
  background: #e2e4e6;
  border-radius: 6px;
  padding: 12px;
  width: 280px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-right: 16px;

  & .column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    h3 {
      margin: 0;
      font-size: 18px;
      color: #333;
    }

    .delete-btn {
      background: transparent;
      border: none;
      font-size: 18px;
      cursor: pointer;
      color: #c00;
      line-height: 1;
      transition: color 0.2s;

      &:hover {
        color: #900;
      }
    }
  }

  .cards-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    flex-grow: 1;
    .add-card-btn {
        margin-top: 12px;
        padding: 6px;
        width: 100%;
        background: #61dafb;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;

        &:hover {
          background: #21a1f1
        }
      }
    }
  }
