@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
  
  .Nav_header {
    display: flex;
    justify-content: center;
  }

  .Nav_nav { 
   width: 100%;
   gap: 0.5rem;
  }

  .countainerLeftNav {
    gap: 0.5rem;
  }

  .main_content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .results {
    margin: 0;
  }

  .filters {
    width: 100%;
    position: relative;
    padding: 0;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
  }

  .filters h2 {
    text-align: center;
  }

  .cards_section {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 10px;
    justify-content: center;
  }

}

@media screen and (min-width: 601px) {
  .containerLeftNav {
    gap: 1.5rem;
  }
}

