@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html, body, #root {
  height: 100% !important;
}

body {
  background: rgba(246, 248, 250, 1);
  -webkit-font-smoothing: antialiased;
}

input {
  border-radius: 0 !important;
}

.input-group button {
  border-radius: 0 !important;
}

.form-control:focus {
  box-shadow: none;
}

.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25) !important;
}

.fw6 {
  font-weight: 600;
}

.mt-9em {
  margin-top: 9em !important;
}

.loading {
  animation: loading 2s infinite linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
