.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    } 

   
        .slideInUp {
            -webkit-animation-name: slideInUp;
            animation-name: slideInUp;
            -webkit-animation-duration: 1s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            }
            @-webkit-keyframes slideInUp {
            0% {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            visibility: visible;
            }
            100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            }
            }
            @keyframes slideInUp {
            0% {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            visibility: visible;
            }
            100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            }
            } 
