<main class="body"> 

   
<div class="main">

        
    <div class="pic">

        <img class="slideInDown" src="../../assets/Rick-And-Morty-PNG-Image.png">
    
    </div>
        
    <div class="info-text">

            <div class="tittle slideInDown">
                <img src="../../assets/Rick-And-Morty-Logo.png">
            </div>
                <p class="slideInDown">Bem vindo a API do rick and morty!
                    Aqui voce encontrara todos os personagens disponiveis no desenho,
                    para comercar a aventura clique em START e busque seus personagens favoritos,
                    clicando nos personagens voce vera algumas das caracterisctas especificas, aproveite!!
                </p>
            <div class="btn-start slideInUp">
                <a routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page"><button>START</button> </a>
             </div>
    </div>
 </div>

</main>



