$color-primary: #222;
$color-secondary: #235399;
$color-tertiary: #FF666C;
$color-black: #000;
$color-white: #FFF;
$transparent: transparent;
$color-black-transparent: rgba(255, 255, 255, 0.16);





