@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-item-style {
    @apply h-16 text-neutral-500 flex items-center border-b-4 pt-2 border-transparent hover:text-white transition-all
  }
}

@font-face {
  font-family: Marvel;
  src: url('../assets/fonts/MarvelRegular-Dj83.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Marvel, Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
