<div class="root" *ngIf="isMobile || scrolled" [@listAnimation]="content.length">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="content" *ngIf="isMobile">
        <div class="link">
          <i class="fa fa-pencil-square me-2"></i>
          <span>Styleguide</span>
        </div>
      </div>

      <div class="content" *ngIf="!isMobile">
        <ng-container *ngFor="let item of content">
          <div class="link" routerLinkActive="highlight" [routerLink]="item.route">
            <i [class]="item.icon"></i>
            <span>{{ item.label }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </nav>
</div>