<div class="kanban">
  
    <div class="navbar-kanban"><h1 class="navbar-text">K A N B A N</h1></div>
    <button class="column-add" (click)="openFormColumn()"><b>+ Column</b></button>
    <div class="column">
      
        <app-column *ngFor="let column of columns"[columnModel] = "column" class="column-item" (createCardClicked)="openFormCard($event)"></app-column>
   
    <div *ngIf="showFormCard" class="form-overlay">
    <app-form-card
      [initialColumnId]="selectColumnId!"
      (cardCreated)="cardFormClosed()"
      (formCancelled)="cardFormClosed()"
    ></app-form-card>
  </div>
    <div *ngIf="showFormColumn" class="form-overlay">
    <app-form-column
      (columnCreated)="columnFormClosed()"
      (formCancelled)="columnFormClosed()"
    ></app-form-column>
  </div>

    </div>
</div>