<mat-paginator [pageIndex]="pageNumber - 1" [length]="total" [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 50, 100, 200]" (page)="onPageChange($event)">
</mat-paginator>
<section class="content-image" *ngIf="!allRepos || allRepos.length === 0">
    <h1>Por favor, pesquise um repositório para exibir a lista.</h1>
    <img src="./../../../../assets/undraw_web_search_re_efla.svg" alt="search repositories image">
</section>
<section *ngIf="allRepos" class="content-repos" data-test-id="reposSection">
    <div class="repo" *ngFor="let repo of allRepos">
        <h2>{{ repo.full_name }}</h2>
        <p>{{repo.description}}</p>
        <span><b>Watchers:</b> {{ repo.watchers}}</span>
        <a href="{{repo.clone_url}}" target="_blank">Link para o repositorio</a>
        <div class="content-topics">
            <div class="topic" *ngFor="let topic of repo.topics">
                <span>{{topic}}</span>
            </div>
        </div>

    </div>
</section>