<article class="app-card">
  <div class="row">
    <div class="col-md-2 app-card__container-image">
      <img src="{{ character.image}}" alt="" class="container-image__image">
    </div>
    <div class="col-md-10 app-card__information">
          <h2 class="information__title">{{character.name}}</h2>
          <p class="information__description">Descrição: {{ character.description }}</p>
          <p class="information__stories">Historias: {{ character.stories }}</p>
    </div>
  </div>
</article>
