/* Font configuration imported from Google Fonts */
.Inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


section {
    height: 86.5vh; 
    width: 100%;
    background-color: rgb(57,60,69);
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    font-family: inter;
    font-size: 15px;
    
}

.section{
    height: 100%; 
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.dataUser{
    
    height: 75%;
    width: 80%;
    color: white;
    background-color: rgb(32,31,38);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A8A7AD;
    border: solid 1px rgb(41, 40, 49);
    box-shadow: 0px 0px 10px rgb(41, 40, 49);
    border-top: solid 5px rgb(23, 23, 23);  
}

.logout{
    height: 20%;
    width: 80%;
    color: white;
    background-color: rgb(32,31,38);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    color: #A8A7AD;
    border: solid 1px rgb(41, 40, 49);
    box-shadow: 0px 0px 10px rgb(41, 40, 49);
    border-top: solid 5px rgb(23, 23, 23);
    gap: 30px;
}
.logout:hover{
    cursor: pointer;
    background-color: rgb(27, 25, 30);
}

nav{
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.navbar{
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.kanban{
    background-color: rgb(32,31,38);
    height: 45%;
    width: 100%;
    cursor: pointer;
    border: solid 1px rgb(41, 40, 49);
    box-shadow: 0px 0px 10px rgb(41, 40, 49);
    color: #A8A7AD;
    border-top: solid 5px rgb(23, 23, 23);
    transition: .3s;

    

    .titleKanban{
        height: 20%;
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 25px;
    }

    .contentKanban{
        height: 80%;
        width: 100%;
        padding-left: 10px;
        display: flex;
        align-items: end;
        
        flex-direction: row;
        padding-bottom: 10px;
        gap: 10px;

        .descriptionKanban{
            width: 80%;
        }
        .iconKanban{
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.kanban:hover{
    background-color: rgb(30, 28, 35);
    box-shadow: 0px 0px 3px #A8A7AD;
    color: #757576;

    .bi-kanban{
        color: white;
    }
}

.info{
    height: 55%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #A8A7AD;

    .aboutDeveloper{
        background-color: rgb(32,31,38);
        height: 100%;
        width: 45%;
        cursor: pointer;
        border: solid 1px rgb(41, 40, 49);
        box-shadow: 0px 0px 10px rgb(41, 40, 49);
        color: #A8A7AD;
        border-top: solid 5px rgb(23, 23, 23);
        transition: .3s;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .aboutDeveloper:hover{
        background-color: rgb(30, 28, 35);
        box-shadow: 0px 0px 3px #A8A7AD;
        color: #757576;

        .bi-code-slash{
            color: white;
        }
    }

    .helpMe{
        background-color: rgb(32,31,38);
        height: 100%;
        width: 45%;
        cursor: pointer;
        border: solid 1px rgb(41, 40, 49);
        box-shadow: 0px 0px 10px rgb(41, 40, 49);
        color: #A8A7AD;
        border-top: solid 5px rgb(23, 23, 23);
        padding: 10px;
        transition: .3s;
        display: flex;
        justify-content: space-between;
        flex-direction: column; 
    }

    .helpMe:hover{
        background-color: rgb(30, 28, 35);
        box-shadow: 0px 0px 3px #A8A7AD;
        color: #757576;

        .bi-question-lg{
            color: white;
        }
    }
}

.content{
    height: 100%;
    width: 100%;

    .icons{
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;        
    }
}







i{
    font-size: 100px;
    transition: .3s;
}

/*rodapé da pagina*/
footer {
    height: 3.5vh; 
    width: 100%; 

    .footer {
        background-color:rgb(32,31,38); 
        height: 3.5vh; 
        width: 100%; 
    }
}
