html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

html {
    background-color: #ffffff;
    background-image: url("./assets/IceCreamPattern.svg");
    background-repeat: repeat;
    overflow-y: auto !important;
}