<!-- navbar -->
 <div class="navbar">
  <div>
    <strong>Kanban FieldControl</strong>
  </div>
 </div>
<div class="kanban-board">
  <!-- Formulário para adicionar coluna -->
    <div class="add-column-form">
        <input #columnTitle id="columnTitle" type="text" placeholder="Add Column" />
        <br>
        <button (click)="addColumn(columnTitle.value)">Add Column</button>
    </div>

  <div class="columns">
    <div *ngFor="let column of columns" class="column">
      <h3>{{ column.title }}</h3>

      <!-- Formulário para adicionar card -->
      <div class="add-card-form">
        <input
          #cardTitle
          type="text"
          placeholder="Card Title"
          [attr.aria-label]="'Card Title for ' + column.title"
        />
        <input
          #cardDescription
          type="text"
          placeholder="Card Description"
          [attr.aria-label]="'Card Description for ' + column.title"
        />
        
        <div class="flex" style="justify-content: space-between;">
          <button (click)="addCard(column.id, cardTitle.value, cardDescription.value)">
            Add Card
          </button>
  
          <button (click)="deleteColumn(column.id)" class="delete-button">
            Delete column
          </button>
        </div>
      </div>

      <!-- Lista de cards dentro da coluna -->
      <ul class="cards">
        <li *ngFor="let card of column.cards" class="card" (click)="openModal(card)">
          <div id="cardTitle">
          <strong>{{ card.title }}</strong>
          </div>
        </li>
      </ul>
      
      <!-- Modal para exibir detalhes do card -->
      <div
      *ngIf="selectedCard"
      class="modal-overlay"
      (click)="closeModal()"
      >
        <div
          class="modal-content"
          (click)="$event.stopPropagation()"
        >
          <h2>{{ selectedCard.title }}</h2>
          <p>{{ selectedCard.description }}</p>
      
      <div id="cardButtons">
        <button
          (click)="deleteCard(selectedCard.id)"
          (click)="closeModal()"
          class="delete-button"
        >
          Delete card
        </button>
          <button (click)="closeModal()">Close</button>
      </div>
    </div>
    </div>
  </div>
</div>
  