.header{
    background-color: rgba(0, 0, 0, 0.5);
    height: 130px;
}
.Nav{
    height: 50px;
    width: 50px;
    margin-top: 40px;
    margin-left: 10PX;
    border-radius: 50px;
}
.Nav:hover{
    background-color: black;
    color: aquamarine;
}