/* Coluna no quadro Kanban */
.kanban-column {
    position: relative;
    flex: 1;
    margin-right: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
}

/* Cartões dentro de cada coluna */
.kanban-cards {
    margin-top: 10px;
}

/* Botões da coluna */
.column-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Botão de remover a coluna */
.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
    padding: 5px;
    font-weight: bold;
}

.delete-button:hover {
    color: red;
}