/* Coluna no quadro Kanban */
.kanban-column {
    position: relative;
    flex: 1;
    margin-right: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
}

.kanban-column .drag-handle h2 {
    word-break: break-all;
}

.kanban-column .drag-handle i {
    font-size: 0.6em;
}

/* Cartões dentro de cada coluna */
.kanban-cards {
    margin-top: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    word-break: break-all;
}

/* Botões da coluna */
.column-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Botão de remover a coluna */
.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
    padding: 5px;
    font-weight: bold;
}

.delete-button:hover {
    color: red;
}

.drag-handle {
    cursor: grab;
}

.drag-handle:active {
    cursor: grabbing;
}
