<div class="kanban-column" cdkDropList [id]="title" (cdkDropListDropped)="dropCard($event)">
  <div class="drag-handle">
    <h2><i class="fas fa-grip-vertical"></i> {{ title }}</h2>
  </div>
  <!-- Botão para remover a coluna -->
  <button class="delete-button" (click)="removeColumn()">x</button>
  <!-- Renderiza os cartões da coluna -->
  <div class="kanban-cards">
    <app-card 
      *ngFor="let card of cards; let i = index" 
      [title]="card.title"
      [description]="card.description"
      (cardRemoved)="removeCard(i)"
      cdkDrag
    ></app-card>
  </div>
  <!-- Botão para abrir o diálogo -->
  <button type="button" class="btn btn-primary" (click)="openAddCardDialog()">
    Adicionar Cartão
  </button>
</div>