.card {

  &.default {
    width: 100%;
    height: 140%;
    margin-top: -10%;
  }

  &.login {
    width: 100%;
    height: 140%;
    margin-top: -10%;
  }

  // &.large {
  //   /* Estilos específicos para o tamanho "large" */
  // }

  // &.extra-large {
  //   /* Estilos específicos para o tamanho "extra-large" */
  // }
}

.card-header {
  font-weight: bold;
  margin-bottom: 12px;
}

.card-body {
  margin-top: 12px;
}
