* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #6c7279;
  font: 400 16px "Raleway", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1275px;
}

a:focus,
button:focus {
  outline: #e84545 dotted 3px;
  outline-offset: 0.3em;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  max-width: 80ch;
}

.main-title {
  color: #fff;
  font: 700 2rem "Open Sans", sans-serif;
  margin: 0 20px;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .main-title {
    font-size: 4.0625rem;
  }
}

.header__description {
  color: #fff;
  font-size: 1.375rem;
  font-weight: 300;
  margin: 10px 40px;
}

.secondary-title {
  color: #2d3033;
  font: 700 0.875rem "Raleway", sans-serif;
  line-height: 1.5;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.testimonial-section__text {
  font: italic 400 1.625rem "Cardo", Georgia, "Times New Roman", serif;
  margin: 20px 40px;
}
@media screen and (min-width: 990px) {
  .testimonial-section__text {
    font-size: 2.25rem;
  }
}

.testimonial-section__cite {
  font-size: 0.8125rem;
  font-weight: 600;
  margin-left: 40px;
  text-transform: uppercase;
}

.download-section__title {
  font-size: 1.75rem;
  font-weight: 300;
}

.footer__title {
  font-size: 0.875rem;
  margin: 20px;
  text-transform: uppercase;
}

.nav-menu {
  align-items: center;
  border-bottom: 1px solid #54595e;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1170px;
  padding: 40px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.nav-menu__list {
  display: flex;
}
@media screen and (max-width: 1020px) {
  .nav-menu__list {
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 40px 20px;
    position: fixed;
    right: -100%;
    top: 0;
  }
  .nav-menu__list.active {
    right: 0;
  }
}
.nav-menu__items {
  margin: 10px 20px;
  text-transform: uppercase;
}
.nav-menu__links {
  color: #c9cccf;
  font: 700 0.8125rem "Raleway", sans-serif;
  text-decoration: none;
}
.nav-menu__links:hover {
  color: #fff;
}
@media screen and (max-width: 1020px) {
  .nav-menu__links {
    font-size: 1.5625rem;
    padding: 10px;
  }
}
@media screen and (min-width: 1170px) {
  .nav-menu {
    margin: 0 20px;
  }
}
@media screen and (min-width: 1250px) {
  .nav-menu {
    margin: 0 40px;
  }
}

.scrolled {
  background-color: #2b2e4a;
  border: none;
  margin: 0;
  max-width: none;
  padding: 20px 40px;
  transition: padding 0.3s;
  width: 100vw;
}
@media screen and (max-width: 1020px) {
  .scrolled {
    padding: 10px 20px;
  }
}

.header {
  background-image: url("../../img/banner.jpg");
  background-position: center top;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45% 0 150px;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 770px) {
  .header {
    padding: 20% 80px 150px;
  }
}

.features-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 10px 40px;
  text-align: center;
}
.features-section__cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
  padding-top: 40px;
  width: 300px;
}
.features-section__cards figcaption {
  font-size: 0.875rem;
}
@media screen and (max-width: 765px) {
  .features-section {
    flex-direction: column;
  }
}
@media screen and (min-width: 1040px) {
  .features-section {
    justify-content: space-around;
  }
}

.works-section {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  padding-top: 85px;
}
.works-section__cards {
  border: 1px solid #fff;
  color: transparent;
  height: 350px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.works-section__cards img {
  height: 100%;
  width: 100%;
}
.works-section__cards:hover {
  color: #fff;
  cursor: pointer;
}
.works-section__cards:hover .works-section__infos {
  background: rgba(255, 69, 69, 0.6);
  transition: background-color, color, 0.3s;
  width: 100%;
}
@media screen and (min-width: 781px) {
  .works-section__cards:hover .works-section__infos {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .works-section__cards:hover .works-section__infos {
    width: 25%;
  }
}
@media screen and (min-width: 781px) {
  .works-section__cards {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .works-section__cards {
    width: 25%;
  }
}
.works-section__infos {
  height: 350px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align: center;
}

.team-section {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 80px 40px 0;
  width: 100%;
}

.testimonial-section {
  background-color: #53354a;
  color: #fff;
  padding-top: 90px;
}
.testimonial-section blockquote {
  padding-bottom: 40px;
}

.download-section {
  color: #2d3033;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
  padding: 40px;
  text-align: center;
}
.download-section p {
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
}
.download-section .btn-more {
  margin-top: 20px;
}

.footer {
  background-color: #3a3e64;
  color: #fff;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  text-align: center;
}
.footer .infos {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 40px;
}
.footer .infos div {
  margin-bottom: 40px;
}
@media screen and (min-width: 990px) {
  .footer .infos {
    flex-direction: row;
  }
  .footer .infos div {
    width: 30%;
  }
}
.footer p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
}
.footer .social-medias {
  justify-content: center;
}
.footer .social-medias a {
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
}

.copyright {
  background-color: #2b2e4a;
  padding: 20px 0;
  width: 100%;
}
.copyright p {
  margin: 0 auto;
}
.copyright a {
  color: #fff;
  text-decoration: none;
}
.copyright a:hover {
  color: #e84545;
}

.fa-heart {
  color: #e84545;
}

.icon-menu {
  background-color: #e84545;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
}
@media screen and (min-width: 1020px) {
  .icon-menu {
    display: none;
  }
}

.bar1,
.bar2,
.bar3 {
  background-color: #fff;
  height: 4px;
  margin: 3px 0;
  transition: 0.4s;
  width: 30px;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-7px, -7px);
}

.btn-more {
  background-color: #e84545;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  margin-top: 80px;
}
.btn-more:hover {
  background-color: #e52e2e;
  transition: background-color, color, 0.3s;
}
.btn-more__link {
  color: #fff;
  display: block;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn-close-modal {
  align-items: center;
  background-color: #e84545;
  border: 2px solid #2d3033;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  height: 50px;
  width: 50px;
  justify-content: center;
  left: 95%;
  position: absolute;
  top: -17px;
}
@media screen and (max-width: 770px) {
  .btn-close-modal {
    left: 90%;
  }
}

.social-medias {
  display: flex;
  margin: 10px 0 40px;
}
.social-medias a {
  border: 1px solid #c6cacc;
  color: #c6cacc;
  font-size: 1.125rem;
  margin-right: 10px;
  padding: 10px;
}
.social-medias a:hover {
  background-color: #e84545;
  border-color: #e84545;
  color: #fff;
  transition: background-color, color, 0.3s;
}

.modal {
  background-color: #fff;
  border: 2px solid #2d3033;
  border-radius: 5px;
  padding: 20px;
  position: fixed;
  top: 25%;
  left: 20%;
  width: 60vw;
  display: none;
  z-index: 2;
}
.modal img {
  border: 2px solid #2d3033;
  width: 100%;
}
@media screen and (max-width: 770px) {
  .modal {
    left: 0;
    padding: 10px;
    width: 100vw;
  }
}

.team-member-card {
  margin: 20px 10px;
  max-width: 270px;
}
.team-member-card__name {
  color: #2d3033;
  font-size: 1.375rem;
  font-weight: 400;
  margin-top: 10px;
}
.team-member-card__work {
  color: #e84545;
  font-size: 0.8125rem;
  font-weight: 400;
  text-transform: uppercase;
}
.team-member-card__about {
  margin: 20px 0 40px;
}

.slider img {
  height: 100%;
  width: 100%;
}
.slider__content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 770px) {
  .slider__content {
    flex-direction: column;
  }
}