:root{
    --primary:#317ced;
    --primary-010: #0358d8;
    --primary-020: #012a68;

    --white:#fcfcfc;

    --black: #10101a;
    --black-010: #2a2a30;
    
    --grey:#9b9ba0;
    
}

.central-col,
.central-row,
.centralized{
    display:flex;
    justify-content: center;
    align-items: center;
}
.central-col{
    flex-direction: column;
}
.central-row{
    flex-direction: row;
}
